@use 'sass:math';
@use '../base/mixins' as m;
@use '../base/variables' as v;

@include m.buttons() {
  @include m.shadowed(var(--shadow-color));

  border: none;
  background-color: var(--button-base-background);
  color: var(--stand-out-color);
  font-weight: v.$stand-out-font-weight;
  padding: 0 v.$spacer-h;
  display: inline-block;
  text-align: center;
  border-radius: 0;
  height: v.$line-height;
  cursor: pointer;

  &.not-favorite {
    &:hover {
      color: var(--state-ok);
    }
  }

  &.favorite {
    color: var(--state-ok);

    &:hover {
      color: var(--state-warning);
    }
  }

  &[disabled],
  &.disabled {
    @include m.shadowed(var(--shadow-color));

    background-image: var(--overlay-image);
    color: var(--state-mute);
    cursor: not-allowed;
  }

  &:active:not([disabled], .disabled) {
    @include m.shadowed--half(var(--shadow-color));

    transform: translateX(math.div(v.$char-width, 4)) translateY(math.div(v.$char-width, 4));
  }

  &.small {
    padding: 0;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.destructive {
    color: var(--state-danger-inverse);
    background-color: var(--state-danger);
  }

  &.creative {
    color: var(--state-suggestion-inverse);
    background-color: var(--state-suggestion);
  }

  &.recorder {
    color: var(--state-ok-inverse);
    background-color: var(--state-ok);
  }

  &.close {
    color: var(--state-danger-inverse);
    background-color: var(--state-danger);
    float: right;
  }

  &.string {
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;

    &:not([disabled]) {
      &:active {
        box-shadow: none;
        transform: none;
      }
    }
  }
}
