@use '../base/variables' as v;

code {
  background-color: var(--code-background);
  color: var(--code-text);
}

pre {
  background-color: var(--code-background);
  color: var(--code-text);
  overflow-y: auto;
  border-left: v.$spacer-h solid var(--border-color);
  padding-left: v.$spacer-h;

  &:not(:last-child) {
    margin-bottom: v.$spacer-v;
  }

  > code {
    background-color: transparent;
  }
}
