@use '../base/variables' as v;
@use '../base/mixins' as m;

dl {
  @include m.grid(small-up);

  grid-template-columns: auto auto;

  dt {
    color: var(--stand-out-color);
    font-weight: v.$stand-out-font-weight;
    text-align: right;
    display: inline-block;
  }
}
