@use '../base/variables' as v;

figure {
  > blockquote {
    > figcaption,
    ~ figcaption {
      text-align: right;

      &::before {
        content: '— ';
      }
    }
  }

  &[data-type="image"] {
    text-align: center;
    margin-bottom: v.$spacer-v;

    img {
      max-height: 80vh;
    }
  }
}
