@use '../base/variables' as v;

label {
  font-weight: v.$stand-out-font-weight;
  margin-right: v.$spacer-h;
  color: var(--stand-out-color);
}

textarea {
  display: block;
  height: #{8 * v.$line-height};
}

textarea,
select,
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="hidden"],
input[type="image"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="radio"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: none;
  background-color: var(--input-background);
  color: var(--base-color);
  width: 100%;
  border-radius: 0;

  &:focus {
    outline: none;
    background-color: var(--input-active-background);
  }

  &:invalid {
    border-left: v.$char-width solid var(--state-danger);
    box-shadow: none;
    padding-left: v.$char-width;
  }

  &:disabled {
    color: var(--state-mute);
  }

  &:required {
    border-left: v.$char-width solid var(--state-warning);
    box-shadow: none;
    padding-left: v.$char-width;
  }

  &:valid {
    border-left: v.$char-width solid var(--state-ok);
    padding-left: v.$char-width;
  }

  &::placeholder {
    color: var(--state-mute);
  }
}

// Generic checkbox
input[type="checkbox"] {
  appearance: none;
  border: none;
  background-color: transparent;
  display: inline-flex;
  align-items: baseline;
  position: relative;
  max-width: v.$char-width;
  width: v.$char-width;
  margin: 0 v.$char-width;
  outline: none;
  color: var(--base-color);

  &::before {
    display: inline-block;
    width: v.$char-width;
    text-align: center;
    content: '[';
    background-color: transparent;
    transform: translateX(-#{v.$char-width});
  }

  &::after {
    display: inline-block;
    width: v.$char-width;
    text-align: center;
    content: ']';
    background-color: transparent;
  }
}

label > input[type="checkbox"] {
  margin-right: v.$char-width;
}

input[type="checkbox"]:checked {
  background-color: currentcolor;
}
