@use '../base/variables' as v;

a {
  color: var(--link-color);
  font-weight: inherit;
  word-break: break-word;

  &:hover {
    color: var(--link-color-hover);
  }

  &.active {
    font-weight: v.$stand-out-font-weight;
  }
}
