@use '../base/variables' as v;
@use '../base/mixins' as m;

h1 {
  font-weight: v.$stand-out-font-weight;
  text-align: center;
  color: var(--stand-out-color);

  @include m.respond-to(medium-up) {
    &::before,
    &::after {
      color: var(--base-color);
    }

    &::before {
      content: '▂▃▅▇█▓▒░ ';
    }

    &::after {
      content: ' ░▒▓█▇▅▃▂';
    }
  }
}

h2 {
  background-color: var(--element-title-background);
  color: var(--stand-out-color);
}

h1,
h2 {
  margin: v.$spacer-v 0;
  padding: v.$spacer-v v.$spacer-h;

  &:first-child {
    margin-top: 0;
  }
}

.date-separator {
  background-color: transparent;
  color: var(--stand-out-color);
  padding: 0;

  &::after {
    content: ' ◣';
    color: var(--state-mute);
  }

  &::before {
    content: '◢ ';
    color: var(--state-mute);
  }
}
