@use '../base/variables' as v;

ul,
ol {
  margin-left: v.$spacer-h;

  li {
    list-style-type: '*';
    margin-left: v.$spacer-h;
    padding-left: v.$spacer-h;

    &.separator::before {
      content: '~~~';
      text-align: center;
      display: block;
    }
  }

  &:not(:last-child) {
    margin-bottom: v.$spacer-v;
  }

  &.unstyled {
    margin: 0;

    > li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}
