<template>
  <div v-if="errors" class="alert alert--alert">
    <api-error-list :errors="errors" />
  </div>
</template>

<script>
import ApiErrorList from './api_error/_list.vue'

export default {
  name: 'ApiError',
  components: { ApiErrorList },
  props: {
    errors: { required: true, type: [Object, Boolean] },
  },
}
</script>
