<template>
  <textarea :id="id" ref="input" />
</template>

<script>
export default {
  name: 'CodemirrorTextarea',
  props: {
    id: { required: true, type: String },
    mode: { required: false, type: String, default: 'txt' },
    options: { required: false, type: Object, default: () => ({}) },
    value: { required: true, type: String },
  },
  data () {
    return { instance: null }
  },
  methods: {
    clear () {
      this.instance.instance.setValue('')
      this.$refs.input.value = ''
    },
  },
  created () {
    this.$nextTick(() => {
      const options = {
        lineNumbers: false,
        ...this.options,
      }
      this.instance = codeMirrorArea(this.id, this.mode, options, (cm) => {
        const value = cm.getValue()
        this.$refs.input.value = value
        this.$emit('input', value)
      })

      this.instance.instance.setValue(this.value)
    })
  },
}
</script>
