<template>
  <button class="destroy-button" @click="toggle">
    <span class="destroy-button__bar" :style="`width:${width}%`" />
    <span class="destroy-button__label">{{ string }}</span>
  </button>
</template>

<script>
const startTime = 2000

export default {
  name: 'DestroyButton',
  props: {
    action: { required: true, type: Function },
    text: { required: false, type: String, default: '' },
  },
  data () {
    return {
      time: startTime,
      interval: 200,
      timer: null,
      running: false,
    }
  },
  computed: {
    width () {
      return this.time / startTime * 100
    },
    string () {
      if (this.running) return this.$t('generic.cancel')
      return this.text || this.$t('generic.destroy')
    },
  },
  methods: {
    start () {
      this.running = true
      this.timer = setInterval(this.countdown, this.interval)
    },
    cancel () {
      this.reset()
      this.$emit('cancel')
    },
    toggle () {
      if (this.running) this.cancel()
      else this.start()
    },
    countdown () {
      if (!this.running) return
      this.time -= this.interval
      if (this.time <= -this.interval) {
        this.reset()
        this.$props.action()
      }
    },
    reset () {
      this.running = false
      clearInterval(this.timer)
      this.timer = null
      this.time = startTime
    },
  },
}
</script>
