<template>
  <!-- eslint-disable vue/no-v-html -->
  <div class="field-help" v-html="$t('generic.markdown_help_html_js', {link: link()})" />
  <!-- eslint-enable vue/no-v-html -->
</template>

<script>
export default {
  name: 'MarkdownFieldHelp',
  data () {
    return {
      help_url: 'https://commonmark.org/help/',
    }
  },
  methods: {
    link () {
      return `<a href="${this.help_url}" target="_blank" rel="noopener noreferer">${this.$t('generic.markdown_format_help')}</a> `
    },
  },
}
</script>
