= form_with model: acquaintance, url: member_acquaintances_path, data: { remote: false } do |f|
  - if acquaintance.errors.any?
    .alert.alert--alert
      %p= t('.errors', amount_str: pluralize(acquaintance.errors.count, 'error'))
      %ul
        - acquaintance.errors.full_messages.each do |message|
          %li= message

  .field.field--inline
    = f.label :email
    = f.text_field :email, type: 'email', required: true
  .form-actions
    = submit_tag t('.invite'), class: 'add'
