%p
  Acquaintances are people you personally know on Hellraiser.io.
%p
  In this current state, it is pretty useless but we are setting up an exchange
  system that will let you borrow things from your peers, so you can start to
  create your network right now.
%p
  To invite someone in your network, use the "Add invitee" form. If the person
  is not already on Hellraiser.io, an invite will be sent.
%p
  Once the person is invited, you will have to wait for its relationship approval.
