%p
  Les connaissances sont des personnes sur Hellraiser.io que vous connaissez
  personnellement.
%p
  En l'état, c'est un peu inutile, mais nous mettons en place un système d'échange
  de biens et de services locaux (entre connaissances), donc vous pouvez dès à
  présent commencer à créer votre réseau.
%p
  Pour inviter une personne dans votre réseau, entrez son adresse de courriel dans
  le formulaire "Ajouter une connaissance". Si la personne n'est pas inscrite sur
  Hellraiser.io, une invitation lui sera envoyée.
%p
  Une fois la personne invitée, vous allez devoir attendre qu'elle valide votre
  invitation.
