- @page_title = t('.title')

- add_modal render('member/acquaintances/index_help'), id: 'acquaintances_help', variant: 'info'

- content_for :page_actions do
  = show_modal_button t('generic.help'), id: 'acquaintances_help'

.content-layout
  %aside.content-layout__panel
    %section.element.element--panel
      %h2.element__title= t('.add_acquaintance')
      .element__content
        = render 'member/acquaintances/form', acquaintance: @acquaintance
    %section.element.element--panel
      %h2.element__title= t('.pending_cenobites_invitations')
      .element__content
        - if current_cenobite.pending_invitations.count.zero?
          .alert.alert--empty= t('.no_pending_invitation')
        - else
          %ul.invitations
            - current_cenobite.pending_invitations.each do |cenobite|
              %li
                %span.censored= cenobite.email
                = button_to t('.resend_email'),
                            resend_member_invite_path(cenobite),
                            method: :put,
                            role: 'button',
                            class: 'creative'
                = button_to t('generic.cancel'),
                            member_invite_path(cenobite),
                            method: :delete,
                            data: { confirm: t('.prevent_account_creation') },
                            role: 'button',
                            class: 'destructive'

  %article.content-layout__content
    - if @acquaintances.count.zero?
      .alert.alert--empty= t('.no_content')
    - else
      %table.table--items
        %thead
          %tr
            %th= t('.name_or_email')
            %th= t('.status')
            %th

        %tbody
          - @acquaintances.each do |acquaintance|
            - acquainted = acquaintance.acquainted(current_cenobite)
            %tr
              %td{ 'data-label' => t('.name') }
                %span= acquainted.name
                - if acquaintance.show_cenobite_email? acquainted
                  %span.censored (#{acquainted.email})
              %td{ 'data-label' => t('.status') }
                - if acquaintance.accepted_at
                  = t('.accepted_ago', time: time_ago_in_words(acquaintance.accepted_at))
                - else
                  = t('.sent_ago', time: time_ago_in_words(acquaintance.created_at))
                  - if same_cenobite? acquaintance.invitee_id
                    = button_to t('.accept_invite'),
                                accept_member_acquaintance_path(acquaintance),
                                method: :post,
                                role: 'button',
                                class: 'creative'
                  - elsif !acquaintance.accepted_at
                    = button_to t('.resend_email'),
                              resend_request_member_acquaintance_path(acquaintance),
                              method: :put,
                              role: 'button'
              %td.actions{ 'data-label' => t('generic.actions') }
                - if acquaintance.accepted_at
                  = link_to t('.revoke'),
                            member_acquaintance_path(acquaintance),
                            method: :delete,
                            data: { confirm: t('generic.are_you_sure') },
                            role: 'button',
                            class: 'destructive'
                - else
                  = button_to t('generic.cancel'),
                              member_acquaintance_path(acquaintance),
                              method: :delete,
                              data: { confirm: t('generic.are_you_sure') },
                              role: 'button',
                              class: 'destructive'
