@use '../base/mixins' as m;
@use '../base/placeholders';

.alert {
  @include m.shadowed(var(--shadow-color));

  @extend %box;

  background-color: var(--element-background);

  a {
    color: var(--link-inverse-color);

    &:hover {
      color: var(--link-inverse-color-hover);
    }
  }

  &--notice {
    color: var(--state-suggestion-inverse);
    background-color: var(--state-suggestion);
  }

  &--alert {
    color: var(--state-warning-inverse);
    background-color: var(--state-warning);
  }

  &--empty {
    background-color: transparent;
    color: var(--state-mute);
    box-shadow: none;
    text-align: center;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
