@use '../base/variables' as v;
@use '../base/mixins' as m;

// Logo
$chat-logo-top: #{3 * v.$spacer-v};

// Main page menu (not related to chat but used to compute heights)
$chat-page-menu-height: #{v.$spacer-v * 2};

// Overall chat
$chat-height-calc: '100vh - #{$chat-page-menu-height}';
$chat-height-calc-with-logo: '100vh - #{$chat-page-menu-height} - #{$chat-logo-top}';

// Chat elements
$chat-titles-height: v.$spacer-v * 3;
$chat-status-height: $chat-titles-height;
$chat-form-height: $chat-titles-height;

// Panel for large screens
$chat-panel-pinned-width: #{v.$spacer-h * 30};

// Panel for small screens
$chat-panel-open-width: 80vw;

// Elements in panel
$chat-rooms-height: #{v.$spacer-v * 13};

.chat {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: #{v.$spacer-v * 2} $chat-status-height auto $chat-form-height;
  height: calc(#{$chat-height-calc});

  // Needed so the logo is hidden
  background-color: var(--base-background);

  // "Remove" page padding
  margin-bottom: - #{v.$spacer-v};

  &-logo {
    background-color: transparent;
    border: none;
    position: absolute;
    display: none;
    z-index: -1;
    color: var(--logo-color);
    overflow-y: hidden;
    max-height: calc(100vh - #{v.$spacer-v});

    // There's a positioning issue when chat is displayed.
    margin-top: #{-$chat-logo-top - v.$spacer-v};
  }

  &-status {
    margin: 0;
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: v.$spacer-h;
    max-width: 100%;
    align-items: center;
    padding: v.$spacer-v v.$spacer-h;
    background-color: var(--element-title-background);

    &__title {
      flex: none;
      margin: 0;
      padding: 0;
      white-space: nowrap;
    }

    &__subtitle {
      flex-grow: 1;
      color: var(--state-mute);
      white-space: nowrap;
      width: 100%;
      overflow: hidden;

      &__inner {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        .chat-status__subtitle__inner {
          position: absolute;
          white-space: normal;
          overflow: auto;
          padding: v.$spacer-v v.$spacer-h 0 v.$spacer-h;
          margin: -#{v.$spacer-v * 1.5} 0 0 -#{v.$spacer-h};
          background-color: var(--element-title-background);
        }
      }
    }
  }

  &-panel {
    &__overlay {
      background: var(--overlay-image);
      z-index: v.$z-index-modal - 1;
      position: fixed;
      inset: 0;
    }

    &__actions {
      text-align: right;
    }

    &__title {
      margin: 0;
    }

    &__content {
      background-color: var(--panel-bg);
      padding: 0;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      display: grid;
      grid-template-rows: #{$chat-titles-height} #{$chat-rooms-height} auto;
    }

    h3 {
      padding: v.$spacer-v v.$spacer-h;
      color: var(--stand-out-color);
      font-weight: v.$stand-out-font-weight;
    }

    // V-bar elements (usually we would have styled the parent
    .vb {
      width: $chat-panel-open-width;
    }

    // V-bar elements (usually we would have styled the parent
    .vb-content {
      padding: 0 v.$spacer-h;
    }

    .chat-rooms {

      // Height for v-bar only
      .vb {
        height: calc(#{$chat-rooms-height} - #{$chat-titles-height});
      }

      &__actions {
        padding: v.$spacer-v #{v.$spacer-h * 2} v.$spacer-v v.$spacer-h;
      }

      &--full {
        .vb {
          height: calc(100vh - #{$chat-titles-height * 2});
        }
      }
    }

    .chat-roster {
      padding-right: v.$spacer-h;

      // Height for v-bar only
      .vb {
        height: calc(100vh - #{$chat-rooms-height} - #{$chat-titles-height});
      }

      &__participant {
        display: flex;

        > :not(:last-child) {
          flex-grow: 1;
          margin-right: v.$spacer-h;
        }
      }
    }
  }

  &-form {
    padding-top: v.$spacer-v;
    position: relative;
    display: flex;
    width: 100%;

    > :first-child { /* stylelint-disable-line no-descending-specificity */
      flex-grow: 1;
    }

    > :not(:first-child) { /* stylelint-disable-line no-descending-specificity */
      margin-left: v.$spacer-h;
    }

    &__input {
      display: flex;

      textarea {
        margin-right: v.$spacer-h;
        height: v.$spacer-v;
      }

      @for $i from 2 to 5 {
        &--#{$i} textarea {
          height: #{v.$spacer-v * $i};
        }
      }

      &--2,
      &--3,
      &--4 {
        textarea {
          position: absolute;
          bottom: 0;
          z-index: v.$z-index-modal;
        }
      }

      // Input wrapper
      > :first-child { /* stylelint-disable-line no-descending-specificity */
        margin-right: v.$spacer-h;
        position: relative;
        flex-grow: 1;
      }
    }

    &__poppin {
      position: absolute;
      bottom: v.$spacer-v;
      background-color: var(--element-background);
      padding: v.$spacer-v v.$spacer-h;
      max-width: 80vw;
      min-width: 50%;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      z-index: v.$z-index-modal;

      li {
        padding: 0 v.$spacer-h;
        margin: 0;
        list-style: none;

        &.active {
          background-color: var(--state-mute);
        }

        &.notice {
          padding-top: v.$spacer-v;
          color: var(--state-mute);
          text-align: right;
        }
      }
    }
  }

  &-messages {
    &__content {
      padding: 0 v.$spacer-h;
    }

    .alert {
      margin-left: v.$spacer-h;
      margin-right: v.$spacer-h;

      &--alert {
        margin-top: v.$spacer-v;
      }

      &--empty {
        margin-bottom: 0;
      }
    }
  }

  &-message {
    margin-bottom: v.$spacer-v;

    &__header {
      color: var(--state-mute);
    }

    h1, h2, h3, h4, h5, h6 { /* stylelint-disable-line selector-list-comma-newline-after */
      text-align: initial;
      margin: 0;
      padding: 0;
      &::after { content: none; }

      &::before { content: none; }
    }

    h1::before { content: '# '; }
    h2::before { content: '## '; }
    h3::before { content: '### '; }
    h4::before { content: '#### '; }
    h5::before { content: '##### '; }
    h6::before { content: '###### '; }

    img {
      max-height: 60vh;
      box-shadow: 0 0 0 1px var(--border-color);
      margin: v.$spacer-v 0;
    }

    video,
    audio {
      max-width: 100%;
    }

    &--system {
      margin: v.$spacer-v 0;
      color: var(--state-suggestion);
    }

    &--download {
      &::before {
        content: '↯';
        color: var(--state-suggestion);
      }
    }
  }

  &-room {
    width: 100%;
    display: flex;

    &--connected {
      .icon {
        color: var(--state-ok);
      }
    }

    &--disconnected {
      color: var(--state-danger);
    }

    &.active {
      background-color: var(--element-background);
    }

    &__link {
      display: flex;
      background: transparent;
      box-shadow: none;
      color: currentcolor;
      overflow: hidden;
      flex-grow: 1;
      text-align: left;
      font-weight: inherit;
      cursor: pointer;

      .icon {
        flex: none;
      }
    }

    .actions {
      display: none;

      :not(:last-child) {
        margin-right: v.$spacer-h;
      }
    }

    &:hover {
      .actions {
        display: flex;
      }
    }
  }
}

@include m.respond-to(small-up) {
  .chat {
    grid-column-gap: v.$spacer-h;
    grid-template-columns: auto #{$chat-panel-pinned-width};
    grid-template-rows: $chat-status-height auto $chat-form-height;

    &-status {
      grid-area: 1 / 1 / 2 / 3;
    }

    &-messages {
      grid-area: 2 / 1 / 3 / 2;
    }

    &-panel {
      grid-area: 2 / 2 / 3 / 3;
      width: $chat-panel-pinned-width;

      &__actions {
        display: none;
      }

      &__content {
        background: transparent;
        position: relative;
        padding: 0;
        top: auto;
        right: auto;
        bottom: auto;
        z-index: auto;
        grid-template-rows: #{$chat-rooms-height} auto;
      }

      // V-bar elements (usually we would have styled the parent)
      .vb {
        width: $chat-panel-pinned-width;
      }

      .chat-rooms {
        &--full {
          .vb {
            height: calc(100vh - #{$chat-page-menu-height} - #{$chat-titles-height * 2} - #{$chat-form-height});
          }
        }
      }

      .chat-roster {

        // Height for v-bar only
        .vb {
          height: calc(#{$chat-height-calc} - #{$chat-rooms-height} - #{$chat-form-height} - #{$chat-titles-height * 2});
        }
      }
    }

    &-form {
      grid-area: 3 / 1 / 4 / 3;
    }

    &-message {
      &__content {
        margin-left: #{v.$spacer-h * 4};
      }
    }
  }
}

@include m.respond-to(large-up) {
  .chat {
    margin-top: #{$chat-logo-top};
    margin-left: #{12 * v.$spacer-h};
    position: relative;
    height: calc(#{$chat-height-calc-with-logo});

    &-logo {
      display: block;
    }

    &-panel {
      .chat-rooms {
        &--full {
          .vb {
            height: calc(100vh - #{$chat-page-menu-height} - #{$chat-logo-top} - #{$chat-titles-height * 2} - #{$chat-form-height});
          }
        }
      }

      .chat-roster .vb {
        height: calc(#{$chat-height-calc-with-logo} - #{$chat-rooms-height} - #{$chat-form-height} - #{$chat-titles-height * 2});
      }
    }
  }
}
