@use '../base/mixins' as m;
@use '../base/variables' as v;
@use '../base/placeholders';

.content-layout {
  @extend %grid;

  @include m.respond-to(v.$grid-breakpoint) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  &__panel {
    margin-bottom: v.$spacer-v;
    grid-area: 1 / 1 / 2 / 2;
  }

  &__content {
    grid-area: 1 / 2 / 2 / 5;

    @include m.respond-to(small) {
      grid-area: 2 / 1 / 2 / 1;
    }

    > article {
      margin-bottom: v.$spacer-v;
    }
  }
}
