@use '../base/variables' as v;

.datetime_picker {
  padding: 0 v.$spacer-h;
  display: inline-flex;
  flex-direction: column;
  background-color: var(--element-background);
  gap: v.$spacer-v;

  &__header {
    display: flex;

    &__date {
      flex-grow: 1;
      text-align: center;
    }
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: v.$spacer-h;

    &__header {
      text-align: center;
    }
  }

  &__day {
    text-align: right;
    width: v.$spacer-h * 4;
    font-weight: unset;

    &--today {
      font-weight: v.$stand-out-font-weight;
    }

    &--selected {
      color: var(--base-inverse-color);
      background-color: var(--base-inverse-background);
    }

    &--out_of_range {
      color: var(--state-mute);
    }
  }

  &__time {
    text-align: center;

    input {
      display: inline;
      width: #{6 * v.$spacer-h};
      appearance: textfield;

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }
  }

  &__summary {
    text-align: center;
  }
}
