@use '../base/variables' as v;

.destroy-button {
  display: inline-block;
  position: relative;

  &__bar {
    display: inline-block;
    content: '';
    height: 100%;
    background-color: var(--state-danger);
    position: absolute;
    margin-left: -#{v.$spacer-h};
  }

  &__label {
    position: relative;
    color: var(--state-danger-inverse);
    font-weight: inherit;
  }
}
