@use 'sass:math';
@use '../base/variables' as v;
@use '../base/placeholders';

.drop-zone {
  @extend %box;

  &--modal {
    &.modal__widget {
      transform: none;
      inset: #{v.$spacer-v * 4} #{v.$spacer-h * 4} #{v.$spacer-v * 2} #{v.$spacer-h * 4};
      margin: 0;
      padding: #{math.div(v.$spacer-v, 2)} #{math.div(v.$spacer-h, 2)};
      max-width: none;
      width: auto;
    }

    > .modal__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 100%;
      max-height: none;
      margin: 0;
    }
  }

  &--over {
    background-color: var(--state-suggestion);
    color: var(--state-suggestion-inverse);
    z-index: 1;

    .drop-zone {
      z-index: -1;
    }
  }

  &--error {
    background-color: var(--state-warning);
    color: var(--state-warning-inverse);
  }
}
