@use '../base/variables' as v;
@use '../base/placeholders';

.dropdown {
  display: inline-block;

  &__menu {
    &__content {
      @extend %outlined-content;

      display: flex;
      flex-direction: column;
    }

    &__outline {
      @extend %outlined-content-wrapper;

      display: none;
      z-index: 1000;
      position: absolute;
      background-color: var(--base-inverse-background);
      width: #{15 * v.$spacer-h};
      transform: translateX(#{-12 * v.$spacer-h});
    }
  }

  &:hover .dropdown__menu__outline,
  &:active .dropdown__menu__outline,
  &:focus .dropdown__menu__outline {
    display: block;
  }
}
