// https://codepen.io/cipherbeta/pen/YLdVjw

@use 'sass:math';
@use '../base/variables' as v;

%text-glitch {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text--glitch {
  position: relative;

  &::before {
    @extend %text-glitch;

    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(0, 20px, v.$spacer-v, 0);
    animation: text-glitch-animation 5s infinite steps(1, end) alternate-reverse;
    color: var(--base-inverse-color);
  }

  &::after {
    @extend %text-glitch;

    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: text-glitch-animation-2 1s infinite steps(1, end) alternate-reverse;
  }

  &--skew {
    animation: text-glitch-animation-skew 1s infinite steps(1, end) alternate-reverse;
  }
}

@keyframes text-glitch-animation {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i * math.div(1,$steps))} {
      clip: rect(math.round(math.random(10) - 5) * v.$spacer-v, 9999px, math.round(math.random(11)) * v.$spacer-v, 0);
      transform: skew(math.div(math.random(100), 100) + deg);
    }
  }
}

@keyframes text-glitch-animation-2 {
  $steps: 10;

  @for $i from 0 through $steps {
    #{percentage($i * math.div(1,$steps))} {
      clip: rect(math.round(math.random(11) - 1) * v.$spacer-v, 9999px, math.round(math.random(11)) * v.$spacer-v, 0);
      transform: skew(math.div(math.random(100), 100) + deg);
    }
  }
}

@keyframes text-glitch-animation-skew {
  $steps: 20;

  @for $i from 0 through $steps {
    #{percentage($i * math.div(1,$steps))} {
      transform: skew((math.random(5) - 5) + deg);
    }
  }
}
