@use '../base/variables' as v;

.element--card {
  .element__title {
    display: block;
    padding: 0 v.$spacer-h;
    text-align: center;

    &::before {
      content: '.:[ ';
    }

    &::after {
      content: ' ]:.';
    }
  }
}
