@use '../base/variables' as v;

.element--panel {
  .element__title {
    padding: 0 v.$spacer-h;
    text-align: center;
  }

  .element__content {
    background-color: var(--panel-bg);
    color: var(--panel-fg);
  }
}
