@use '../base/variables' as v;
@use '../base/mixins' as m;

.element {
  margin-bottom: v.$spacer-v;
  color: var(--entry-fg);
  background-color: var(--element-background);

  // Title may have elements as buttons and/or notes, so it's flexible.
  &__title {
    padding: v.$spacer-v v.$spacer-h;
    background-color: var(--element-title-background);
    color: var(--element-title-color);
    display: flex;
    gap: v.$spacer-h;
    flex-direction: column;

    // Headers that are part of the title
    h1,
    h2,
    h3,
    h4 {
      flex-grow: 1;
      margin: 0;
      padding: 0;
      font-weight: v.$stand-out-font-weight;
    }

    &__item {
      flex: none;
    }

    @include m.respond-to(small-up) {
      flex-direction: row;
    }
  }

  // When titles are directly applied to headers, there is no flex box.
  h1.element__title,
  h2.element__title,
  h3.element__title,
  h4.element__title {
    display: block;
    margin: 0;
    font-weight: v.$stand-out-font-weight;
  }

  // Subtitles are used to display additional data, as tags or dates or usernames.
  &__subtitle {
    color: var(--element-subtitle-color);
    background-color: var(--element-subtitle-background);
    padding: 0 v.$spacer-h;
    font-weight: v.$subtitle-font-weight;

    @include m.buttons() {
      box-shadow: none;
    }
  }

  // It's the content to display
  &__content {
    padding: v.$spacer-v v.$spacer-h;

    // Embedded forms
    > form:last-child {
      .form-actions {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  // Used in __content to create sections
  &__section {
    margin: 0 v.$spacer-h v.$spacer-v v.$spacer-h;

    &__title {
      color: var(--element-title-color);
      margin: 0 -#{v.$spacer-h * 2};
      padding: 0 v.$spacer-h;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Footers may have action buttons
  &__footer {
    padding: 0 v.$spacer-h;
    text-align: right;
    background-color: var(--element-footer-background);
    color: var(--element-footer-color);
  }

  &--centered {
    .element__content {
      text-align: center;
    }
  }
}
