@use '../base/variables' as v;
@use '../base/placeholders';

.element--event {
  border-left: v.$spacer-h solid var(--state-time-fresh);

  &--over {
    @extend %closed;

    border-left: v.$spacer-h solid var(--state-time-dead);
  }

  &--started {
    border-left: v.$spacer-h solid var(--state-ok);
  }
}
