@use '../base/variables' as v;

.field {
  margin-bottom: v.$spacer-v;

  &-help {
    font-style: italic;
  }

  &--file {
    input[type="file"] {
      display: none;
    }

    .field-help {
      margin-top: v.$spacer-v;
    }
  }

  &--datetime {
    label {
      display: block;
    }

    select {
      display: inline;
      width: auto;
    }
  }

  &--small-text {
    min-height: v.$input-small-text-height;
  }

  &--medium-text {
    min-height: v.$input-medium-text-height;
  }

  &--long-text {
    min-height: v.$input-long-text-height;
  }

  &--inline {
    display: grid;
    grid-column-gap: v.$spacer-h;
    grid-template-columns: 1fr 5fr;
  }

  // Rails names
  .field_with_errors label {
    color: var(--state-warning);
  }
}
