@use '../base/variables' as v;

.form-actions {
  margin: v.$spacer-v 0;
  padding: v.$spacer-v v.$spacer-h;
  text-align: right;
  background-color: var(--element-footer-background);
  color: var(--element-footer-color);

  &:first-child {
    margin-top: 0;
  }
}
