@use '../base/mixins' as m;
@use '../base/variables' as v;
@use '../base/placeholders';

.grid {
  @extend %grid;

  &--half {
    > div:first-child {
      margin-bottom: v.$spacer-v;
    }
  }

  &-2,
  &-3 {
    > :not(:last-child) {
      margin-bottom: v.$spacer-v;
    }
  }
}

@include m.respond-to('small-up') {
  .grid {
    &-2,
    &-3 {
      @include m.grid();

      > :not(:last-child) {
        margin-bottom: 0;
      }
    }

    &-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &-3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .grid--half {
    width: 50%;
    margin-left: 25%;

    > div:first-child {
      margin-bottom: 0;
    }
  }
}
