@use '../base/variables' as v;
@use '../base/mixins' as m;

.logo {
  max-width: 100%;
  fill: none;

  path {
    stroke: var(--stand-out-color);
    stroke-width: 0.1;
    stroke-opacity: 1;
  }

  &--wrapper {
    text-align: center;
  }
}

.text-logo {
  text-align: left;
  background: transparent;
  margin: 0 auto;
  border: none;
  overflow: initial;
  display: none;
  color: var(--logo-color);

  &__wrapper {
    padding-top: #{v.$spacer-v * 6};
    padding-bottom: #{v.$spacer-v * 6};
    text-align: center;
  }

  &--small { display: inline-block; }

  @include m.respond-to('tiny-up') {
    &--small { display: none; }
    &--medium { display: inline-block; }
  }

  @include m.respond-to('large-up') {
    &--small { display: none; }
    &--medium { display: none; }
    &--large { display: inline-block; }
  }
}
