@use '../base/variables' as v;
@use '../base/mixins' as m;
@use '../base/placeholders';

.main-menu {
  @extend %shadowed-full;

  background-color: var(--base-inverse-background);
  color: var(--base-inverse-color);
  height: v.$line-height;
  margin-bottom: v.$spacer-v;
  display: flex;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: v.$z-index-menu;

  a {
    background-color: transparent;
    color: var(--base-inverse-color);
    margin-left: v.$spacer-h;
    white-space: nowrap;

    &.active {
      font-weight: v.$stand-out-font-weight;
    }
  }

  &__main-zone {
    flex-grow: 1;
  }

  &__trigger {
    padding: 0 v.$spacer-h;
    box-shadow: none;
  }

  &__links {
    text-align: right;

    &--expandable {
      position: relative;
    }

    &__content {
      @extend %outlined-content;

      display: flex;
      flex-direction: column;
    }

    &__outline {
      @extend %outlined-content-wrapper;

      display: none;
      z-index: 1000;
      position: absolute;
      top: v.$spacer-v;
      right: 0;
      background-color: var(--base-inverse-background);
    }

    &:hover .main-menu__links__outline,
    &:active .main-menu__links__outline,
    &:focus .main-menu__links__outline {
      display: block;
    }

    &:not(:last-child) {
      margin-right: v.$spacer-h;
    }
  }

  > a {
    margin-right: v.$spacer-h;
  }
}

@include m.respond-to('medium-up') {
  .main-menu {
    &__links:not(:last-child) {
      margin-right: 0;
    }

    &__links--expandable {
      .main-menu__trigger {
        display: none;
      }

      .main-menu__links__outline {
        display: block;
        position: relative;
        padding: 0;
        top: auto;
        right: auto;
      }

      .main-menu__links__content {
        display: flex;
        text-align: right;
        box-shadow: none;
        flex-direction: row;
        padding: 0 v.$spacer-h 0 0;

        &::before {
          content: '░';
          color: var(--border-color);
          display: inline-block;
        }
      }
    }
  }
}
