@use 'sass:math';
@use '../base/variables' as v;
@use '../base/mixins' as m;
@use '../base/placeholders';

.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: v.$z-index-modal;
  background: var(--overlay-image);

  &.active {
    display: block;
  }

  &__widget {
    @include m.shadowed(var(--shadow-color));

    background-color: var(--base-inverse-background);
    color: var(--base-inverse-color);
    position: fixed;
    width: 90vw;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 12vh;
  }

  &__title {
    text-align: center;
    background: inherit;
    display: inline-block;
    position: absolute;
    padding: 0 v.$spacer-h;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &__content {
    @extend %outlined-content;

    max-height: 75vh;
    overflow-x: auto;
    margin: #{math.div(v.$spacer-v, 2)} #{math.div(v.$spacer-h, 2)} v.$spacer-v #{math.div(v.$spacer-h, 2)};

    label {
      color: currentcolor;
    }
  }

  &__actions {
    padding: 0 v.$spacer-h;
    text-align: right;
    position: absolute;
    display: inline-block;
    right: v.$spacer-h;
    margin-top: -#{v.$spacer-v * 1.5};
    background: inherit;
  }

  &--info {
    .modal__widget {
      background: var(--state-suggestion);
      color: var(--state-suggestion-inverse);
    }
  }

  &--warning {
    .modal__widget {
      background: var(--state-warning);
      color: var(--state-warning-inverse);
    }
  }
}

@include m.respond-to('small-up') {
  .modal {
    &__widget {
      min-width: 50vw;
      max-width: 80vw;
      width: auto;
    }
  }
}

@include m.respond-to('medium-up') {
  .modal {
    &__widget {
      min-width: 30vw;
    }
  }
}
