@use '../base/variables' as v;

.pagination {
  background-color: var(--panel-bg);
  color: var(--panel-fg);
  padding: 0 v.$spacer-h;
  margin: v.$spacer-v 0;

  .current {
    color: var(--stand-out-color);
    font-weight: v.$stand-out-font-weight;
  }
}
