@use '../base/mixins' as m;
@use '../base/variables' as v;

.page {
  &__header {
    margin: #{v.$spacer-v * 2} 0;

    h1 {
      margin: 0;
    }
  }

  &__actions {
    text-align: center;
    padding: v.$spacer-v v.$spacer-h;
  }

  &__content {
    padding: 0 v.$spacer-h;
  }
}

@include m.respond-to(small-up) {
  .page {
    &__header {
      margin: #{v.$spacer-v * 2} 0 #{v.$spacer-v * 3} 0;
    }
  }
}

@include m.respond-to(medium-up) {
  .page {
    &-header {
      display: flex;

      h1 {
        flex-grow: 1;
      }
    }
  }
}
