@use '../base/variables' as v;

.score {
  padding: 0 v.$spacer-h;
  color: var(--base-color);
  background-color: var(--input-background);

  &--positive {
    background-color: var(--state-ok);
    color: var(--state-ok-inverse);
  }

  &--negative {
    background-color: var(--state-warning);
    color: var(--state-warning-inverse);
  }

  &--hidden {
    display: none;
  }

  &_buttons {
    display: flex;
    gap: v.$spacer-h;

    button,
    .button_to {
      flex-grow: 1;
    }

    .score {
      flex: none;
    }
  }
}
