@use 'sass:math';
@use '../base/variables' as v;

.tabs {
  display: flex;
  margin-bottom: v.$spacer-v;
  box-shadow: 0 #{math.div(v.$spacer-v, 2)} var(--border-color);

  .tab {
    padding: 0 v.$spacer-h;

    &.active {
      background-color: var(--border-color);
      font-weight: v.$stand-out-font-weight;
      color: var(--stand-out-color);
    }
  }
}

.tab__content {
  display: none;

  &--active {
    display: block;
  }
}
