<template>
  <div v-if="message.system" class="chat-message--system">
    {{ systemMessage() }}
  </div>
  <div v-else class="chat-message">
    <div class="chat-message__header">
      <strong>
        {{ message.created_at | time }}
        <span class="cenobite-color" :style="cenobiteStyle">{{ message.chat_participant.name }}</span>
      </strong>
    </div>
    <!-- eslint-disable vue/no-v-html -->
    <div v-if="!message.file" class="chat-message__content" v-html="renderedMessage" />
    <!-- eslint-enable vue/no-v-html -->
    <div v-else class="chat-message__content">
      <img v-if="fileType === 'image'" :src="message.file.urls.default" :alt="message.file.file_name" @load="$emit('loaded')">
      <img v-else-if="fileType === 'gif'" :src="message.file.urls.file" :alt="message.file.file_name" @load="$emit('loaded')">
      <video v-else-if="fileType === 'video'" :src="message.file.urls.file" controls="true" loop="true" />
      <audio v-else-if="fileType === 'audio'" :src="message.file.urls.file" controls="true" />
      <div class="chat-message--download">
        <a :href="message.file.urls.file" target="_blank" rel="noopener noreferrer">{{ message.file.file_name }}</a>
        ({{ fileType === 'image' ? `${$t('js.chat.message.file.original_file')} ` : '' }}{{ message.file.content_type }}, {{ fileSize }})
      </div>
    </div>
  </div>
</template>

<script>
import cH from '../../../../helpers/colors'
import RegexHelper from '../../../../helpers/regexes'
import prettyBytes from '../../../../helpers/pretty_bytes'

export default {
  name: 'ChatMessage',
  props: {
    message: { required: true, type: Object },
  },
  computed: {
    renderedMessage () { return this.HTMLMessageParser(window.markdown(this.$props.message.content)) },
    participant () { return this.$store.getters.chatParticipant },
    cenobiteStyle () {
      return cH.cenobiteStyle(this.$props.message.chat_participant.name, this.$props.message.chat_participant.id)
    },
    cenobiteMentionStyle () {
      return cH.cenobiteMentionStyle(this.$props.message.chat_participant.name, this.$props.message.chat_participant.id)
    },
    fileType () {
      if (!this.$props.message.file) return null

      const contentType = this.$props.message.file.content_type

      if (/^image\/(jpe?g|webp|png)$/.test(contentType)) return 'image'
      if (contentType === 'image/gif') return 'gif'
      else if (/^video\/(mp4|avi|flv|webm|mpeg)$/.test(contentType)) return 'video'
      else if (/^audio\/(ogg|mpeg)$/.test(contentType)) return 'audio'

      return this.$props.message.file.content_type
    },
    fileSize () { return prettyBytes(this.$props.message.file.byte_size) },
  },
  methods: {
    HTMLMessageParser (string) {
      if (!this.participant) return string
      // Find user citations
      const rx = new RegExp(`(^|[^\\w])(${RegexHelper.escapeRegExp(this.participant.name)})([^\\w])`, 'g')
      string = string.replace(rx, `$1<span style="${this.cenobiteMentionStyle}">$2</span>$3`)

      return string
    },
    systemMessage () {
      try {
        const message = JSON.parse(this.message.content)
        return this.$t(message.string, message.vars)
      } catch (_e) {
        return this.message.content
      }
    },
  },
  filters: {
    time (string) {
      const date = new Date(string)
      const h = date.getHours().toString().padStart(2, '0')
      const m = date.getMinutes().toString().padStart(2, '0')
      const s = date.getSeconds().toString().padStart(2, '0')
      return `${h}:${m}:${s}`
    },
  },
}
</script>
