- url = fortune.id ? member_fortune_path : member_fortunes_path
= form_for fortune, url: url do |f|
  - if fortune.errors.any?
    .alert.alert--alert
      %p= t('.errors', amount_str: pluralize(fortune.errors.count, 'error'))
      %ul
        - fortune.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :content
    = f.text_area :content, class: 'field--small-text', required: true
    .field-help= markdown_help_notice
  .field
    = f.label :source
    = f.text_field :source
    .field-help= t('.help_source')

  .form-actions
    = f.submit t('generic.save')

= vite_javascript_tag 'codemirror'
= cm_js('fortune_content', 'md', instance: 'plop')
