- @page_title = t('.title')

- content_for :page_actions do
  = link_to t('generic.back'), :member_fortunes, role: 'button'
  = link_to t('generic.destroy'),
            member_fortune_path(@fortune),
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'destructive'

.thin-layout
  = render 'form', fortune: @fortune
