- @page_title = t('.title')

- content_for :page_actions do
  = link_to t('.new'), new_member_fortune_path, role: 'button', class: 'creative'

.thin-layout
  - if @fortunes.count.zero?
    .alert.alert--empty= t('.no_content')
  - else
    - @fortunes.each do |fortune|
      .element
        .element__title
          %h2= fortune.source
          .element__title__item= color_score fortune
          .element__title__item
            = link_to t('generic.edit'), edit_member_fortune_path(fortune), role: 'button'
            = link_to t('generic.destroy'),
                        member_fortune_path(fortune),
                        method: :delete,
                        data: { confirm: t('generic.are_you_sure') },
                        role: 'button',
                        class: 'destructive'
        .element__content
          = string_ellipsis fortune.content, 100, ellipsis: '[…]'
