- @page_title = t('.title')
- content_for :page_actions do
  - if policy([:member, Fortune]).random?
    = link_to t('.another'),
              :random_member_fortunes,
              role: 'button'
  - if policy([:member, @fortune]).new?
    = link_to t('.new'),
              :new_member_fortune,
              role: 'button',
              class: 'creative'
  - if policy([:member, @fortune]).index?
    = link_to t('.manage'),
              :member_fortunes,
              role: 'button'
  - if policy([:member, @fortune]).edit?
    = link_to t('generic.edit'), edit_member_fortune_path(@fortune), role: 'button'
  - if policy([:member, @fortune]).destroy?
    = link_to t('generic.destroy'),
              member_fortune_path(@fortune),
              method: :delete,
              data: { confirm: t('generic.are_you_sure') },
              role: 'button',
              class: 'destructive'

- if @fortune.id
  %figure.grid--half
    %blockquote#fortune-content
      .markdown-content#fortune-content-text= @fortune.content
    - if @fortune.source.present?
      %figcaption= @fortune.source
    .score_buttons
      = downvote_link @fortune, css_class: 'block'
      = upvote_link @fortune, css_class: 'block'
      = color_score @fortune
  = vite_javascript_tag 'markdown'
  :javascript
    document.addEventListener('DOMContentLoaded', () => {
      renderMD ($_('fortune-content'), $_('fortune-content-text'))
    })
- else
  .alert.alert--empty= t('.no_fortune')

= vite_javascript_tag 'toggles'
