:ruby
  logo = {}
  logo[:small] = <<~TEXT
    ╻ ╻┏━╸╻  ╻  ┏━┓┏━┓╻┏━┓┏━╸┏━┓ ╻┏━┓
    ┣━┫┣╸ ┃  ┃  ┣┳┛┣━┫┃┗━┓┣╸ ┣┳┛ ┃┃ ┃
    ╹ ╹┗━╸┗━╸┗━╸╹┗╸╹ ╹╹┗━┛┗━╸╹┗╸╹╹┗━┛
  TEXT

  logo[:medium] = <<~TEXT
    ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
    ░░█░█░█▀▀░█░░░█░░░█▀█░█▀█░▀█▀░█▀▀░█▀▀░█▀█░░░░▀█▀░█▀█░░
    ░░█▀█░█▀▀░█░░░█░░░█▀▄░█▀█░░█░░▀▀█░█▀▀░█▀▄░░░░░█░░█░█░░
    ░░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀░░▀▀▀░▀▀▀░░
    ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
  TEXT

  logo[:large] = <<~TEXT
    ▄              ▄       ▄                                            ▄              ▄
      ██░ ██▓█████ ██▓    ██▓    ▄█▀███   ███▓  ██▓ █████▓█████ ▄█▀███      ██▓▒█████
     ▓██░ ██▓█   ▀▓██▒   ▓██▒   ▓██ ▒ ██▓██▒ ██▓██▒██    ▓█   ▀▓██ ▒ ██    ▓░░▒██▒  ██
     ▒██▀▀██▒███  ▒██░   ▒██░   ▓██ ░▄█ ▒██▄▄██▒██░ ▓██▄ ▒███  ▓██ ░▄█     ▒██▒██░  ██
     ░▓█ ░██▒▓█  ▄▒██░   ▒██░   ▒██▀▀█▄ ░██▓▒██░██░ ▒   █▒▓█  ▄▒██▀▀█▄     ░██▒██   ██
     ░▓█▒░██░▒████░▀█████░▀█████░▀█▓ ▒██░▓█▒░▓█░██▒██████░▒████░▀█▓ ▒██▒██▓░██░ ████▓▒
       ▒ ░░▒░░░ ▒░ ░ ▒░▓  ░ ▒░▓  ░ ▒▓ ░▒▓▒▓ ░▒▒ ▓ ▒ ▒▓▒ ▒░░ ▒░ ░ ▒▓ ░▒ ░▒▓▒░▓ ░ ▒░▒░▒░
       ▒ ░▒░ ░░ ░  ░ ░ ▒  ░ ░ ▒  ░ ░▒ ░ ▒░▒  ▒░ ▒ ░ ░▒  ░ ░ ░  ░ ░▒ ░  ░░▒  ▒ ░ ░ ▒ ▒░
       ░  ░░ ░  ░    ░ ░    ░ ░    ░░   ░ ░  ░░ ▒ ░  ░  ░   ░    ░░     ░   ▒ ░ ░ ░ ▒
       ░  ░  ░  ░  ░   ░  ░   ░  ░  ░   ░     ░ ░       ░   ░  ░  ░      ░  ░     ░ ░
          ░                   ░               ░                   ░
  TEXT

.text-logo__wrapper
  - [:small, :medium, :large].each do |size|
    %pre.text-logo.text--glitch{ class: "#{size == :large ? '' : 'text-glitch--skew'} text-logo--#{size}",
                                data: { text: logo[size] } }= logo[size]
