- if current_cenobite

  = render 'logo'

  .grid-3
    %div
      %h2= t('.common_services')
      = render 'item',
                link: link_to(t('layouts.application.motions'), member_motions_path),
                description: t('layouts.application.motions_description')
      = render 'item',
                link: link_to(t('layouts.application.chat'), member_chat_path),
                description: t('layouts.application.chat_description')
      = render 'item',
                link: link_to(t('layouts.application.events'), member_events_path),
                description: t('layouts.application.events_description')
      - if policy([:member, Cenobite]).index?
        = render 'item',
                  link: link_to(t('layouts.application.bottin'), member_cenobites_path),
                  description: t('layouts.application.bottin_description')
      - else
        = render 'item',
                  link: t('layouts.application.bottin'),
                  description: t('layouts.application.bottin_inaccessible_description',
                                  link: link_to(t('layouts.application.preferences'),
                                                edit_member_preferences_path)).html_safe
      = render 'item',
                link: link_to(t('activerecord.models.fortune', count: 2), random_member_fortunes_path),
                description: t('layouts.application.fortune_description')
      = render 'item',
                link: link_to(t('layouts.application.links'), links_path),
                description: t('layouts.application.links_description')
      = render 'item',
                link: link_to(t('layouts.application.articles'), member_rss_items_path),
                description: t('layouts.application.articles_description')
      = render 'item',
                link: link_to(t('layouts.application.stats'), member_stats_path),
                description: t('layouts.application.stats_description')
      = render 'item',
                link: link_to(t('layouts.application.changelog'), member_page_path('changelog')),
                description: t('layouts.application.changelog_description')

    %div
      %h2= t('.private_services')
      = render 'item',
                link: link_to(t('layouts.application.dead_man_switches'), member_dead_man_switches_path),
                description: t('layouts.application.dead_man_switches_description')
      = render 'item',
                link: link_to(t('layouts.application.pastes'), member_pastes_path),
                description: t('layouts.application.pastes_description')
      = render 'item',
                link: link_to(t('layouts.application.items'), member_items_path),
                description: t('layouts.application.items_description')
      = render 'item',
               link: link_to(t('layouts.application.favorites'), member_likes_path),
               description: t('layouts.application.favorites_description')

    %div
      %h2= t('.your_menu')
      = render 'item',
                link: link_to(t('layouts.application.acquaintances'), member_acquaintances_path),
                description: t('layouts.application.acquaintances_description')
      = render 'item',
               link: link_to(t('layouts.application.preferences'), edit_member_preferences_path),
               description: t('layouts.application.preferences_description')
      = render 'item',
               link: link_to(t('layouts.application.subscriptions'), member_subscriptions_path),
               description: t('layouts.application.subscriptions_description')

- else
  %center
    .logo-wrapper
      %svg.logo{ xmlns: 'http://www.w3.org/2000/svg', width: 427.336, height: 493.445, viewBox: '0 0 113.066 130.557' }
        %g.cube
          %path{ d: 'M.265 97.765V32.792L56.533.306 112.8 32.792v64.973l-56.268 32.487z' }
          %path{ d: 'M48.513 60.648l8.02 4.63v9.261M64.553 60.648l-8.02 4.63' }
