= form_with scope: :items, url: bulk_create_member_items_path, data: { remote: false }, class: 'thin-layout' do |f|
  .field
    = f.label :category, t('activerecord.attributes.item.category')
    = f.text_field :category, { list: 'categories' }
    = item_categories_datalist id: 'categories'
    .field-help= t('.help_category')

  .field
    = f.label :list, t('.list')
    = f.text_area :list
    .field-help= t('.help_list')

  .form-actions
    = f.submit t('generic.save')
