- url = item.id ? member_item_path : member_items_path
= form_for item, url: url, html: { class: 'thin-layout' } do |f|
  - if item.errors.any?
    .alert.alert--alert
      %p= t('.errors', amount_str: pluralize(item.errors.count, 'error'))
      %ul
        - item.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :category
    = f.text_field :category, { list: 'categories' }
    = item_categories_datalist id: 'categories'

  .field
    = f.label :description
    = f.text_area :description
    .field-help= markdown_help_notice

  .field
    = f.label :borrower
    = acquaintance_select item

  .form-actions
    = f.submit t('generic.save')
