- @page_title = t('.title')

- content_for :page_actions do
  = link_to t('generic.back'), :member_items, role: 'button'
  = link_to t('generic.show'), member_item_path(@item), role: 'button'
  = link_to t('generic.destroy'),
            member_item_path(@item),
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'destructive'

= render 'form', item: @item
