- @page_title = t('.title')

- content_for :page_actions do
  = link_to t('.new'), new_member_item_path, role: 'button', class: 'creative'

.content-layout
  %aside.content-layout__panel
    %section.element.element--panel
      %h2.element__title= t('generic.filters')
      .element__content
        %ul.unstyled
          %li= filter_link t('.all'), nil, keep_params: [:only, :category]
          %li= filter_link t('.only_borrowed'), :borrowed, keep_params: [:only, :category]
    %section.element.element--panel
      %h2.element__title= t('.categories')
      .element__content
        %ul.unstyled
          %li= filter_link t('.all'), nil, filter_key: :category, keep_params: [:only, :filter_by]
          - @categories.each do |category|
            %li= filter_link category, category, filter_key: :category, keep_params: [:only, :filter_by]

  %article.content-layout__content
    .tabs
      = active_link_to t('.your_items'), {}, active: { only: nil }, class: 'tab'
      = active_link_to t('.acquaintances_items'),
                       { only: 'acquaintances' },
                       active: { only: 'acquaintances' },
                       class: 'tab'

    - if @items.count.zero?
      .alert.alert--empty= t('.no_content')
    - else
      %table.table--items
        %thead
          %tr
            %th= sort_link t('activerecord.attributes.item.category'), :category, keep_params: [:only, :filter_by]
            %th= sort_link t('activerecord.attributes.item.name'), :name, keep_params: [:only, :filter_by]
            - if params[:only] == 'acquaintances'
              %th= t('activerecord.attributes.item.owner')
              %th= t('activerecord.attributes.item.available')
            - else
              %th= t('activerecord.attributes.item.borrower')
              %th= sort_link t('activerecord.attributes.item.borrowed_at'),
                              :borrowed_at,
                              keep_params: [:only, :filter_by]
              %th

        %tbody
          - @items.each do |item|
            %tr
              %td{ 'data-label' => t('activerecord.attributes.item.category') }
                = item.category

              %td{ 'data-label' => t('activerecord.attributes.item.name') }
                = link_to item.name, member_item_path(item)

              - if params[:only] == 'acquaintances'
                %td{ 'data-label' => t('activerecord.attributes.item.owner') }
                  = item.owner.name

                %td{ 'data-label' => t('activerecord.attributes.item.available') }
                  - if same_cenobite? item.borrower_id
                    = t('.you_have_it')
                  - else
                    = yes_no item.borrowable?

              - else
                %td{ 'data-label' => t('activerecord.attributes.item.borrower') }
                  = item.borrower&.name

                %td{ 'data-label' => t('activerecord.attributes.item.borrowed_at') }
                  = item.borrowed_at ? short_date(item.borrowed_at) : ''

                %td.actions{ 'data-label' => t('generic.actions') }
                  = link_to t('generic.edit'), edit_member_item_path(item), role: 'button'

                  = link_to t('generic.destroy'),
                            member_item_path(item),
                            method: :delete,
                            data: { confirm: t('generic.are_you_sure') },
                            role: 'button',
                            class: 'destructive'

    = paginate @items, window: 2
