- @page_title = t('.title')

- content_for :page_actions do
  = link_to t('generic.back'), member_items_path, role: 'button'

.thin-layout.tabs
  %a.tab{ data: { tab: 'one' }, href: '#' }= t('.add_one')
  %a.tab{ data: { tab: 'bulk' }, href: '#' }= t('.add_bulk')

.tab-contents
  .tab__content#tab-one
    = render 'form', item: @item
  .tab__content#tab-bulk
    = render 'form_bulk', item: @item

:javascript
  document.addEventListener('DOMContentLoaded', () => {
    const tabActiveCSS = 'active'
    const tabContentActiveCSS = 'tab__content--active'
    const tabDataAttribute = 'data-tab'
    const tabSelector = `a[${tabDataAttribute}]`

    const toggleActiveTab = function (tab) {
      const links = document.querySelectorAll(tabSelector)
      for(let link of links){
        const value = link.getAttribute(tabDataAttribute)
        if (value === tab) {
          link.classList.add(tabActiveCSS)
          $_(`tab-${value}`).classList.add(tabContentActiveCSS)
        }
        else {
          link.classList.remove(tabActiveCSS)
          $_(`tab-${value}`).classList.remove(tabContentActiveCSS)
        }
      }
    }

    window.tabs = function (defaultTab=null) {
      const links = document.querySelectorAll(tabSelector)

      toggleActiveTab(defaultTab)

      for(let link of links){
        const value = link.getAttribute(tabDataAttribute)
        link.addEventListener('click', ()=>{toggleActiveTab(value)})
      }
    }

    tabs('one')
  })
