- @page_title = t('.title', name: @item.name)

- content_for :page_actions do
  = link_to t('generic.back'), member_items_path, role: 'button'
  - if same_cenobite? @item.owner_id
    = link_to t('generic.edit'), edit_member_item_path(@item), role: 'button'
    = link_to t('generic.destroy'),
              member_item_path,
              method: :delete,
              data: { confirm: t('generic.are_you_sure') },
              role: 'button',
              class: 'destructive'

.content-layout
  %aside.content-layout__panel
    %section.element.element--panel
      %dl.element__content
        %dt= t('generic.definition', value: t('activerecord.attributes.item.category'))
        %dd= @item.category

        %dt= t('generic.definition', value: t('activerecord.attributes.item.owner'))
        %dd= @item.owner.name

        - if @item.visible_borrower?(current_cenobite)
          %dt= t('generic.definition', value: t('activerecord.attributes.item.borrower'))
          %dd= @item.borrower&.name

          %dt= t('generic.definition', value: t('activerecord.attributes.item.borrowed_at'))
          %dd= @item.borrowed_at

    - unless same_cenobite? @item.owner_id
      %section.element--panel
        - if @item.borrowable?
          .alert.alert--empty= t('.how_to_borrow')
        - else
          .alert.alert--empty= t('.item_not_available')

  %article.content-layout__content
    - if @item.description
      %h2= t('activerecord.attributes.item.description')
      = @item.description
    - else
      .alert.alert--notice
        = t('.no_description')
        %ul
          %li= external_link_to 'Qwant', "https://qwant.com/?q=#{CGI.escape(@item.name)}"
          %li= external_link_to 'DuckDuckGo', "https://duckduckgo.com/?q=#{CGI.escape(@item.name)}"
