- url = paste.id ? member_paste_path : member_pastes_path
= form_for paste, url: url, html: { class: 'thin-layout' } do |f|
  - if paste.errors.any?
    .alert.alert--alert
      %p= t('.errors', amount_str: pluralize(paste.errors.count, 'error'))
      %ul
        - paste.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name, required: true
    .field-help= t('.help_name')
  .field
    = f.label :extension
    = f.text_field :extension, placeholder: 'txt', onblur: 'cm.applyMode(this.value)'
    .field-help= t('.help_extension')
  .field
    = f.label :content
    = f.text_area :content, class: 'field--long-text', required: true
  .field
    = f.label :burn
    = f.check_box :burn
    .field-help= t('.help_burn')
  .field
    = f.label :password
    = f.password_field :password
    .field-help= t('.help_password')

  .form-actions
    = f.submit t('generic.save'), class: 'recorder'

= vite_javascript_tag 'codemirror'
= cm_js 'paste_content', (paste.extension || 'txt'), instance: 'cm', show_lines: true
