%p
  Pastes are piece of text you can share with anyone by giving them the link.

%p
  You can password-protect a paste and/or make it a "one time display" information.
  <strong>Note</strong> that once a paste is password protected, you can't unprotect it (but may change its password).

%p
  When you specify an extension, the paste content may be rendered with nice colors.
  Markdown content will be rendered as HTML.

%p
  %strong Sharing a paste:
  To share a paste, click on the "Copy" button and the link will be copied to your clipboard.
  You can also copy the link from a box in the paste "display" view.

%p
  %strong Listing help
  %ul
    %li The first <code>[ ] / [b]</code> block states if the paste is burnable or not.
    %li The second <code>[ ] / [*]</code> block states if the paste is password-protected or not.
