%p
  Les collages sont des bouts de texte que vous pouvez partager avec quiconque en en donnant le lien.

%p
  Vous pouvez protéger vos collages par mot de passe et/ou les rendre destructibles à l'affichage.
  <strong>Notez</strong> qu'une fois qu'un collage est protégé par mot de passe, vous ne pouvez pas
  le "déprotéger" (mais vous pouvez changer son mot de passe).

%p
  En spécifiant une extension, le contenu du collage pourra être affiché avec de jolies couleurs.
  Les textes en Markdown seront rendus en HTML.

%p
  %strong Partager un collage :
  Pour partager un collage, cliquez sur le bouton "Copier".
  Vous pouvez aussi le faire depuis un encart dans la vue "d'affichage" d'un collage.

%p
  %strong Aide sur la liste
  %ul
    %li Le premier bloc <code>[ ] / [b]</code> indique que le collage est "brûlable" ou pas.
    %li Le second bloc <code>[ ] / [*]</code> indique que le collage est protégé par mot de passe ou pas.
