- @page_title = t('.title')

- content_for :page_actions do
  = link_to t('generic.back'), member_pastes_path, role: 'button'
  = link_to t('generic.show'), member_paste_path(@paste), role: 'button'
  = link_to t('generic.destroy'),
            member_paste_path(@paste),
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'destructive'

= render 'form', paste: @paste
