- @page_title = t('.title')

- add_modal render('help'), id: 'paste_help', variant: 'info'

- content_for :page_actions do
  = link_to t('.new'), new_member_paste_path, role: 'button', class: 'creative'
  = show_modal_button t('generic.help'), id: 'paste_help'

.thin-layout
  - if @pastes.count.zero?
    .alert.alert--empty= t('.no_content')
  - else
    .element.element--panel
      .element__content
        = t('generic.sort_by')
        = sort_link t('activerecord.attributes.paste.name'), :name
        = sort_link t('activerecord.attributes.paste.extension'), :extension

    - @pastes.each do |paste|
      .element.element--paste
        .element__title
          .element__title__item [#{paste.burn ? 'b' : ' '}]
          .element__title__item [#{paste.password_digest.present? ? '*' : ' '}]
          .element__title__item [#{paste.extension.presence || '???'}]
          %h2= link_to paste.name, member_paste_path(paste)
          .element__title__item
            %button{ id: "copy#{paste.id}",
                          role: 'button',
                          onclick: "copyToClipboard('#{paste_url(paste)}',
                                                    'copy#{paste.id}',
                                                    '#{t('generic.copied')}')" }
              = t('generic.copy')
          .element__title__item
            = render 'layouts/actions_dropdown',
                      entity: paste,
                      edit_url: edit_member_paste_path(paste),
                      destroy_url: member_paste_path(paste)

= vite_javascript_tag 'copy_to_clipboard'
