- @page_title = t('.title', name: "#{@paste.name}.#{@paste.extension}")

- content_for :page_actions do
  = link_to t('generic.edit'), edit_member_paste_path(@paste), role: 'button'
  = link_to t('generic.back'), member_pastes_path, role: 'button'

.content-layout
  %aside.content-layout__panel
    %section.element.element--panel
      %dl.element__content
        %dt= t('generic.definition', value: t('activerecord.attributes.paste.created_at'))
        %dd= medium_datetime @paste.created_at

        %dt= t('generic.definition', value: t('activerecord.attributes.paste.name'))
        %dd= @paste.name

        %dt= t('generic.definition', value: t('activerecord.attributes.paste.extension'))
        %dd= @paste.extension

        %dt= t('generic.definition', value: t('activerecord.attributes.paste.burn'))
        %dd= yes_no @paste.burn

        %dt= t('generic.definition', value: t('activerecord.attributes.paste.password'))
        %dd= yes_no @paste.password_digest.present?

        %dt= t('generic.definition', value: t('activerecord.attributes.paste.created_at'))
        %dd= time_ago_in_words(@paste.created_at)

        %dt= t('generic.definition', value: t('activerecord.attributes.paste.updated_at'))
        %dd= time_ago_in_words(@paste.updated_at)

  %article.content-layout__content
    .alert.alert--alert
      = t('.not_the_public_link_use_this')
      %br
      = url_for paste_url @paste

      %button{ id: "copy#{@paste.id}",
               role: 'button',
               onclick: "copyToClipboard('#{paste_url(@paste)}', 'copy#{@paste.id}', '#{t('generic.copied')}')" }
        = t('generic.copy')

    %h2= t('activerecord.attributes.paste.content')

    = render 'pastes/content', paste: @paste

= vite_javascript_tag 'copy_to_clipboard'
