<%= t('.text_intro', user_name: @inviter.name, user_email: @inviter.email) %>

<% unless @invitee.confirmed_at %>
<%= t('.text_unconfirmed_notice') %>

<% end %>
<%= t('.text_manage_requests') %>
<%= @url %>

<%= t('.text_footer') %>
