%p
  = t('.html_intro', user_name: @inviter.name, user_email: @inviter.email)

- unless @invitee.confirmed_at
  %p
    = t('.html_unconfirmed_notice')
%p
  = link_to t('.html_manage_requests'), @url

%p
  = t('.html_footer')
