- url = event.id ? member_event_path : member_events_path
= form_for event, url: url, html: { class: 'thin-layout' } do |f|
  - if event.errors.any?
    .alert.alert--alert
      %p= t('.errors', amount_str: pluralize(event.errors.count, 'error'))
      %ul
        - event.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name, required: true

  .grid-2
    .field
      = f.label :starts_at
      - if event.started? || event.over?
        = medium_datetime event.local_starts_at
        = f.hidden_field :starts_at, id: 'picker-event-starts-at_selected_date'
      - else
        = render 'layouts/widgets/date_time_picker',
                 element_id: 'picker-event-starts-at',
                 input_name: 'event[starts_at]',
                 input_tz_name: 'event[starts_at_timezone]'
        -# haml-lint:disable InlineStyles
        .text--alert#date-error-start-notice{ style: 'display: none' }= t('.cant_start_in_past')
        -# haml-lint:enable InlineStyles

    .field
      = f.label :ends_at
      - if event.started? || event.over?
        = medium_datetime event.local_ends_at
        = f.hidden_field :ends_at
      - else
        = render 'layouts/widgets/date_time_picker',
                 element_id: 'picker-event-ends-at',
                 input_name: 'event[ends_at]',
                 input_tz_name: 'event[ends_at_timezone]'
        -# haml-lint:disable InlineStyles
        .text--alert#date-error-end-notice{ style: 'display: none' }= t('.cant_end_before_it_started')
        -# haml-lint:enable InlineStyles

  .field
    = f.label :place
    = f.text_field :place
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :description
    = f.text_area :description, class: 'field--medium-text', required: true
    .field-help= markdown_help_notice
  .field
    = f.label :visibility
    = f.select :visibility, visibility_options(except: [2])

  .form-actions
    = f.submit t('generic.save'), id: 'event-submit-button'

- unless event.started? || event.over?
  = vite_javascript_tag 'entrypoints/apps/datetime_picker.js'
  = vite_javascript_tag 'entrypoints/events/form'
  - starts_at = event.starts_at || (Time.current.beginning_of_hour + 1.hour)
  - ends_at = event.ends_at || (Time.current.beginning_of_hour + 3.hours)
  :javascript
    document.addEventListener('DOMContentLoaded', () => {
      dateTimePicker('#picker-event-starts-at', '#{starts_at.httpdate}')
      dateTimePicker('#picker-event-ends-at', '#{ends_at.httpdate}')
    })
= vite_javascript_tag 'codemirror'
= cm_js('event_description', 'md')
