- @page_title = t('.title')

- content_for :page_actions do
  = link_to t('generic.back'), member_events_path, role: 'button'
  = link_to t('generic.show'), member_event_path(@event), role: 'button'
  = link_to t('generic.destroy'),
            member_event_path(@event),
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'destructive'

.form
  = render 'form', event: @event
