- @page_title = t('.title')

- content_for :page_actions do
  = link_to t('.new'), new_member_event_path, role: 'button', class: 'creative'

.thin-layout
  .tabs
    = active_link_to t('.incoming'), { only: nil }, active: { only: nil }, class: 'tab'
    = active_link_to t('.past'), { only: 'over' }, active: { only: 'over' }, class: 'tab'
  - if @events.count.zero?
    .alert.alert--empty= t('.no_content')
  - else
    - @events.each do |event|
      .element.element--event{ class: event_css_class(event) }
        .element__title
          %h3= link_to event.name, member_event_path(event)
          .element__title__item{ class: event.attends?(@current_cenobite) ? 'text--positive' : '' }
            ✓ #{event.events_attendances.count}
          .element__title__item
            = render 'layouts/actions_dropdown',
                           entity: event,
                           edit_url: edit_member_event_path(event),
                           destroy_url: member_event_path(event)
        .element__subtitle
          = medium_datetime event.local_starts_at
          → #{event.same_day? ? date_time_to_time(event.local_ends_at) : medium_datetime(event.local_ends_at)}
          - if event.over?
            (#{t('.time_ago', time: time_ago_in_words(event.ends_at))})
          - elsif event.started?
            (#{t('.since_time', time: time_ago_in_words(event.starts_at))})
          - else
            (#{t('.in_time', time: time_ago_in_words(event.starts_at))})
        - if event.url.present?
          .element__subtitle
            \~ #{link_to event.url}
        - if event.place.present?
          .element__subtitle
            @ #{event.place}

    = paginate @events, window: 2
