- @page_title = t('.title', name: @event.name)

- content_for :page_actions do
  = link_to t('generic.back'), member_events_path, role: 'button'

  - if policy([:member, @event]).edit?
    = link_to t('generic.edit'), edit_member_event_path(@event), role: 'button'
  - if policy([:member, @event]).destroy?
    = link_to t('generic.destroy'),
              member_event_path,
              method: :delete,
              data: { confirm: t('generic.are_you_sure') },
              role: 'button',
              class: 'destructive'

.content-layout
  %aside.content-layout__panel
    %section.element.element--panel
      %dl.element__content
        - if @event.place.present?
          %dt= t('generic.definition', value: t('activerecord.attributes.event.place'))
          %dd= @event.place

        - if @event.url.present?
          %dt= t('generic.definition', value: t('activerecord.attributes.event.url'))
          %dd= external_link_to t('.more_info'), @event.url

        %dt= t('generic.definition', value: t('activerecord.attributes.event.starts_at'))
        %dd= medium_datetime @event.local_starts_at

        %dt= t('generic.definition', value: t('activerecord.attributes.event.ends_at'))
        %dd= medium_datetime @event.local_ends_at

        %dt= t('generic.definition', value: t('activerecord.attributes.event.cenobite'))
        %dd= cenobite_name @event, anonymous: false

        %dt= t('generic.definition', value: t('activerecord.attributes.event.visibility'))
        %dd= visibility @event.visibility

        %dt= t('generic.definition', value: t('.attendees'))
        %dd= @event.events_attendances.count

    %section.element.element--panel
      .element__content
        - if @event.attends? @current_cenobite
          = button_to t('.leave'),
                      leave_member_event_path(@event),
                      method: :delete,
                      class: 'destructive block',
                      disabled: !policy([:member, @event]).leave?
        - else
          = button_to t('.attend'),
                      attend_member_event_path(@event),
                      method: :put,
                      class: 'creative block',
                      disabled: !policy([:member, @event]).attend?
      - if owner?(@event, current_cenobite)
        .element__content
          .element__section
            %h3.element__section__title= t('.attendees')
            = @event.attendees.map(&:name).join(', ')

  .content-layout__content
    %article#event-content
      .markdown-content#event-content-text= @event.description

    %noscript
      .alert.alert--alert= t('member.comments.js_needed')
    = render 'member/comments/comments', entity: @event

= vite_javascript_tag 'markdown'
:javascript
  document.addEventListener('DOMContentLoaded', () => {
    renderMD($_('event-content'), $_('event-content-text'))
  })
