// Text selection
$color_selected_fg: rgb(255 255 255);
$color_selected_bg: rgb(82 148 226);

// States
$color_warning: rgb(242 120 53);
$color_warning_inverse: rgb(255 255 255);
$color_danger: rgb(252 65 56);
$color_danger_inverse: rgb(255 255 255);
$color_ok: rgb(115 210 22);
$color_ok_inverse: rgb(51 51 51);
$color_suggestion: rgb(77 173 212);
$color_suggestion_inverse: rgb(255 255 255);

// Freshness
$color_time_fresh: rgba($color_suggestion, 0.9);
$color_time_stale: rgba($color_suggestion, 0.6);
$color_time_dead: rgba($color_suggestion, 0.3);

