$font-path: 'source-code-pro';

@font-face {
  font-family: 'Source Code Variable';
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src:
    url('#{$font-path}/WOFF2/VAR/SourceCodeVariable-Roman.ttf.woff2') format('woff2'),
    url('#{$font-path}/WOFF/VAR/SourceCodeVariable-Roman.ttf.woff') format('woff'),
    url('#{$font-path}/VAR/SourceCodeVariable-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Variable';
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src:
    url('#{$font-path}/WOFF2/VAR/SourceCodeVariable-Italic.ttf.woff2') format('woff2'),
    url('#{$font-path}/WOFF/VAR/SourceCodeVariable-Italic.ttf.woff') format('woff'),
    url('#{$font-path}/VAR/SourceCodeVariable-Italic.ttf') format('truetype');
}
