@use './mixins' as m;
@use './variables' as v;
@use '../base/placeholders';

.number {
  text-align: right;
}

@include m.respond-to('small-up') {

  // Fix for tables
  table thead tr th.number {
    text-align: right;
  }
}

.has-actions {
  .actions {
    float: right;
  }
}

.censored {
  background-color: currentcolor;

  &:hover {
    background: initial;
  }
}

.closed {
  @extend %closed;
}

.mute {
  color: var(--state-mute);
}

.text {
  &--alert {
    color: var(--state-warning);
  }

  &--success,
  &--positive {
    color: var(--state-ok);
  }
}

.collapsed {
  display: none;
}

.unread {
  color: var(--state-warning);
}

// "Freshness states"
.fresh {
  border-left: v.$spacer-h solid var(--state-time-fresh);
}

.stale {
  border-left: v.$spacer-h solid var(--state-time-stale);
}

.dead {
  border-left: v.$spacer-h solid var(--state-time-dead);
}
