@use 'sass:math';
@use './variables' as v;

$bp-aliases: (
  'tiny' : (max-width: #{v.$tiny - 1}),
  'small' : (max-width: #{v.$small - 1}),
  'medium' : (max-width: #{v.$medium - 1}),
  'large' : (max-width: #{v.$large - 1}),
  'extra-large' : (max-width: #{v.$extra-large - 1}),
  'tiny-up' : (min-width: #{v.$tiny}),
  'small-up' : (min-width: #{v.$small}),
  'medium-up' : (min-width: #{v.$medium}),
  'large-up' : (min-width: #{v.$large}),
  'extra-large-up' : (min-width: #{v.$extra-large}),
  'retina' : (min-resolution: 2dppx)
);

// Source : https://www.sitepoint.com/managing-responsive-breakpoints-sass/d
@mixin respond-to($name) {

  // If the key exists in the map
  @if map-has-key($bp-aliases, $name) {

    // Prints a media query based on the value
    @media #{inspect(map-get($bp-aliases, $name))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$name}`. Please make sure it is defined in `$breakpoints` map.";
  }
}

// Creates a grid at a given breakpoint only
@mixin grid($breakpoint: v.$grid-breakpoint) {
  @include respond-to($breakpoint) {
    display: grid;
    grid-column-gap: v.$spacer-h;
  }
}

// Buttons selector
// stylelint-disable declaration-block-trailing-semicolon
@mixin buttons() {
  button,
  [type="button"],
  [role="button"],
  input[type="submit"],
  input[type="reset"],
  .button { @content }
}
// stylelint-enable declaration-block-trailing-semicolon

@mixin shadowed($color) {
  box-shadow: v.$char-width v.$char-width 0 0 $color;
}

@mixin shadowed--half($color) {
  box-shadow: math.div(v.$char-width, 2) math.div(v.$char-width, 2) 0 0 $color;
}
