@use 'sass:math';
@use './variables' as v;
@use './mixins' as m;

%grid {
  @include m.grid();
}

%closed {
  opacity: 0.3;
}

%shadowed-full {
  box-shadow: 0 v.$char-width 0 0 var(--shadow-color);
}

%box {
  padding: v.$spacer-v v.$spacer-h;
  margin-bottom: v.$spacer-v;
}

%outlined-content-wrapper {
  padding: math.div(v.$spacer-v, 2) math.div(v.$spacer-h, 2);
}

%outlined-content {
  padding: math.div(v.$spacer-v, 2) math.div(v.$spacer-h, 2);
  box-shadow: inset 0 0 0 1px var(--border-color);
}

%thin-layout {
  @include m.respond-to('large-up') {
    max-width: #{v.$spacer-h * 80};
    margin-left: auto;
    margin-right: auto;
  }
}
