@use './variables' as v;

*,
*::before,
*::after {
  font-family: "Source Code Variable", monospace;
  font-weight: 300;
  font-size: v.$font-size-default;
  box-sizing: border-box;
  text-decoration: none;
  line-height: v.$line-height;
  padding: 0;
  margin: 0;
}

::selection {
  color: var(--selection_fg);
  background: var(--selection_bg);
}

s {
  text-decoration: line-through;
}

b,
strong {
  font-weight: v.$stand-out-font-weight;
}
