@use './colors' as c;

:root {

  // Text selection
  --selection_fg: #{c.$color_selected_fg};
  --selection_bg: #{c.$color_selected_bg};

  // States
  --state-warning: #{c.$color_warning};
  --state-warning-inverse: #{c.$color_warning_inverse};
  --state-danger: #{c.$color_danger};
  --state-danger-inverse: #{c.$color_danger_inverse};
  --state-ok: #{c.$color_ok};
  --state-ok-inverse: #{c.$color_ok_inverse};
  --state-suggestion: #{c.$color_suggestion};
  --state-suggestion-inverse: #{c.$color_suggestion_inverse};

  // Freshness
  --state-time-fresh: #{c.$color_time_fresh};
  --state-time-stale: #{c.$color_time_stale};
  --state-time-dead: #{c.$color_time_dead};
}
