$line-height: 1.35em;
$char-width: 1ex;
$font-size-default: 16px;

$subtitle-font-weight: 200;
$stand-out-font-weight: 500;

$spacer-h: $char-width;
$spacer-v: $line-height;

// Breakpoints
$tiny: 480px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

$grid-breakpoint: medium-up;

// Z-indexes
$z-index-menu: 100;
$z-index-modal: $z-index-menu - 1;

// Textareas
$input-small-text-height: #{10 * $spacer-v};
$input-medium-text-height: #{20 * $spacer-v};
$input-long-text-height: #{40 * $spacer-v};
