%h2 Base
%button Base button
%button{ disabled: true } Base button

%h2 Size variants

%h3 Small
%button.small Some text
%h3 Block
%button.block Some text

%h2 State variants

%h3 Destructive
%button.destructive Dangerous action
%button.destructive{ disabled: true } Dangerous action
%h3 Creative
%button.creative Add a new post!
%button.creative{ disabled: true } Add a new post!
%h3 Recorder
%button.recorder Save this post!
%button.recorder{ disabled: true } Save this post!
%h3 String
%button.string Do something!
%button.string{ disabled: true } Do something!

%h2 Specials

%h3 Close
%button.close X
