%h2 Inline code

%p
  Some text with <code>inline</code> code.

%h2 Preformatted code area
%pre#pre-element
  -# Use :preserve when you hardcode the content; when using user generated data,
     directly use it:
       %pre= item.data
  :preserve
    # Some preformatted code. Use the "highlight" js pack for syntaxic
    # coloration
    puts 'Hello world in ruby'

= vite_javascript_tag 'highlight'
:javascript
  document.addEventListener('DOMContentLoaded', () => {
    highlight('pre-element', 'ruby')
  })
