%form.form{ action: '#' }
  %h2 Field types

  .field
    %label{ for: 'form-text-input' } Text field
    %input#form-text-input{ placeholder: 'Text', type: 'text' }
    .field-help Something useful about this field

  .field
    %label{ for: 'form-password-input' } Password field
    %input#form-password-input{ placeholder: 'Password', type: 'password' }
    .field-help Something useful about this field

  .field
    %label{ for: 'form-number-input' } Number field
    %input#form-number-input{ placeholder: '1', type: 'number' }
    .field-help Something useful about this field

  .field
    %label
      %input{ type: 'checkbox' }
      Checkbox
    .field-help Something useful about this field

  .field.field--file
    %label.button.creative{ for: 'form-file-input' } Upload a file!
    %input#form-file-input{ placeholder: 'Text', type: 'file' }

  .field.field--inline
    %label{ for: 'form-text-input-inline' } Inline
    %input#form-text-input-inline{ placeholder: 'Text', type: 'text' }

  %h2 Textareas

  .field
    %label{ for: 'form-textarea' } Base textarea (no size modifier)
    %textarea#form-textarea
    .field-help Something useful about this field

  .field
    %label{ for: 'form-textarea-small' } Small textarea
    %textarea.field--small-text#form-textarea-small
    .field-help Something useful about this field

  .field
    %label{ for: 'form-textarea-medium' } Medium textarea
    %textarea.field--medium-text#form-textarea-medium
    .field-help Something useful about this field

  .field
    %label{ for: 'form-textarea-long' } Long textarea
    %textarea.field--long-text#form-textarea-long
    .field-help Something useful about this field

  %h2 States

  .field
    %label{ for: 'form-required-input' } Required field
    %input#form-required-input{ placeholder: 'Text', required: true, type: 'text' }
    .field-help Something useful about this field

  .field
    %label{ for: 'form-invalid-input' } Invalid field
    %input#form-invalid-input{ placeholder: 'Text', type: 'email', value: 'wrong_email' }
    .field-help Something useful about this field

  .field
    %label{ for: 'form-select-input' } Select
    %select#form-select-input
      %option{ value: '1' } Option 1
      %option{ value: '2' } Option 2
      %option{ value: '3' } Option 3
    .field-help Something useful about this field

  .form-actions
    %button.recorder{ role: 'submit' } Save!
