%h2 Classic table

%table
  %thead
    %tr
      %th Header 1
      %th Header 2
      %th Header 3
  %tbody
    %tr
      %td Value 1.1
      %td Value 1.2
      %td Value 1.3
    %tr
      %td Value 2.1
      %td Value 2.2
      %td Value 3.3

%h2 Grid table

%table.table.table--items
  %thead
    %tr
      %th Header 1
      %th Header 2
      %th Header 3
      %th
  %tbody
    %tr
      %td{ data: { label: 'Header 1' } } Value 1.1
      %td{ data: { label: 'Header 2' } } Value 1.2
      %td{ data: { label: 'Header 3' } } Value 1.3
      %td.actions{ data: { label: 'Actions' } }
        %button some action
    %tr
      %td{ data: { label: 'Header 1' } } Value 2.1
      %td{ data: { label: 'Header 2' } } Value 2.2
      %td{ data: { label: 'Header 3' } } Value 3.3
      %td.actions{ data: { label: 'Actions' } }
        %button some action
