%h2 Unordered list

%ul
  %li Element 1.0
  %li
    Element 2.0
    %ul
      %li Element 2.1
      %li Element 2.2
      %li Element 2.3
  %li Element 3.0

%h2 Unstyled list

%ul.unstyled
  %li Element 1.0
  %li.separator
    Element 2.0
    %ol
      %li Element 2.1
      %li Element 2.2
      %li Element 2.3
  %li Element 3.0
