<template>
  <div class="element">
    <div class="element__title">
      <h2>
        {{ $t('generic.by') }} <span class="cenobite-color" :style="style">{{ comment.cenobite_colors | cenobiteName }}</span>
        {{ $t('generic.on') }} {{ niceDate(comment.created_at) }}
      </h2>
      <div class="element__title__item">
        <template v-if="userId === comment.cenobite_id">
          <button role="button" :disabled="editing" @click="editing = !editing">{{ $t('generic.edit') }}</button>
          <destroy-button :action="destroy" />
        </template>
      </div>
    </div>

    <api-error :errors="errors" />

    <comment-form v-if="editing"
                  :comment="comment"
                  @close="editing = false" />
    <div v-else class="element__content">
      <figure v-if="comment.has_picture" data-type="image">
        <img :src="comment.picture.urls.large" alt="Image">
      </figure>
      <!-- eslint-disable vue/no-v-html -->
      <div v-html="htmlContent" />
      <!-- eslint-enable vue/no-v-html -->
    </div>
  </div>
</template>

<script>
import ajax from '../../../helpers/ajax'
import ErrorMixin from '../../mixins/errors'
import CommentForm from './_form.vue'
import DestroyButton from '../_destroy_button.vue'

export default {
  name: 'CommentEntry',
  components: { DestroyButton, CommentForm },
  mixins: [ErrorMixin],
  props: {
    comment: { required: true, type: Object },
    userId: { required: false, type: [Number, null], default: null },
  },
  data () {
    return {
      style: `background-color: rgb(${this.$props.comment.cenobite_colors.bg.join(', ')}); color: rgb(${this.$props.comment.cenobite_colors.fg.join(', ')})`,
      editing: false,
      errors: false,
    }
  },
  computed: {
    htmlContent () { return markdown(this.comment.content) },
  },
  methods: {
    destroy () {
      this.errors = false
      const id = this.$props.comment.id
      ajax('delete', `/member/comments/${id}`)
        // Success notification via ActionCable as a deleted comment
        .then()
        .catch((response) => { this.errorHandler(response) })
    },
    niceDate (date) {
      return this.$d(new Date(date), 'medium')
    },
  },
  filters: {
    cenobiteName (colors) {
      return colors.name || `#${colors.hex}`
    },
  },
}
</script>
