<template>
  <form :id="comment.id ? `edit-${comment.id}` : ''"
        action="#"
        method="POST"
        @submit.prevent="save">
    <api-error :errors="errors" />

    <div v-if="message" class="alert alert--notice">
      {{ message }}
    </div>

    <div class="field">
      <label :for="inputId">{{ $t('js.comment.fields.content') }}</label>
      <codemirror-textarea :id="inputId"
                           ref="input"
                           v-model="input"
                           :options="{lineWrapping: true}"
                           mode="md"
                           name="comment[content]"
                           class="field--small-text"
                           required="required" />
      <markdown-field-help />
    </div>

    <div class="field field--file">
      <input :id="fieldId"
             ref="field"
             type="file"
             name="comment[picture]"
             accept="image/*">
      <div ref="dropZone" class="drop-zone-wrapper">
        <div class="drop-zone">
          <label :for="fieldId">
            <a class="button">
              {{ $t('js.comment.form.picture_button') }}
            </a>
            <span ref="noticeZone" />
          </label>
          <div class="field-help">
            {{ $t('js.comment.form.picture_help') }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <span v-if="loading">{{ $t('generic.loading') }}</span>
      <button v-if="comment.id" role="button" type="button" @click="$emit('close')">
        {{ $t('generic.cancel') }}
      </button>
      <input type="submit" class="recorder" :value="$t('generic.save')" @click.prevent="save">
    </div>
  </form>
</template>

<script>
import ajax from '../../../helpers/ajax'
import randomString from '../../../helpers/random_string'
import MarkdownFieldHelp from '../_markdown_field_help.vue'
import ApiError from '../_api_error.vue'
import ErrorMixin from '../../mixins/errors'
import CodemirrorTextarea from '../_codemirror_textarea.vue'

export default {
  name: 'CommentForm',
  components: { ApiError, CodemirrorTextarea, MarkdownFieldHelp },
  mixins: [ErrorMixin],
  props: {
    comment: {
      required: false,
      type: Object,
      default: () => ({}),
    },
    createUrl: {
      required: false,
      type: String,
      default: null,
    },
  },
  data () {
    return {
      input: this.$props.comment.id ? this.$props.comment.content : '',
      saveURL: this.$props.comment.id ? `/member/comments/${this.$props.comment.id}` : this.$props.createUrl,
      inputId: this.$props.comment.id ? `comment-${this.$props.comment.id}` : 'new-comment',
      fieldId: randomString(),
      loading: false,
      errors: false,
      message: '',
    }
  },
  methods: {
    save () {
      this.loading = true
      this.errors = false

      if (!this.input) {
        this.errors = { content: [this.$t('js.comment.form.errors.blank')] }
        return
      }

      const payload = new FormData()
      payload.append('comment[content]', this.input)
      if (this.$refs.field.files.length > 0) payload.append('comment[picture]', this.$refs.field.files[0])
      const method = this.$props.comment.id ? 'put' : 'post'
      ajax(method, this.saveURL, payload)
        .then(() => {
          if (!this.$props.comment.id) this.$refs.input.clear()
          this.$refs.field.value = ''
          this.$emit('close')
          this.message = this.$t('js.comment.saved')
          setTimeout(() => { this.message = '' }, 2000)
        })
        .catch((response) => { this.errorHandler(response) })
        .then(() => { this.loading = false })
    },
  },
  created () {
    this.$nextTick(() => {
      DropZone(
        this.$refs.dropZone,
        this.$refs.noticeZone,
        this.$refs.field,
        {
          locales: {
            drop_it: this.$t('js.dropzone.drop_it'),
            no_file_selected: this.$t('js.dropzone.no_file_selected'),
            no_file_dropped: this.$t('js.dropzone.no_file_dropped'),
            too_much_files: this.$t('js.dropzone.too_much_files'),
            multiple_wrong_type: this.$t('js.dropzone.multiple_wrong_type'),
            one_wrong_type: this.$t('js.dropzone.one_wrong_type'),
          },
        },
      )
    })
  },
}
</script>
