- @page_title = t('.title')

- content_for :page_actions do
  = link_to t('.new'), new_member_rss_feed_path, role: 'button', class: 'creative'
  = link_to t('.manage'), member_rss_feeds_path, role: 'button'

.content-layout
  %aside.content-layout__panel
    %section.element.element--panel
      %h2.element__title= t('generic.sort')
      .element__content
        .element__section
          %ul.unstyled
            %li= sort_link t('.publication_date'),
                          :published_at,
                          link_options: { class: 'sort' },
                          keep_params: [:feed, :tag, :likes]
            %li= sort_link t('activerecord.attributes.link.score'),
                          :score,
                          link_options: { class: 'sort' },
                          keep_params: [:feed, :tag, :likes]

    %section.element.element--panel
      %h2.element__title= t('generic.filters')
      .element__content
        .element__section
          %h4.element__section__title= t('generic.likes')
          %ul.unstyled
            %li= filter_link t('.all_items'), nil, filter_key: :likes, keep_params: [:tag]
            %li= filter_link t('generic.your_likes'),
                              :yours,
                              filter_key: :likes,
                              keep_params: [:tag, :author, :visibility]

        .element__section
          %h4.element__section__title= t('.feeds')
          %ul.unstyled
            %li= filter_link t('.all_feeds'), nil, filter_key: :feed, keep_params: [:likes]
            %li= filter_link t('.your_feeds'), :yours, filter_key: :feeds, keep_params: [:likes]
            %li.separator
            - RssFeed.find_each do |feed|
              %li
                = filter_link feed.title, feed.id, filter_key: :feed, keep_params: [:likes]

        .element__section
          %h4.element__section__title= t('.tags')
          %ul.unstyled
            %li= filter_link t('.all_tags'), nil, filter_key: :feed, keep_params: [:likes]
            - rss_feeds_tags_counts.each do |tag|
              %li
                = filter_link tag.name, tag.name, filter_key: :tag, keep_params: [:likes]
                (#{tag.count})

  %article.content-layout__content
    - if @rss_items.count.zero?
      .alert.alert--empty= t('.no_content')
    - else
      :ruby
        previous_date = nil
        order_by_default_values = [nil, 'published_at']
      - @rss_items.each do |rss_item|
        - if order_by_default_values.include?(params[:order_by]) && !same_day?(previous_date, rss_item.published_at)
          %h2.date-separator= date_time_to_date(rss_item.published_at)
        - previous_date = rss_item.published_at

        .element.element--rss-item
          .element__title
            %h2= external_link_to rss_item.title, rss_item.link
            .element__title__item
              = downvote_link rss_item, string: '-'
              = color_score rss_item
              = upvote_link rss_item, string: '+'
              = toggle_favorite_link rss_item
          .element__subtitle
            \~
            = t('.from_source', source: rss_item.rss_feed.title)
            (#{rss_item.rss_feed.host})
          .element__subtitle
            @ #{medium_datetime(rss_item.published_at)}
          .element__content.collapsed{ data: { details: rss_item.id } }
            %p= sanitize_content rss_item.description
          .element__footer
            %button.block.string{ onclick: "toggleDetails('#{rss_item.id}')",
                            data: { details_trigger: rss_item.id, details_state: 'closed' } } ▼

    = paginate @rss_items, window: 2

= vite_javascript_tag 'toggles'
= vite_javascript_tag 'toggle_details'
