%nav.main-menu
  Main menu
.page__header
  %h1 Page title
  .page__actions
    %a{ href: '#', role: 'button' } Link 1
    %button{ type: 'button' } Action 2
    %button{ type: 'button' } Action 3
.page__content
  Page content
