-# Inline style are here to show spaces. Don't use inline styles.
.grid-3
  %div{ style: 'background-color: rgba(255,0,0,0.2)' } Col 1
  %div{ style: 'background-color: rgba(255,0,0,0.2)' } Col 2
  %div{ style: 'background-color: rgba(255,0,0,0.2)' } Col 3
