.thin-layout
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae commodi
  repellat tempore. Accusamus aperiam corporis cum doloremque incidunt
  inventore libero necessitatibus neque perspiciatis, saepe sint, soluta ut
  veniam veritatis voluptatum.
