:ruby
  raise 'Missing section' unless section
  raise 'Missing page' unless page
  raise 'Missing title' unless title

  source_id = "dump-#{page}"
  preview_id = "preview-#{page}"
  title_id = "section-#{page}"
  tag ||= 'h2'

  # This list is then used in layout to build the side menu
  # haml-lint: disable InstanceVariables
  @renderers_list ||= []
  @renderers_list << { page: page, title: title, preview_id: preview_id }
  content_for :side_menu, link_to(title, "##{title_id}")
  # haml-lint: enable InstanceVariables

= content_tag tag, title, id: title_id

= yield

.renderer
  - src = preview_url(page: section, preview: page)
  %iframe.renderer__preview{ id: preview_id, src: src }
  %aside.renderer__actions
    = link_to 'Open view in a new window', src, target: '_blank', rel: 'noopener'
  %pre.renderer__source{ id: source_id, data: { type: :section } }
    = render_source_html section, page
