*,
*::before,
*::after {
  font-family: "Source Code Variable", monospace;
  font-weight: 300;
  font-size: 16px;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.2em;
  padding: 0;
  margin: 0;
  color: white;
  background-color: blue;
}

::selection {
  color: white;
  background: black;
}

body {
  padding: var(--spacer);
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  padding: var(--spacer);
  margin-bottom: var(--spacer);
  background-color: white;
  color: black;
}

h2 {
  padding-bottom: calc(var(--spacer) / 2);
  margin-bottom: calc(var(--spacer) / 2);
  border-bottom: 1px dashed white;
}

section:not(:first-child) > h2 {
  margin-top: calc(var(--spacer) * 2);
}

ul {
  list-style-type: '*';
  margin: 0 0 0 var(--spacer);
  padding: 0 0 0 var(--spacer);
}

li {
  padding-left: 1ex;
}

section {
  margin: var(--spacer) 0;
}

a {
  color: yellow;
}

:root {
  --spacer: 1.2ex;
}
