- url = link.id ? member_link_path : member_links_path
= form_for link, url: url, html: { class: 'thin-layout' } do |f|
  - if link.errors.any?
    .alert.alert--alert
      %p= t('.errors', amount_str: pluralize(link.errors.count, 'error'))
      %ul
        - link.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title, required: true, maxLength: 255
  .field
    = f.label :url
    = f.url_field :url, required: true
  .field
    = f.label :description
    = f.text_area :description, required: true, maxLength: 255, minLength: 10
  .field
    = f.label :tag_list
    = f.text_field :tag_list, value: link.tags.join(', ')
    .field-help= t('tags.form.format_help')
  .field
    = f.label :visibility
    = f.select :visibility, visibility_options

  .form-actions
    = f.submit t('generic.save'), class: 'recorder'
