- @page_title = t('.title')

- content_for :page_actions do
  = link_to t('generic.back'), :links, role: 'button'
  = link_to t('generic.destroy'),
            member_link_path(@link),
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'destructive'

= render 'form', link: @link
