.grid-2.grid--half
  .element.element--panel
    %h2.element__title= t('.title')
    .element__content
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = render 'devise/shared/error_messages', resource: resource
        = f.hidden_field :reset_password_token
        .field
          = f.label :password, t('.new_password')
          = f.password_field :password, autofocus: true, autocomplete: 'new-password'
          - if @minimum_password_length
            .field-help= t('.new_password_help', length: @minimum_password_length)
        .field
          = f.label :password_confirmation, t('.confirmation')
          = f.password_field :password_confirmation, autocomplete: 'new-password'

        = f.submit t('.change'), class: 'block recorder'

  %div
    = render 'devise/shared/links'
