.grid-2.grid--half
  .element.element--panel
    %h2.element__title= t('.title')
    .element__content
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render 'devise/shared/error_messages', resource: resource
        .field
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: 'email', required: true

        = f.submit t('.send'), class: 'block creative'

  %div
    = render 'devise/shared/links'
