- url = dead_man_switch.id ? member_dead_man_switch_path : member_dead_man_switches_path
= form_for dead_man_switch, url: url, html: { class: 'thin-layout' } do |f|
  - if dead_man_switch.errors.any?
    .alert.alert--alert
      %p= t('.errors', amount_str: pluralize(dead_man_switch.errors.count, 'error'))
      %ul
        - dead_man_switch.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name, required: true
    .field-help= t('.help_name')
  .field
    = f.label :recipients
    = f.text_area :recipients, required: true
    .field-help= t('.help_recipients')
  .field
    = f.label :content
    = f.text_area :content, required: true
    .field-help= t('.help_content')
  .field
    = f.label :ping_frequency
    = f.select :ping_frequency do
      = options_for_select ping_frequency_options, selected: dead_man_switch.ping_frequency
    .field-help= t('.help_ping_frequency')

  - if dead_man_switch.id
    .field
    = f.label :update_ping, t('.update_ping')
    = f.check_box :update_ping, checked: false
    .field-help= t('.help_update_ping')

  .form-actions
    = f.submit t('generic.save'), class: 'recorder'
