%p
  Les leviers de l'homme mort sont utilisés principalement pour des messages d'urgence : une fois
  le levier défini, vous devez périodiquement vous manifester (le "pinguer"). Si le levier de l'homme
  mort expire, un courriel sera envoyé aux destinataires prévus, avec le contenu que vous aurez défini.
%p
  Les leviers de l'homme mort sont vérifiés toutes les 30 minutes, ce qui sous-entend qu'il peut y avoir
  un délai de 30 minutes entre l'expiration et le moment où les courriels sont envoyés.
%p
  À chaque connexion à votre compte, les compte à rebours seront réinitialisés. Si vous êtes déjà connecté(e),
  vous pouvez utiliser le bouton 'Tout pinguer', ou pinger vos leviers individuellement sur cette page.
