%p
  Dead man switches are here for emergency messages: once you define a switch, an email will be sent to
  a list of recipients when the expiration time is reached.
%p
  Expired switches are checked every 30 min, which means there may be a 30 min delta between the switch
  expiration and the time the email are sent.
%p
  Each new login to hellraiser.io will reset the timers, and if you're already logged-in, you can hit the
  "Ping all" button.
