- @page_title = t('.title')

- content_for :page_actions do
  = link_to t('generic.show'), member_dead_man_switch_path(@dead_man_switch), role: 'button'
  = link_to t('generic.back'), member_dead_man_switches_path, role: 'button'

= render 'form', dead_man_switch: @dead_man_switch
