- @page_title = t('.title')

- add_modal render('help'), id: 'help_modal', variant: :info

- content_for :page_actions do
  - if @dead_man_switches.count.positive?
    = link_to t('.ping_all'),
              :ping_all_member_dead_man_switches,
              method: :put,
              role: 'button'
  - else
    %button{ role: 'button', disabled: true }= t('.ping_all')

  = link_to t('.new'), new_member_dead_man_switch_path, role: 'button', class: 'creative'
  = show_modal_button t('generic.help'), id: 'help_modal'

.thin-layout
  - if @dead_man_switches.count.zero?
    .alert.alert--empty= t('.no_content')
  - else
    - @dead_man_switches.each do |dead_man_switch|
      .element
        .element__title
          %h2= link_to dead_man_switch.name, member_dead_man_switch_path(dead_man_switch)
          .element__title__item
            - if policy([:member, dead_man_switch]).ping?
              = link_to t('.ping'), ping_member_dead_man_switch_path(dead_man_switch), method: :put, role: 'button'
            - else
              %button{ type: 'button', disabled: true }= t('.ping')

            - if policy([:member, dead_man_switch]).rearm?
              = link_to t('.rearm'), rearm_member_dead_man_switch_path(dead_man_switch), method: :put, role: 'button'
            - else
              %button{ type: 'button', disabled: true }= t('.rearm')

            = link_to t('generic.edit'), edit_member_dead_man_switch_path(dead_man_switch), role: 'button'

            = link_to t('generic.destroy'),
                        member_dead_man_switch_path(dead_man_switch),
                        method: :delete,
                        data: { confirm: t('generic.are_you_sure') },
                        role: 'button',
                        class: 'destructive'
        .element__subtitle
          %strong= t('activerecord.attributes.dead_man_switch.ping_frequency')
          = t('.ping_frequency', frequency: dead_man_switch.ping_frequency)
          &#8213;
          %strong= t('activerecord.attributes.dead_man_switch.last_pinged_at')
          = time_ago_in_words(dead_man_switch.last_pinged_at)
          &#8213;
          %strong= t('activerecord.attributes.dead_man_switch.expires_at')
          - if dead_man_switch.expired?
            \-
          - else
            = distance_of_time_in_words_to_now(dead_man_switch.expires_at)
        .element__subtitle
          %strong= t('activerecord.attributes.dead_man_switch.email_sent_at')
          = dead_man_switch.email_sent_at || '-'
