- @page_title = t('.title', name: @dead_man_switch.name)

- content_for :page_actions do
  = link_to t('generic.back'), member_dead_man_switches_path, role: 'button'
  = link_to t('generic.edit'), edit_member_dead_man_switch_path(@dead_man_switch), role: 'button'

.content-layout
  %aside.content-layout__panel
    %section.element.element--panel
      %dl.element__content
        %dt= t('generic.definition', value: t('activerecord.attributes.dead_man_switch.recipients'))
        %dd
          %ul
            - @dead_man_switch.recipients.split("\n").map(&:chomp).reject(&:empty?).each do |address|
              %li= address

        %dt= t('generic.definition', value: t('activerecord.attributes.dead_man_switch.ping_frequency'))
        %dd= t('.ping_frequency', frequency: @dead_man_switch.ping_frequency)

        %dt= t('generic.definition', value: t('activerecord.attributes.dead_man_switch.last_pinged_at'))
        %dd= time_ago_in_words(@dead_man_switch.last_pinged_at)

        %dt= t('generic.definition', value: t('activerecord.attributes.dead_man_switch.expires_at'))
        %dd= distance_of_time_in_words_to_now(@dead_man_switch.expires_at)

        %dt= t('generic.definition', value: t('activerecord.attributes.dead_man_switch.email_sent_at'))
        %dd= @dead_man_switch.email_sent_at ? time_ago_in_words(@dead_man_switch.email_sent_at) : '-'

        %dt= t('generic.definition', value: t('activerecord.attributes.dead_man_switch.created_at'))
        %dd= time_ago_in_words(@dead_man_switch.created_at)

        %dt= t('generic.definition', value: t('activerecord.attributes.dead_man_switch.updated_at'))
        %dd= time_ago_in_words(@dead_man_switch.updated_at)

  %article.content-layout__content
    %h2= t('.email_content')
    = render 'dead_man_switch_notification_mailer/email_header'
    %pre= @dead_man_switch.content
    = render 'dead_man_switch_notification_mailer/email_footer'
