-# Required variables:
  - element_id:    The widget identifier
  - input_name:    The name of the hidden field. This input emits a 'change' event when changed
  - input_tz_name: The name of the hidden field for the timezone

  Will create elements with the following ids:
    - <element_id>:                  The widget outer div
    - <element_id>_hours:            The hours input
    - <element_id>_hours_datalist:   A datalist of 0-23 hours; helper for the hours input
    - <element_id>_minutes:          The minutes input
    - <element_id>_minutes_datalist: A datalist of some predefined minutes; helper for the minutes input
    - <element_id>_selected_date:    Input with iso formatted date
    - <element_id>_timezone:         Input with timezone information

.datetime_picker{ id: element_id }
  .datetime_picker__header
    %button{ type: :button, '@click' => 'changeMonth(-1)' } &lt;
    .datetime_picker__header__date
      {{ niceDate(selectedDate) }}
    %button{ type: :button, '@click' => 'changeMonth(1)' } &gt;
  .datetime_picker__days
    .datetime_picker__days__header{ 'v-for' => 'i in 7',
                           ':key' => 'i' }
      {{ dayName(daysOfMonth[i-1]) }}
    %button.datetime_picker__day{ 'v-for' => 'day in daysOfMonth',
                           ':key' => 'day.toString()',
                           '@click' => 'setDate(day)',
                           type: :button,
                           ':class' => 'dayCssClasses(day)' }
      {{ day.getDate() }}
  .datetime_picker__time
    %input{ 'v-model' => 'selectedHours',
            '@change' => 'setHours',
            type: 'number',
            list: "#{element_id}_hours_datalist",
            min: 0,
            max: 23,
            step: 1,
            required: true,
            id: "#{element_id}_hours",
            name: "#{element_id}_hours" }
    %datalist{ id: "#{element_id}_hours_datalist" }
      %option{ 'v-for' => 'i in 23', ':key' => 'i', ':value' => 'i' } {{i}}
    \:
    %input{ 'v-model' => 'selectedMinutes',
            '@change' => 'setMinutes',
            type: 'number',
            list: "#{element_id}_minutes_datalist",
            min: 0,
            max: 59,
            step: 1,
            required: true,
            id: "#{element_id}_minutes",
            name: "#{element_id}_minutes" }
    %datalist{ id: "#{element_id}_minutes_datalist" }
      %option{ 'v-for' => 'i in [0, 15, 30, 45]', ':key' => 'i', ':value' => 'i' } {{i}}

  %input{ type: 'hidden',
          name: input_name,
          id: "#{element_id}_selected_date",
          ref: 'hiddenInput',
          ':value' => 'selectedDateIso' }
  %input{ type: 'hidden',
          name: input_tz_name,
          id: "#{element_id}_timezone",
          ':value' => 'detectedTimeZone' }
