<template>
  <div class="chat-form">
    <form @submit.prevent="handleKeyup">
      <ul v-if="possibleNames.length > 0"
          class="chat-form__poppin"
          tabindex="-1">
        <li v-for="(name, i) in possibleNames" :key="i" :class="{active: selectedName === i}">
          {{ name }}
        </li>
        <li class="notice">{{ $t('js.chat.form.name_select_help') }}</li>
      </ul>
      <div class="chat-form__input" :class="formCSS">
        <!-- Wrapper element so we can pop the textarea out -->
        <div>
          <textarea id="chat-form-input"
                    ref="input"
                    v-model="content"
                    type="text"
                    :disabled="!activeRoomId"
                    autocomplete="off"
                    :placeholder="$t('js.chat.form.input_placeholder')"
                    @keydown="handleKeydown"
                    @blur.prevent="resetNameSelection" />
        </div>
        <div v-show="sending">{{ $t('js.chat.form.sending') }}</div>
        <button role="button"
                type="submit"
                class="recorder"
                :disabled="!content || sending || selectingName"
                @click.prevent="send">
          {{ $t('js.chat.form.send') }}
        </button>
      </div>
    </form>

    <form action="" class="field--file" @submit.prevent>
      <label class="button creative" :class="{ disabled: sending }">
        <input type="file" name="file" :disabled="sending" @change="handleFileUpload">
        {{ $t('js.chat.form.file') }}
      </label>
    </form>
  </div>
</template>

<script>
import HtmlHelper from '../../../helpers/html'
import RegexHelper from '../../../helpers/regexes'

const maxFileSize = 3 * 1024 * 1024

export default {
  name: 'ChatForm',
  data () {
    return {
      // Form
      id: null,
      content: '',
      file: '',
      // State
      sending: false,
      // Name completion
      possibleNames: '',
      selectedName: null,
      chunks: [],
      chunkIndex: null,
      originalCaretPosition: 0,
    }
  },
  computed: {
    activeRoomId () { return this.$store.getters.activeRoomId },
    chatPresencesNames () { return this.$store.getters.chatPresences.map(p => p.chat_participant.name) },
    selectingName () { return this.selectedName !== null },
    lines () { return (this.content.match(/\n/g) || []).length + 1 },
    formCSS () {
      if (this.lines <= 4) return `chat-form__input--${this.lines}`
      else if (this.lines > 4) return 'chat-form__input--4'

      return ''
    },
  },
  methods: {
    send () {
      if (!this.content) return
      this.sending = true
      const payload = { content: this.content }
      if (this.id) payload.id = this.id

      this.$store.dispatch('sendMessage', payload)
        .then(() => {
          this.id = null
          this.content = ''
          this.sending = false
        })
    },
    editLastMessage () {
      if (this.content) return
      const message = this.$store.getters.lastSentMessage
      if (!message) return
      this.content = message.content
      this.id = message.id
    },
    handleFileUpload (e) {
      if (e.target.files[0].size > maxFileSize) {
        alert(this.$t('js.dropzone.file_too_big', { max: '3Mb' }))
        return
      }
      this.sending = true
      this.$store.dispatch('sendFile', e.target.files[0])
        .then(() => {})
        .catch(() => { alert(this.$t('js.dropzone.upload_failed')) })
        .then(() => { this.sending = false })
    },
    applyName () {
      this.chunks[this.chunkIndex[0]][this.chunkIndex[1]] = this.possibleNames[this.selectedName]

      // Determine new caret position
      const lines = this.chunks.slice(0, this.chunkIndex[0] + 1)
      lines[lines.length - 1] = lines[lines.length - 1].slice(0, this.chunkIndex[1] + 1)
      const words = lines.map(e => e.join(' ')).join('\n')
      const position = words.length

      // Apply
      this.content = this.chunks.map(e => e.join(' ')).join('\n')
      this.$nextTick(() => { HtmlHelper.setCaretAt(this.$refs.input, position) })

      this.resetNameSelection()
    },
    cycleNames (amount) {
      let nextName = this.selectedName + amount
      if (nextName === this.possibleNames.length) nextName = 0
      else if (nextName < 0) nextName = this.possibleNames.length - 1

      this.selectedName = nextName
    },
    autocompleteName (nextCharPosition, typedLetter) {
      // End of line or space after
      const possible = this.content.length === nextCharPosition || /\s/.test(this.content[nextCharPosition])
      if (!possible) return

      // Find last word the user is typing
      const beginning = this.content.substring(0, nextCharPosition)
      const lastWords = beginning.split(/\s/)
      const lastWord = lastWords[lastWords.length - 1] + typedLetter
      if (!lastWord) return

      const possibleNames = this.chatPresencesNames.filter(n => n.match(`^${RegexHelper.escapeRegExp(lastWord)}`))
      if (possibleNames.length === 0 || possibleNames[0] === lastWord) {
        this.resetNameSelection()
        return
      }

      // Lines to the word
      const firstLines = beginning.split('\n').map((el) => el.split(' '))
      // Collection of lines/word
      this.chunks = this.content.split('\n').map((el) => el.split(' '))
      this.chunkIndex = [firstLines.length - 1, firstLines[firstLines.length - 1].length - 1]
      // Update other vars
      this.originalCaretPosition = nextCharPosition
      this.possibleNames = possibleNames
      this.selectedName = 0
    },
    handleKeydown (e) {
      // Cancel if user is selecting some text while a name selection dialog is here
      if (e.target.selectionStart !== e.target.selectionEnd && this.selectingName) {
        this.resetNameSelection()
        return
      }

      switch (e.key) {
        case 'ArrowUp':
          if (this.selectingName) {
            e.preventDefault()
            this.cycleNames(-1)
          } else {
            this.editLastMessage()
          }
          break
        case 'ArrowLeft':
          if (this.selectingName) {
            e.preventDefault()
            this.cycleNames(-1)
          }
          break
        case 'ArrowDown':
          if (this.selectingName) {
            e.preventDefault()
            this.cycleNames(1)
          }
          break
        case 'ArrowRight':
          if (this.selectingName) {
            e.preventDefault()
            this.applyName()
          }
          break
        case 'Tab':
          if (this.selectingName) {
            e.preventDefault()
            this.applyName()
          }
          break
        case 'Enter':
          if (!this.sending && !e.shiftKey) {
            e.preventDefault()
            if (this.selectingName) this.resetNameSelection()
            this.send()
          }
          break
        case undefined:
          break
        default:
          this.autocompleteName(e.target.selectionStart, e.key)
      }
    },
    resetNameSelection () {
      this.selectedName = null
      this.possibleNames = []
      this.chunks = []
      this.chunkIndex = null
    },
  },
  watch: {
    activeRoomId (newVal) { if (newVal) this.$nextTick(() => { this.$refs.input.focus() }) },
  },
}
</script>
