<template>
  <chat-upload-area v-bar class="chat-messages">
    <div ref="messages" class="chat-messages__content">
      <div v-if="fetchError" class="alert alert--alert">
        {{ $t('js.chat.messages.fetch_error') }}
        <button @click="reloadPage">{{ $t('generic.reload') }}</button>
      </div>
      <div v-else-if="loadingChatData" class="alert alert--empty">{{ $t('generic.loading') }}</div>
      <template v-else>
        <div class="alert alert--empty">{{ $t('js.chat.messages.deleted_messages') }}</div>
        <div v-for="group in chatMessagesByDate" :key="group[0]">
          <h1 class="date-separator">{{ niceDate(group[0]) }}</h1>
          <chat-message v-for="message in group[1]" :key="message.id" :message="message" @loaded="scrollToBottom" />
        </div>
      </template>
    </div>
  </chat-upload-area>
</template>

<script>
import ChatMessage from './messages/_message.vue'
import ChatUploadArea from './_upload_area.vue'

export default {
  name: 'ChatMessages',
  components: { ChatUploadArea, ChatMessage },
  computed: {
    chatMessagesByDate () { return this.$store.getters.chatMessagesByDate },
    fetchError () { return this.$store.getters.chatMessagesError },
    loadingChatData () { return this.$store.getters.loadingChatData },
  },
  methods: {
    scrollToBottom () {
      const messagesEl = this.$refs.messages
      this.$nextTick(() => { messagesEl.scrollTo(0, messagesEl.scrollHeight) })
    },
    reloadPage () {
      location.reload()
    },
    niceDate (string) {
      const d = string.split('-')
      return this.$t('generic.date', { year: d[0], month: d[1], day: d[2] })
    },
  },
  updated () {
    this.scrollToBottom()
  },
}
</script>
