<template>
  <div class="chat-panel">
    <div v-show="opened && !pinned" class="chat-panel__overlay" @click="opened = false" />
    <div class="chat-panel__actions">
      <button v-show="!pinned" role="button" @click="opened =! opened">
        {{ $t('js.chat.panel.rooms_and_participants') }}
      </button>
    </div>
    <aside v-show="opened || pinned" class="chat-panel__content">
      <h2 v-show="!pinned" class="chat-panel__title">
        {{ $t('js.chat.panel.rooms_and_participants') }}
        <button role="button" class="close" @click="opened =! opened">
          &times;
        </button>
      </h2>
      <chat-rooms />
      <chat-roster v-show="!inAcquaintanceRoom" />
    </aside>
  </div>
</template>

<script>
import ChatRoster from './_roster.vue'
import ChatRooms from './_rooms.vue'

export default {
  name: 'ChatPanel',
  components: { ChatRooms, ChatRoster },
  data () {
    return {
      opened: false,
      pinned: false,
    }
  },
  computed: {
    activeRoomId () { return this.$store.getters.activeRoomId },
    inAcquaintanceRoom () { return this.$store.getters.inAcquaintanceRoom },
  },
  methods: {
    handleWindowResize () {
      // See app/assets/stylesheets/components/_chat.scss for used breakpoint
      // See app/assets/stylesheets/base/_variables.scss for available breakpoints
      this.pinned = window.innerWidth >= 576
    },
  },
  created () {
    window.addEventListener('resize', this.handleWindowResize)
    this.handleWindowResize()
  },
  watch: {
    activeRoomId (newVal) { if (newVal) this.opened = false },
  },
}
</script>
