<template>
  <div class="chat-rooms" :class="{'chat-rooms--full' : inAcquaintanceChatRoom }">
    <h3 class="has-actions">
      {{ $t('js.chat.rooms.rooms') }}
      <button role="button" class="actions creative" :title="$t('js.chat.rooms.new_chatroom')" @click="showForm=true">+</button>
    </h3>
    <div v-bar>
      <!-- wrapper for v-bar -->
      <div>
        <div v-if="loadingChatRooms" class="alert alert--empty">{{ $t('generic.loading') }}</div>
        <div v-if="chatRooms.length === 0 || acquaintanceChatRooms.lenght === 0" class="alert alert--empty">
          {{ $t('js.chat.rooms.no_chatroom_available') }}
        </div>
        <chat-room v-for="room in chatRooms" :key="room.id" :chat-room="room" @edit="edit(room.id)" />
        <chat-room v-for="room in acquaintanceChatRooms" :key="room.id" :chat-room="room" @edit="edit(room.id)" />
      </div>
    </div>
    <div class="modal" :class="{active: showForm}">
      <rooms-form :in-modal="true" :room="editingRoom" @close="closeForm" />
    </div>
  </div>
</template>

<script>
import ChatRoom from './rooms/_room.vue'
import RoomsForm from './rooms/_form.vue'

export default {
  name: 'ChatRooms',
  components: { RoomsForm, ChatRoom },
  data () {
    return {
      showForm: false,
      editingRoom: null,
    }
  },
  computed: {
    chatRooms () { return this.$store.getters.chatRooms },
    acquaintanceChatRooms () { return this.$store.getters.acquaintanceChatRooms },
    inAcquaintanceChatRoom () { return this.$store.getters.inAcquaintanceRoom },
    loadingChatRooms () { return this.$store.getters.loadingChatRooms },
  },
  methods: {
    edit (id) {
      const room = this.chatRooms.find((r) => r.id === id)
      if (!room) return

      this.editingRoom = room
      this.showForm = true
    },
    closeForm () {
      this.showForm = false
      this.editingRoom = null
    },
  },
}
</script>
