<template>
  <div class="chat-roster">
    <h3>{{ $t('js.chat.roster.participants') }}</h3>
    <div v-bar>
      <!-- Wrapper for v-bar -->
      <div>
        <div v-if="fetchError" class="alert alert--alert">{{ $t('js.chat.roster.fetch_error') }}</div>
        <div v-else-if="loadingChatData || !chatParticipant" class="alert alert--empty">{{ $t('generic.loading') }}</div>
        <template v-else>
          <div v-if="chatParticipant" class="chat-roster__participant">
            <div class="cenobite-color" :style="cenobiteStyle(chatParticipant)">{{ chatParticipant.name }}</div>
            <button role="button" @click="edit">{{ $t('generic.edit') }}</button>
          </div>
          <div v-if="presences.length === 0" class="alert alert--empty">{{ $t('js.chat.roster.no_participant') }}</div>
          <div v-for="presence in presences" :key="presence.id" class="cenobite-color" :style="cenobiteStyle(presence.chat_participant)">
            {{ presence.chat_participant.name }}
          </div>
        </template>
      </div>
    </div>

    <div class="modal" :class="{active: editParticipant}">
      <form action="#" class="modal__widget" @submit.prevent="save">
        <div class="modal__content">
          <api-error :errors="errors" />

          <div class="field">
            <label for="chat-participant-form-name">{{ $t('js.chat.rooms.form.user_name') }}</label>
            <input id="chat-participant-form-name" v-model="inputs.name" type="text">
          </div>

          <div class="field">
            <label>
              <input v-model="inputs.auto_join" type="checkbox">
              {{ $t('js.chat.rooms.form.auto_join') }}
            </label>
          </div>
        </div>
        <div class="modal__actions">
          <button @click="editParticipant = false">{{ $t('generic.cancel') }}</button>
          <button class="creative" type="submit">{{ $t('generic.save') }}</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import cH from '../../../helpers/colors'
import ErrorMixin from '../../mixins/errors'

export default {
  name: 'ChatRoster',
  mixins: [ErrorMixin],
  data () {
    return {
      editParticipant: false,
      inputs: {
        name: '',
        auto_join: false,
      },
    }
  },
  computed: {
    presences () {
      // We need participant to build the presences list
      if (!this.chatParticipant) return []
      return this.$store.getters.chatPresences.filter(p => p.chat_participant_id !== this.chatParticipant.id)
    },
    fetchError () { return this.$store.getters.chatPresencesError },
    chatParticipant () { return this.$store.getters.chatParticipant },
    loadingChatData () { return this.$store.getters.loadingChatData },
  },
  methods: {
    cenobiteStyle (participant) { return cH.cenobiteStyle(participant.name, participant.id) },
    edit () {
      this.editParticipant = true
    },
    save () {
      this.errors = false
      const payload = { ...this.inputs }
      payload.id = this.chatParticipant.id
      this.$store.dispatch('updateParticipant', payload)
        .then(() => { this.editParticipant = false })
        .catch((response) => { this.errorHandler(response) })
    },
  },
  watch: {
    chatParticipant (newValue) {
      if (newValue) {
        this.inputs.name = newValue.name
        this.inputs.auto_join = newValue.auto_join
      } else {
        this.inputs.name = ''
        this.inputs.auto_join = false
      }
    },
  },
  filters: {
    minusFirstLetter (string) {
      return string.substr(1)
    },
  },
}
</script>
