<template>
  <header v-if="activeRoom" class="chat-status">
    <h2 class="chat-status__title">
      {{ activeAcquaintance ? activeAcquaintance.cenobite.name : activeRoom.name }}
    </h2>
    <div v-if="activeRoom.description || activeAcquaintance" class="chat-status__subtitle">
      <div class="chat-status__subtitle__inner">
        {{ activeAcquaintance ? $t('js.chat.status.private_chat') : activeRoom.description }}
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'ChatStatus',
  computed: {
    activeRoom () { return this.$store.getters.activeRoom },
    activeAcquaintance () { return this.$store.getters.activeAcquaintance },
  },
}
</script>
