<template>
  <div @dragover="isDragging = true" @dragexit="resetDropZone" @dragend="resetDropZone">
    <slot />

    <div class="modal"
         :class="{ active: isDragging, 'modal--info': inDropZone && !error && !errors, 'modal--warning': inDropZone && (error || errors) }">
      <div class="modal__widget drop-zone--modal"
           @dragover="dragOver"
           @dragleave="dragLeave"
           @drop="drop">
        <div class="modal__content">
          <span v-if="error">{{ error }}</span>
          <span v-else-if="loading">{{ $t('js.dropzone.transferring') }}</span>
          <span v-else>{{ $t('js.dropzone.drop_it') }}</span>

          <div v-if="fatalDropError || errors">
            <api-error-list v-if="errors" :errors="errors" />
            {{ $t('js.dropzone.fatal_error') }}
            <button @click="resetDropZone">{{ $t('generic.cancel') }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ErrorsMixin from '../../mixins/errors'
import dragNDropHelper from '../../../helpers/drag_n_drop'
import ApiErrorList from '../api_error/_list.vue'

const maxFileSize = 3 * 1024 * 1024

export default {
  name: 'ChatUploadArea',
  components: { ApiErrorList },
  mixins: [ErrorsMixin],
  component: { ApiErrorList },
  data () {
    return {
      isDragging: false,
      inDropZone: false,
      fileIsValid: false,
      error: '',
      fatalDropError: false,
      loading: false,
    }
  },
  computed: {
    activeRoomId () { return this.$store.getters.activeRoomId },
  },
  methods: {
    resetDropZone () {
      this.isDragging = false
      this.inDropZone = false
      this.fileIsValid = false
      this.error = ''
      this.fatalDropError = false
      this.errors = false
      this.loading = false
    },
    dragOver (event) {
      event.preventDefault()

      if (this.inDropZone) return
      this.inDropZone = true
      this.error = ''
      this.fileIsValid = false

      const files = dragNDropHelper.countDraggedFiles(event)

      if (files > 1) this.error = this.$t('js.dropzone.too_much_files')
      else if (files === 0) this.error = this.$t('js.dropzone.no_file_selected')
      else this.fileIsValid = true
    },
    dragLeave () {
      this.error = ''
      this.inDropZone = false
    },
    drop (event) {
      event.preventDefault()

      if (this.error) this.resetDropZone()

      const files = dragNDropHelper.extractFiles(event)
      if (files[0].size > maxFileSize) {
        this.fatalDropError = true
        this.error = this.$t('js.dropzone.file_too_big', { max: '3Mb' })
      } else {
        this.loading = true
        this.$store.dispatch('sendFile', files[0])
          .then(() => { this.resetDropZone() })
          .catch((e) => { this.errorHandler(e) })
          .then(() => { this.loading = false })
      }
    },
  },
}
</script>
