<template>
  <ul>
    <template v-for="(list, key) in errors">
      <li v-if="typeof list === 'string'" :key="key">{{ list }}</li>
      <template v-else>
        <li v-for="e in list" :key="`${key}-${e}`">{{ key }} - {{ e }}</li>
      </template>
    </template>
  </ul>
</template>

<script>
// Handles hash of errors lists, e.g.:
// { password: ['does not match', 'is empty'] }
export default {
  name: 'ApiErrorList',
  props: {
    errors: { required: true, type: [Object, Boolean] },
  },
}
</script>
