- url = rss_feed.id ? member_rss_feed_path : member_rss_feeds_path
= form_for rss_feed, url: url, class: 'thin-layout' do |f|
  - if rss_feed.errors.any?
    .alert.alert--alert
      %p= t('.errors', amount_str: pluralize(rss_feed.errors.count, 'error'))
      %ul
        - rss_feed.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :url
    = f.text_field :url, required: true, disabled: rss_feed.id.present?

  .field
    = f.label :tag_list
    = f.text_field :tag_list, value: rss_feed.tags.join(', ')
    .field-help= t('tags.form.format_help')

  .page-actions
    = f.submit t('generic.save')
