- @page_title = t('.title')

- content_for :page_actions do
  = link_to t('generic.back'), :member_rss_feeds, role: 'button'
  = link_to t('generic.destroy'),
            member_rss_feed_path(@rss_feed),
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'destructive'

.thin-layout
  = render 'form', rss_feed: @rss_feed
