- @page_title = t('.title')

- content_for :page_actions do
  = link_to t('.new'), new_member_rss_feed_path, role: 'button', class: 'creative'

- if @rss_feeds.count.zero?
  .alert.alert--empty= t('.no_content')
- else
  %table.table--items
    %thead
      %tr
        %th= sort_link t('activerecord.attributes.rss_feed.title'), :title
        %th= t('activerecord.attributes.rss_feed.link')
        %th= t('activerecord.attributes.rss_feed.description')
        %th= t('.tags')
        %th= t('activerecord.attributes.rss_feed.language')
        %th= sort_link t('activerecord.attributes.rss_feed.last_fetched_at'), :last_fetched_at
        %th

    %tbody
      - @rss_feeds.each do |rss_feed|
        %tr
          %td{ 'data-label' => t('activerecord.attributes.rss_feed.title') }
            = rss_feed.title

          %td{ 'data-label' => t('activerecord.attributes.rss_feed.link') }
            = external_link_to rss_feed.title, rss_feed.title

          %td{ 'data-label' => t('activerecord.attributes.rss_feed.description') }
            = rss_feed.description

          %td{ 'data-label' => t('.tags') }
            = tag_list(rss_feed.tags.order('tags.name' => :desc))

          %td{ 'data-label' => t('activerecord.attributes.rss_feed.language') }
            = rss_feed.language

          %td{ 'data-label' => t('activerecord.attributes.rss_feed.last_fetched_at') }
            = rss_feed.last_fetched_at

          %td.actions{ 'data-label' => t('generic.actions') }
            - if policy([:member, rss_feed]).edit?
              = link_to t('generic.edit'), edit_member_rss_feed_path(rss_feed), role: 'button'
            - if policy([:member, rss_feed]).destroy?
              = link_to t('generic.destroy'),
                        member_rss_feed_path(rss_feed),
                        method: :delete,
                        data: { confirm: t('generic.are_you_sure') },
                        role: 'button',
                        class: 'destructive'
