= form_for cenobite, url: member_preferences_path, html: { class: 'thin-layout' } do |f|
  - if cenobite.errors.any?
    .alert.alert--alert
      %p= t('.errors', amount_str: pluralize(cenobite.errors.count, 'error'))
      %ul
        - cenobite.errors.full_messages.each do |message|
          %li= message

  %h2= t('.account')
  .field
    = f.label :name
    = f.text_field :name
    .field-help= t('.help_name')

  .field
    = f.label :email
    = f.text_field :email
    - if cenobite.unconfirmed_email.present?
      .field-help.text--alert= t('.pending_email_validation', email: cenobite.unconfirmed_email)
    - else
      .field-help= t('.help_email')

  %h2= t('.password')
  .field
    = f.label :password, t('.new_password')
    = f.password_field :password, autocomplete: 'off'
    .field-help= t('.help_password')
  .field
    = f.label :password_confirmation, t('.password_confirmation')
    = f.password_field :password_confirmation, autocomplete: 'off'

  %h2= t('.social')
  .field
    = f.check_box :visible_by_members
    = f.label :visible_by_members
    .field-help= t('.help_visible_by_members')
  .field
    = f.check_box :show_email_to_acquaintances
    = f.label :show_email_to_acquaintances
    .field-help= t('.help_show_email_to_acquaintances')

  %h2= t('.notifications')
  .field
    = f.check_box :notify_new_motion
    = f.label :notify_new_motion
    .field-help= t('.help_new_motions')
  .field
    = f.check_box :notify_new_acquaintance
    = f.label :notify_new_acquaintance
    .field-help= t('.help_new_acquaintance')

  %h2= t('.cosmetics')
  .field
    = f.label :locale
    = f.select :locale, locales_options
    .field-help= t('.help_locale')
  .field
    = f.label :theme
    = f.select :theme, themes_options
    .field-help= t('.help_theme')

  .field
    = f.check_box :use_3d_view
    = f.label :use_3d_view
    .field-help= t('.help_use_3d_view')
  .form-actions
    = f.submit t('generic.save'), class: 'recorder'
