%p
  The bottin is where cenobites can expose themselves.
  It was created to ease people find and meet each other, if they want to.

%p
  From here, you can easily request acquaintances with other members, and be contacted too.

%p
  If you prefer not to be here, turn off the option in your preferences; that won't stop
  people from creating acquaintance request with you directly if they know your email address.
