%p
  Le bottin, c'est l'endroit où les cénobites qui n'ont pas peur de se rencontrer
  peuvent s'exposer.
  Il a été créé pour faciliter les rencontres pour ceux qui le souhaitent.

%p
  D'ici, vous pourrez aisément faire et recevoir des demande de contact vers les autres membres.

%p
  Si vous désactivez la fonctionnalité dans vos préférences, cela n'empêchera pas les gens de
  vous addresser directement leurs demandes de contact, s'ils connaissent votre adresse de courriel.
