- @page_title = t('.title')

- add_modal render('member/cenobites/index_help'), id: 'acquaintances_help', variant: 'info'

- content_for :page_actions do
  = show_modal_button t('generic.help'), id: 'acquaintances_help'
.thin-layout
  %noscript
    -# Don't be too intrusive and display a small warning
    %p.text--alert= t('generic.js_recommended')

  - if @cenobites.count.zero?
    .alert.alert--empty= t('.no_content')
  - else
    .element.element--panel
      .element__content
        = sort_link t('activerecord.attributes.cenobite.name'), :name

    - @cenobites.each do |cenobite|
      :ruby
        pending_acquaintance_with = current_cenobite.pending_acquaintance_with(cenobite)
        pending_acquaintance_from = current_cenobite.pending_acquaintance_from(cenobite)
        acquainted_with = cenobite.acquainted_with?(current_cenobite)
        you = cenobite.id == current_cenobite.id
      .element
        .element__title
          %h2= cenobite.name
          .element__title__item
            - if you
              %em= t('.you')
            - elsif acquainted_with
              = t('.acquaintance_made')
            - elsif pending_acquaintance_with
              = button_to t('.accept_invitation'),
                          accept_member_acquaintance_path(pending_acquaintance_with, format: :json),
                          class: 'creative',
                          method: :post,
                          remote: true,
                          data: { toggle_type: :accept_acquaintance_request,
                                  request_id: pending_acquaintance_with.id },
                          role: :button
              = button_to t('.cancel_invitation'),
                          member_acquaintance_path(pending_acquaintance_with, format: :json),
                          class: 'destructive',
                          method: :delete,
                          remote: true,
                          data: { toggle_type: :destroy_acquaintance_request,
                                  request_id: pending_acquaintance_with.id },
                          role: :button
            - elsif pending_acquaintance_from
              = button_to t('.cancel_invitation'),
                          member_acquaintance_path(pending_acquaintance_from, format: :json),
                          class: 'destructive',
                          method: :delete,
                          remote: true,
                          data: { toggle_type: :destroy_acquaintance_request },
                          role: :button
            - else
              = button_to t('.request_acquaintance'),
                          invite_member_cenobite_path(cenobite.id, format: :json),
                          class: 'creative',
                          method: :post,
                          remote: true,
                          data: { toggle_type: :create_acquaintance_request },
                          role: :button

    = paginate @cenobites, window: 2

= vite_javascript_tag 'entrypoints/cenobites/index'
