- @page_title = t('.title')

.thin-layout
  - if @likes.count.zero?
    .alert.alert--empty= t('.no_content')
  - else

    %table.table--items
      %thead
        %tr
          %th= sort_link t('.creation_date'), :created_at
          %th= sort_link t('activerecord.attributes.like.likable_type'), :likable_type
          %th= t('.name')
          %th

      %tbody
        - @likes.each do |like|
          %tr
            %td{ 'data-label' => t('activerecord.attributes.like.created_at') }
              = short_date like.created_at

            %td{ 'data-label' => t('activerecord.attributes.like.likable_type') }
              = like.likable_type

            %td{ 'data-label' => t('activerecord.attributes.like.likable') }
              = link_to like.likable.title, member_like_path(like)

            %td.actions{ 'data-label' => t('generic.actions') }
              = link_to t('generic.destroy'),
                        member_like_path(like),
                        method: :delete,
                        data: { confirm: t('generic.are_you_sure') },
                        role: 'button',
                        class: 'destructive'
