%p
  This is a paragraph with <em>emphasised text</em>, <strong>important (strong)
  text</strong> and a <a href="#">link</a>.

%p
  A somewhat long paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aliquam
  culpa, deserunt distinctio enim esse ex, facere facilis numquam placeat porro
  quas quos sit tempore veniam voluptas voluptate voluptatibus.

%blockquote
  This is a perfect block for quotations.

%pre And this is perfect for preformatted text
You also can use some inline <code>code things</code>.
