#comments
  %h2.has-actions
    = t('generic.comments')
    .actions
      = link_to t('.add_one'), '#new-comment-area', class: 'button creative'
  .comments
    %comment-entry{ 'v-for' => 'comment in sortedComments',
                    ':comment' => 'comment',
                    ':key' => 'comment.id',
                    ':user-id' => 'userId' }

    .alert.alert--info{ 'v-if' => 'loading' }= t('.loading')

    %api-error{ ':errors' => 'errors' }

    .alert.alert--empty{ 'v-if' => 'sortedComments.length == 0' }= t('.no_comments')

  %h2#new-comment-area
    = t('.add_comment')
    - if entity.respond_to?(:anonymous) && !entity.anonymous
      %span.text--alert= t('.not_anonymous')

  %comment-form{ ':create-url' => 'entityURL' }

= vite_javascript_tag 'codemirror'

-# Comments rendered with VueJS
= vite_javascript_tag 'drop_zone'
= vite_javascript_tag 'entrypoints/apps/comments.js'
:javascript
  document.addEventListener('DOMContentLoaded', () => {
    CommentsView({
       url: '#{new_comment_url(entity)}',
       userId: #{current_cenobite.id},
       entity: { type: '#{entity.class.name}', id: '#{entity.id}' }
    })
  })
