.element
  .element__title
    Here is some fine title
  .element__subtitle
    Here are some subtitles
    %button.destructive Some button
    %button.creative Some button
    %button.recorder Some button

  .element__content
    Here is the content:
    %p
      Some text, a <a href="#">link</a> and some buttons.
    %button.destructive Some button
    %button.creative Some button
    %button.recorder Some button
    %button.string Some button

  .element__footer
    And the footer lies here.
