.element
  .element__title
    .element__title__item Some item
    .element__title__item Some item
    %h2 The title (h2/3/4 or 5)
    .element__title__item Some item
    .element__title__item Some item
  .element__subtitle
    Here are some subtitles
    %button.destructive Some button
    %button.creative Some button
    %button.recorder Some button

  .element__content
    Here is the content:
    %p
      Some text, a <a href="#">link</a> and some buttons.
    %button.destructive Some button
    %button.creative Some button
    %button.recorder Some button
    %button.string Some button

  .element__footer
    And the footer lies here.
