.element
  .element__title
    %h2
      By
      %span.cenobite-color{ style: 'color: #ccc; background-color: #1e61b0;' } #1e61b0
      on Aug 26, 2020, 8:19 PM
    .element__title__item
      %button{ role: 'button' } Edit
      %button.destructive{ role: 'button' } Destroy
  .element__content
    %p This is a nice comment!
