.element.element--paste
  .element__title
    .element__title__item [ ]
    .element__title__item [ ]
    .element__title__item [md]
    %h2
      %a{ href: '#"' } My first paste
    .element__title__item
      %button{ role: 'button' } Copy link
      .dropdown
        %button ▼
        .dropdown__menu__outline
          .dropdown__menu__content
            %a{ href: '#', role: 'button' } Edit
            %a.destructive{ role: 'button' } Destroy
