.element
  .element__title
    %h2 The source is here
    .element__title__item
      %span.score 0/0
      %button{ role: 'button' } Edit
      %button.destructive{ role: 'button' } Destroy
  .element__content
    Here is the content, truncated to a given le[…]
