%p Collapsed RSS item

.element.element--rss-item
  .element__title
    %h2
      %a{ href: '#', rel: 'noreferrer noopener', target: '_blank' }
        Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .element__title__item
      %button{ role: 'button' }> -
      %span.score.score--hidden.score--negative{ data: { score: { id: '1' } } } 0/2
      %button{ role: 'button' } +
      %button.not-favorite{ role: 'button' } ☆
  .element__subtitle
    \~
    From: Feed name
    (Feed domain)
  .element__subtitle @ 21 Jul 2020 02:39 PM
  .element__content.collapsed{ data: { details: 'demo-item' } }
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae commodi
      repellat tempore. Accusamus aperiam corporis cum doloremque incidunt inventore
      libero necessitatibus neque perspiciatis, saepe sint, soluta ut veniam
      veritatis voluptatum.
  .element__footer
    %button.block.string{ onclick: "toggleDetails('demo-item')",
                          data: { details_trigger: 'demo-item', details_state: 'closed' } } ▼

= vite_javascript_tag 'toggle_details'
