.element
  .element__title
    %h2
      %a{ href: '#' } Emergency mail
    .element__title__item
      %button{ role: 'button', disabled: true } Ping
      %button{ role: 'button', disabled: true } Rearm
      %button{ role: 'button' } Edit
      %button.destructive{ role: 'button' } Destroy
  .element__subtitle
    %strong Frequency
    30 days
    &#8213;
    %strong Last ping
    20 days
    &#8213;
    %strong Expires in
    10 days
  .element__subtitle
    %strong Sent at
    \-
