.element
  .element__title
    .element__title__item [Members]
    %h2
      %a{ target: '_blank', rel: 'noreferrer noopener', href: 'https://primer.style/' } Primer Design System
    .element__title__item.dropdown
      %button ▼
      .dropdown__menu__outline
        .dropdown__menu__content
          .button{ role: 'button' } Edit
          .button.destructive{ role: 'button' } Destroy
  .element__subtitle @ 03 Aug 2020 12:01 PM
  .element__subtitle
    ±
    %span.score.score--positive 2/2
    %button{ role: 'button' } Laaaame!
    %button{ role: 'button' } Coool!
    %button.not-favorite{ role: 'button' } ☆
  .element__subtitle
    ░
    %span.tag dev
    ,
    %span.tag css
  .element__content
    %p
      The design system that powers GitHub
