%p Future event, current cenobite attends to it

.element.element--event
  .element__title
    %h3
      %a{ href: '#', rel: 'noreferrer noopener', target: '_blank' }
        Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .element__title__item.text--positive
      ✓ 2
    .element__title__item.dropdown
      %button ▼
      .dropdown__menu__outline
        .dropdown__menu__content
          .button{ role: 'button' } Edit
          .button.destructive{ role: 'button' } Destroy
  .element__subtitle
    25 Oct 2020 09:00 PM → 27 Oct 2020 11:00 PM (in about 14 hours)

%p Started event, two attendees

.element.element--event.element--event--started
  .element__title
    %h3
      %a{ href: '#', rel: 'noreferrer noopener', target: '_blank' }
        Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .element__title__item
      ✓ 2
    .element__title__item.dropdown
      %button ▼
      .dropdown__menu__outline
        .dropdown__menu__content
          .button{ role: 'button' } Edit
          .button.destructive{ role: 'button' } Destroy
  .element__subtitle
    25 Oct 2020 09:00 PM → 27 Oct 2020 11:00 PM (started about 14 hours ago)

%p Finished event, no attendees
.element.element--event.element--event--over
  .element__title
    %h3
      %a{ href: '#', rel: 'noreferrer noopener', target: '_blank' }
        Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .element__title__item
      ✓ 0
    .element__title__item.dropdown
      %button ▼
      .dropdown__menu__outline
        .dropdown__menu__content
          .button.destructive{ role: 'button' } Destroy
  .element__subtitle
    25 Oct 2020 09:00 PM → 27 Oct 2020 11:00 PM (ended about 14 hours ago)
