.element.element--card
  .element__title Some title
  .element__content
    Some text, a <a href="#">link</a> and some buttons.
    %button.destructive Some button
    %button.creative Some button
    %button.recorder Some button
    %button.string Some button

.element.element--card.element--centered
  .element__title Some title
  .element__content
    Some text, a <a href="#">link</a> and some buttons.
    %button.destructive Some button
    %button.creative Some button
    %button.recorder Some button
    %button.string Some button
