.content-layout
  %div
    .element.element--panel
      .element__content
        %div Panel without a title

    .element.element--panel
      %h2.element__title Title
      .element__content
        %div Panel with a title

    .element.element--panel
      %h2.element__title Panel with sections
      .element__content
        .element__section
          %h3.element__section__title Section title
          %div Some content
        .element__section
          %h3.element__section__title Section title
          %ul.unstyled
            %li Some item
            %li Some item
            %li Some item

  %div
    %p Some other content here
