%p
  Ici, vous pouvez partager vos liens avec les membres du site, le monde exterieur,
  ou les garder pour vous.
%p
  Vous pouvez glisser ce bookmarklet #{link_to '+ Hellraiser', bookmarklet_url, class: 'button'}
  dans la barre de favoris de votre navigateur et cliquer dessus depuis n'importe
  quel site pour ajouter facilement les pages que vous visitez.
