%p
  You can share your links here with the site's members, the outside world, or
  keep them to yourself.
%p
  You can drag and drop this #{link_to '+ Hellraiser', bookmarklet_url, class: 'button'} bookmarklet to your browser's
  favorites bar to quickly add any page you're on.
