- @page_title = t('.title')

- if current_cenobite
  -# haml-lint:disable LineLength
  - bookmarklet_url = 'javascript:function PopupCenter(url, title, w, h) {var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;var left = ((width / 2) - (w / 2)) + dualScreenLeft;var top = ((height / 2) - (h / 2)) + dualScreenTop;var newWindow = window.open(url, title, "status=no,directories=no,location=no,resizable=no,menubar=no,toolbar=no, width=" + w + ", height=" + h + ", top=" + top + ", left=" + left);if (window.focus) {newWindow.focus();}} PopupCenter("https://hellraiser.io"+ "/member/links/new/?url="+encodeURIComponent(window.location.href),"Hellraiser link popup","520","600");'
  -# haml-lint:enable LineLength
  - add_modal render('index_help', bookmarklet_url: bookmarklet_url), id: 'links_help', variant: :info
  - content_for :page_actions do
    - if policy([:member, Link]).create?
      = link_to t('.new'), new_member_link_path, role: 'button', class: 'creative'
    = show_modal_button t('generic.help'), id: 'links_help'

.content-layout
  %aside.content-layout__panel
    %section.element.element--panel
      %h2.element__title= t('generic.sort')
      .element__content
        %ul.unstyled
          %li= sort_link t('.creation_date'),
                        :created_at,
                        link_options: { class: 'sort' },
                        keep_params: [:tag, :author, :visibility, :likes]
          %li= sort_link t('activerecord.attributes.link.score'),
                        :score,
                        link_options: { class: 'sort' },
                        keep_params: [:tag, :author, :visibility, :likes]

    %section.element.element--panel
      %h2.element__title= t('generic.filters')
      .element__content
        - if current_cenobite
          .element__section
            %h4.element__section__title= t('generic.author')
            %ul.unstyled
              %li= filter_link t('.everyone'), nil, filter_key: :author, keep_params: [:tag, :visibility, :likes]
              %li= filter_link t('.you'), :you, filter_key: :author, keep_params: [:tag, :visibility, :likes]
          .element__section
            %h4.element__section__title= t('activerecord.attributes.link.visibility')
            %ul.unstyled
              %li= filter_link t('.all'), nil, filter_key: :visibility, keep_params: [:tag, :author, :likes]
              %li= filter_link t('.public'), :public, filter_key: :visibility, keep_params: [:tag, :author, :likes]
              %li= filter_link t('.member'), :members, filter_key: :visibility, keep_params: [:tag, :author, :likes]
              %li= filter_link t('.private'), :private, filter_key: :visibility, keep_params: [:tag, :author, :likes]
          .element__section
            %h4.element__section__title= t('generic.likes')
            %ul.unstyled
              %li= filter_link t('.all'), nil, filter_key: :visibility, keep_params: [:tag, :author, :visibility]
              %li= filter_link t('generic.your_likes'), :yours, filter_key: :likes,
                                                        keep_params: [:tag, :author, :visibility]
        .element__section
          %h4.element__section__title= t('.tags')
          %ul.unstyled
            %li= filter_link t('.all_tags'), nil, filter_key: :tag, keep_params: [:author, :visibility, :likes]
            %li.separator
            - links_tags_counts.each do |tag|
              %li
                = filter_link tag.name, tag.name, filter_key: :tag, keep_params: [:author, :visibility, :likes]
                (#{tag.count})

  %article.content-layout__content
    - if @links.count.zero?
      .alert.alert--empty= t('.no_content')
    - else
      - @links.each do |link|
        .element
          .element__title
            - if current_cenobite
              .element__title-item
                [#{visibility link.visibility}]

            %h2= external_link_to link.title, link.url

            = render 'layouts/actions_dropdown',
                     entity: link,
                     css_class: 'element__title-item',
                     edit_url: edit_member_link_path(link),
                     destroy_url: member_link_path(link)
          .element__subtitle
            %div @ #{medium_datetime link.created_at}
            %div
              ±
              = color_score link
              - if current_cenobite
                = downvote_link link
                = upvote_link link
                = toggle_favorite_link link
            - if link.tags.count.positive?
              %div ░ #{tag_list(link.tags.order('tags.name' => :desc))}
          .element__content
            %p= link.description

= vite_javascript_tag 'toggles'
