- page_title = @page_title
!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ name: 'viewport',
           content: 'width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'ie=edge' }
    %link{ rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png' }
    %link{ rel: 'icon', type: 'image/png', sizes: '32x32', href: '/favicon-32x32.png' }
    %link{ rel: 'icon', type: 'image/png', sizes: '16x16', href: '/favicon-16x16.png' }
    %link{ rel: 'icon', type: 'image/x-icon', sizes: '16x16 32x32 48x48', href: '/favicon.ico' }
    %link{ rel: 'manifest', href: '/site.webmanifest' }
    %link{ rel: 'mask-icon', href: '/safari-pinned-tab.svg', color: '#586cb1' }
    %meta{ name: 'msapplication-TileColor', content: '#383c4a' }
    %meta{ name: 'theme-color', content: '#ffffff' }

    %title= page_title || 'Hellraiser.io Style guide'
    = csrf_meta_tags
    = csp_meta_tag
    -# Style
    = vite_stylesheet_tag 'entrypoints/styles/style_guide.scss', media: 'all'
    -# JS
    = vite_javascript_tag 'application'
    = vite_javascript_tag 'highlight'

  %body
    %header Style guide

    .guide
      .guide__menu
        %section
          %nav.guide__menu__buttons
            = theme_link 'dark', 'Dark'
            = theme_link 'light', 'Light'
            = theme_link 'clean_dark', 'Clean dark'
            = theme_link 'clean_light', 'Clean light'
          %nav.guide__menu__main
            = link_to 'Typography', page_path(page: 'typography')
            = link_to 'Layout', page_path(page: 'layout')
            = link_to 'HTML elements', page_path(page: 'html')
            = link_to 'Content types', page_path(page: 'content_types')
            = link_to 'Elements', page_path(page: 'elements')
            = link_to 'Helpers', page_path(page: 'helpers')
          %nav.guide__menu__submenu
            = content_for :side_menu
      .guide__content
        = yield

        - @renderers_list ||= []
        -# rubocop:disable Rails/OutputSafety
        :javascript
          const rendererIds = '#{raw(@renderers_list.map { |e| "##{e[:preview_id]}" }.join(', '))}'
          const renderers = document.querySelectorAll(rendererIds)
          function resizeIframes(){
            for(element of renderers) {
              const iframe = element.contentDocument.documentElement
              const iframeBodyHeight = iframe.getElementsByTagName('body')[0].offsetHeight + 1
              const iframeScrollHeight = iframe.scrollHeight
              const iframeContentHeight = iframeScrollHeight > iframeBodyHeight ? iframeScrollHeight : iframeBodyHeight

              element.style = `height: ${iframeContentHeight}px;`
            }
          }

          // Highlight
          window.addEventListener('load', function() {
            const elements = document.querySelectorAll('[data-type="section"]')
            for(let e of elements) { highlight(e.getAttribute('id'), 'haml')}
          })

          window.addEventListener('load', function(){ resizeIframes() })
          window.addEventListener('resize', function(){ resizeIframes() })
        -# rubocop:enable Rails/OutputSafety
