!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ name: 'viewport',
           content: 'width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'ie=edge' }

    %title= 'Hellraiser.io Style preview'
    = csrf_meta_tags
    = csp_meta_tag
    -# Style
    = vite_stylesheet_tag 'entrypoints/styles/application.scss', media: 'all'
    = vite_stylesheet_tag "entrypoints/styles/theme_#{session[:styleguide_theme]}.scss", media: 'all'
    = vite_javascript_tag 'application'

  %body.page__content
    = yield
