%h1 Content types

%p
  Content types are variations of the base <code>.element</code> class. When it's
  needed, a modifier class is created with the content type name (e.g.:
  <code>.element--rss-item</code>).

%h2 Elements
%p
  This is the base element, which have a title (optionally with items), subtitle(s),
  content and footer. Everything is optional, but it's strongly recommended to
  have a title...

= preview section: 'content_types', page: 'base_element', tag: 'h3', title: 'Base element - Simple title' do
  %p Element, with a simple title

= preview section: 'content_types', page: 'base_element_items', tag: 'h3', title: 'Base element - Title with items' do
  %p Element, with a more complex title

%h2 Variants
%p
  Variants are not content types, but elements that share the same structure and
  design.

= preview section: 'content_types', page: 'variation_card', tag: 'h3', title: 'Variation: Card' do
  %p
    Cards are meant to be used with a header and a content.
= preview section: 'content_types', page: 'variation_panel', tag: 'h3', title: 'Variation: Panel' do
  %p
    Panel sections can be used when you have multiple subtitles/contents in
    the same panel.

%h2 Content types
%p
  Content types are elements used to display content in lists.

= preview section: 'content_types', page: 'content_type_comment', tag: 'h3', title: 'Element: Comment' do
  %p Comments are just regular <code>.element</code> with a specific title order.
= preview section: 'content_types', page: 'content_type_dms', tag: 'h3', title: 'Element: Dead man switch' do
  %p Dead man switches are just regular <code>.element</code> with a specific title order.
= preview section: 'content_types', page: 'content_type_event', tag: 'h3', title: 'Element: Event' do
  %p Events are just regular <code>.element</code> with a specific state modifiers.
= preview section: 'content_types', page: 'content_type_fortune', tag: 'h3', title: 'Element: Fortune' do
  %p Fortunes are just regular <code>.element</code> with a specific title order.
= preview section: 'content_types', page: 'content_type_link', tag: 'h3', title: 'Element: Link' do
  %p Links are just regular <code>.element</code> with a specific title order.
= preview section: 'content_types', page: 'content_type_paste', tag: 'h3', title: 'Element: Paste' do
  %p Pastes have a custom style and specific title order.
= preview section: 'content_types', page: 'content_type_rss_item', tag: 'h3', title: 'Element: Rss item' do
  %p RSS items have a custom style and specific title order.
