%h1 Elements

%h2 Alerts
= preview section: 'elements', page: 'alert', tag: 'h3', title: 'Alerts - Base' do
  %p Base alert with no modifier
= preview section: 'elements', page: 'alert_empty', tag: 'h3', title: 'Alerts - Empty' do
  %p Alert for empty things
= preview section: 'elements', page: 'alert_notice', tag: 'h3', title: 'Alerts - Notice' do
  %p Alert for notices
= preview section: 'elements', page: 'alert_warning', tag: 'h3', title: 'Alerts - Important' do
  %p Alert for important notices

= preview section: 'elements', page: 'cenobite_color', title: 'Cenobite color' do
  %p
    To generate cenobite colors tag, refer to <code>cenobite_name</code> from
    <code>app/helpers/application_helper.rb</code>.

= preview section: 'elements', page: 'destroy_button', title: 'Destroy button' do
  %p
    This button is meant to be driven with JS. A timer allows the user to
    cancel the action. When the timer reaches 0, action is performed.
  %p
    Use the existing <code>app/javascript/vue/views/_destroy_button.vue</code>
    component.
  %p
    There is no vanillaJS implementation of this now.

= preview section: 'elements', page: 'dropdown', title: 'Dropdown' do
  %p
    Dropdowns are meant to be used on the right of their parents: the menu
    shows on the left of them.
  %p
    The outline element is here to display the border around the menu
    (box-shadow without blur, so no border width to handle with the char width
    used as padding).

= preview section: 'elements', page: 'drop_zone', title: 'Drop zone' do
  %p
    Use the <code>dropzone_js</code> Rails helper from <code>app/helpers/dropzone_helper.rb</code>
    to handle JS events on a drop zone.
    In order for the JS to work, the <code>drop_zone</code> pack must be
    loaded in the page:
  %pre
    :preserve
      = vite_javascript_tag 'drop_zone'
      = dropzone_js zone_id: 'picture-drop-zone',
                    notice_id: 'picture-drop-zone-notice',
                    field_id: 'motion_picture',
                    allowed_mimes: Motion::PICTURE_MIMES
  %p
    A modal variant exists, taking all the screen space. It's usable with the
    <code>drop_zone--modal</code> class.

= preview section: 'elements', page: 'menu', title: 'Menu'

= preview section: 'elements', page: 'modal', title: 'Modal'

= preview section: 'elements', page: 'pagination', title: 'Pagination' do
  %p
    Pagination links are generated with the <code>Kaminari</code> gem. Still,
    here is a render if it's one day needed in JS...

= preview section: 'elements', page: 'score', title: 'Score'

= preview section: 'elements', page: 'tab', title: 'Tab'
