%h1 Helpers

= preview section: 'helpers', page: 'freshness', title: 'Freshness'

= preview section: 'helpers', page: 'icon', title: 'Icon' do
  %p
    Icons are for characters taking two spaces.

= preview section: 'helpers', page: 'other', title: 'Other helpers'
