%h2 Html elements

= preview section: 'html', page: 'blockquotes', title: 'Blockquotes'

= preview section: 'html', page: 'buttons', title: 'Buttons'

= preview section: 'html', page: 'code', title: 'Code'

= preview section: 'html', page: 'dl', title: 'Definition lists' do
  %p
    Definition lists are used in panels.

= preview section: 'html', page: 'figures', title: 'Figures'

= preview section: 'html', page: 'forms', title: 'Forms' do
  %p
    To have a full-width form, don't set the <code>.form</code> class on form.

%h4 Images
%p
  <code>img</code> tags takes 100% of their container width by default.

= preview section: 'html', page: 'tables', title: 'Tables' do
  %p
    Tables are full width by default.
  %p
    For indexes, use grid tables: they breaks in grid layouts on smaller screens,
    using <code>data-label</code> attributes as definitions.

= preview section: 'html', page: 'ul', title: 'ULs'
