%h2 Layout

%h3 Page layouts

= preview section: 'layout', page: 'base', title: 'Base'
= preview section: 'layout', page: 'layout_show_view', title: 'Layout for "show" views'
= preview section: 'layout', page: 'thin_layout', title: 'Thin layout' do
  %p
    This layout is used when there's not that much content to display and when
    it's weird to have a full-width content. In these cases, panels which are
    usually on the left should be on the top.
  %p
    Forms on pages SHOULD use this class.

%h3 Grids

= preview section: 'layout', page: 'grids_two_cols', title: 'Two cols grid'
= preview section: 'layout', page: 'grids_three_cols', title: 'Three cols grid'
