.alert.alert--alert
  Something needing your attention happened! <a href="#">link</a>.
  %button.destructive Some button
  %button.creative Some button
  %button.recorder Some button
  %button.string Some button
