.dropdown{ style: 'float: right;' }
  %button{ role: 'button' } ▼
  .dropdown__menu__outline
    .dropdown__menu__content
      %button.destructive{ role: 'button' } Action 1
      %button.creative{ role: 'button' } Action 2
      %button{ role: 'button' } Action 3
