%h2 Drop zone

.drop-zone
  Drop your files here. Allowed files: png/gif

%h2 Drop zone, while file is dragged over

.drop-zone.drop-zone--over
  Drop your files here

%h2 Drop zone, when dragged files are unsupported

.drop-zone.drop-zone--error
  Something is wrong with your files
