%nav.main-menu
  .main-menu__main-zone
    %a{ href: '/' } Home
  .main-menu__links.main-menu__links--expandable
    %button.main-menu__trigger Main menu ▼
    .main-menu__links__outline
      .main-menu__links__content
        %a{ href: '#' } Motions
        %a{ href: '#' }
          Chat
          %span.unread *4
        %a{ href: '#' } Link
        %a{ href: '#' } Link
        %a{ href: '#' } Link
        %a{ href: '#' } Link
  .main-menu__links.main-menu__links--expandable
    %button.main-menu__trigger Submenu ▼
    .main-menu__links__outline
      .main-menu__links__content
        %a{ href: '#' } Link
        %a{ href: '#' } Link
        %a{ href: '#' } Link
  .main-menu__links
    %button.main-menu__trigger Other ▼
    .main-menu__links__outline
      .main-menu__links__content
        %a{ href: '#' } Link
        %a{ href: '#' } Link
        %a{ href: '#' } Link
