%button{ onclick: "document.getElementById('modal-info').classList.toggle('active')" } Open info
.modal.modal--info#modal-info
  .modal__widget
    .modal__title Title here
    .modal__content
      %p
        Some nice content
    .modal__actions
      %button{ onclick: "document.getElementById('modal-info').classList.toggle('active')" } Close

%button.warning{ onclick: "document.getElementById('modal-warning').classList.toggle('active')" } Open warning
.modal.modal--warning#modal-warning
  .modal__widget
    .modal__title Title here
    .modal__content
      %p
        Some nice content
    .modal__actions
      %button{ onclick: "document.getElementById('modal-warning').classList.toggle('active')" } Close
