%nav.pagination{ aria: { label: 'pager' }, role: 'navigation' }
  %span.first
    %a{ href: '#' } « First
  %span.prev
    %a{ href: '#', rel: 'prev' } ‹ Prev
  %span.page
    %a{ href: '#', rel: 'prev' } 1
  %span.page.current 2
  %span.page
    %a{ href: '#', rel: 'next' } 3
  %span.page
    %a{ href: '#' } 4
  %span.next
    %a{ href: '#', rel: 'next' } Next ›
  %span.last
    %a{ href: '#' } Last »
