%div
  Negative score
  %span.score.score--negative> 0/3

%div
  Neutral score
  %span.score 10/10

%div
  Positive score
  %span.score.score--positive 1/0

%div
  %p Score with buttons

  .score_buttons
    %button{ role: 'button' } -
    %span.score 10/10
    %button{ role: 'button' } +

  %p Variant

  .score_buttons
    %button{ role: 'button' } -
    %button{ role: 'button' } +
    %span.score 10/10
