@use '../base/variables' as v;

.CodeMirror { /* stylelint-disable-line selector-class-pattern */
  border: none;
  height: auto;

  &-gutters { /* stylelint-disable-line selector-class-pattern */
    border: none;
  }

  pre.CodeMirror-line { /* stylelint-disable-line selector-class-pattern */
    padding-left: v.$spacer-h;
  }

  &-linenumber { /* stylelint-disable-line selector-class-pattern */
    padding-right: 0;
    padding-left: 0;
  }

  &-lines { /* stylelint-disable-line selector-class-pattern */
    padding: 0;
  }
}

textarea:invalid ~ .CodeMirror { /* stylelint-disable-line selector-class-pattern */
  border-left: v.$spacer-h solid var(--state-warning);
}

textarea:valid ~ .CodeMirror { /* stylelint-disable-line selector-class-pattern */
  border-left: v.$spacer-h solid var(--state-ok);
}

textarea.field--small-text ~ .CodeMirror { /* stylelint-disable-line selector-class-pattern */
  .CodeMirror-lines { /* stylelint-disable-line selector-class-pattern */
    min-height: v.$input-small-text-height;
  }
}

textarea.field--medium-text ~ .CodeMirror { /* stylelint-disable-line selector-class-pattern */
  .CodeMirror-lines { /* stylelint-disable-line selector-class-pattern */
    min-height: v.$input-medium-text-height;
  }
}

textarea.field--long-text ~ .CodeMirror { /* stylelint-disable-line selector-class-pattern */
  .CodeMirror-lines { /* stylelint-disable-line selector-class-pattern */
    min-height: v.$input-long-text-height;
  }
}

/**
 * Using Zenburn color palette from the Emacs Zenburn Theme
 * https://github.com/bbatsov/zenburn-emacs/blob/master/zenburn-theme.el
 *
 * Also using parts of https://github.com/xavi/coderay-lighttable-theme
 *
 * From: https://github.com/wisenomad/zenburn-lighttable-theme/blob/master/zenburn.css
 */

/* stylelint-disable */
.cm-s-zenburn .CodeMirror-gutters { background: var(--input-background) !important; }
.cm-s-zenburn .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #999; }
.cm-s-zenburn .CodeMirror-cursor { border-left: 1px solid var(--base-color); }
.cm-s-zenburn.CodeMirror { background-color: var(--input-background); color: #dcdccc; }
.cm-s-zenburn.CodeMirror-focused { background-color: var(--input-active-background); color: #dcdccc; }
.cm-s-zenburn.CodeMirror-focused .CodeMirror-gutters { background: var(--input-active-background) !important; }
.cm-s-zenburn span.cm-builtin { color: #dcdccc; font-weight: bold; }
.cm-s-zenburn span.cm-comment { color: #7f9f7f; }
.cm-s-zenburn span.cm-keyword { color: #f0dfaf; font-weight: bold; }
.cm-s-zenburn span.cm-atom { color: #bfebbf; }
.cm-s-zenburn span.cm-def { color: #dcdccc; }
.cm-s-zenburn span.cm-variable { color: #dfaf8f; }
.cm-s-zenburn span.cm-variable-2 { color: #dcdccc; }
.cm-s-zenburn span.cm-string { color: #cc9393; }
.cm-s-zenburn span.cm-string-2 { color: #cc9393; }
.cm-s-zenburn span.cm-number { color: #dcdccc; }
.cm-s-zenburn span.cm-tag { color: #93e0e3; }
.cm-s-zenburn span.cm-property { color: #dfaf8f; }
.cm-s-zenburn span.cm-attribute { color: #dfaf8f; }
.cm-s-zenburn span.cm-qualifier { color: #7cb8bb; }
.cm-s-zenburn span.cm-meta { color: #f0dfaf; }
.cm-s-zenburn span.cm-header { color: #f0efd0; }
.cm-s-zenburn span.cm-operator { color: #f0efd0; }
.cm-s-zenburn span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-zenburn span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-zenburn .CodeMirror-activeline { background: #000000; }
.cm-s-zenburn .CodeMirror-activeline-background { background: #000000; }
.cm-s-zenburn div.CodeMirror-selected { background: #545454; }
.cm-s-zenburn .CodeMirror-focused div.CodeMirror-selected { background: #4f4f4f; }
/* stylelint-enable */
