/* stylelint-disable no-descending-specificity */
@use '../base/variables' as v;

.vb {
  &.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: var(--element-background);
  }

  &.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: var(--stand-out-color);
    height: 100%;
  }

  // leaving this here as it was part of the original style
  // .vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  //   background-color: rgba(48, 121, 244, 0.5);
  // }

  > .vb-dragger {
    z-index: 5;
    width: v.$spacer-h;
    right: 0;

    > .vb-dragger-styler {
      backface-visibility: hidden;
      transform: rotate3d(0, 0, 0, 0);
      transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
      background-color: var(--state-mute-inverse);
      height: calc(100% - 10px);
      display: block;

      &:hover > .vb-dragger-styler {
        margin: 0;
        height: 100%;

        // leaving this here as it was part of the original style
        // background-color: rgba(48, 121, 244, 0.5);
      }
    }
  }
}
/* stylelint-enable no-descending-specificity */
