-# haml-lint:disable ViewLength
- @page_title = t('.title')

= vite_javascript_tag 'chart'
:javascript
  document.addEventListener('DOMContentLoaded', () => {
    const bodyStyle = window.getComputedStyle(document.querySelector('body'))
    const fontFamily = bodyStyle.getPropertyValue('font-family')
    const color = bodyStyle.getPropertyValue('color')
    const bgColor = bodyStyle.getPropertyValue('background-color')

    Chart.defaults.global.defaultFontColor = color
    Chart.defaults.global.defaultFontFamily = fontFamily
    Chart.defaults.global.defaultFontSize = 16 // ~ 12pt
    Chart.defaults.global.tooltips.backgroundColor = bgColor
    Chart.defaults.global.tooltips.titleFontColor = color
    Chart.defaults.global.tooltips.bodyFontColor = color
    Chart.defaults.global.tooltips.yPadding = 16
    Chart.defaults.global.tooltips.xPadding = 8
    Chart.defaults.global.tooltips.titleSpacing = 16
    Chart.defaults.global.tooltips.titleMarginBottom = 0
    Chart.defaults.global.tooltips.cornerRadius = 0
  })

.grid.grid-2
  %div
    .element.element--card
      %h2.element__title= t('activerecord.models.cenobite', count: 2)
      .element__content
        %table
          %tr
            %td= t('.cenobites.total')
            %td.number= @stats[:cenobites][:total]
          %tr
            %td= t('.cenobites.active')
            %td.number= @stats[:cenobites][:active]
          %tr
            %td= t('.cenobites.inactive')
            %td.number= @stats[:cenobites][:inactive]
  %div
    .element.element--card
      %h2.element__title= t('activerecord.models.paste', count: 2)
      .element__content
        %table
          %tr
            %td= t('.pastes.total')
            %td.number= @stats[:pastes][:total]
          %tr
            %td= t('.pastes.password_protected')
            %td.number= @stats[:pastes][:password_protected]
          %tr
            %td= t('.pastes.burnable')
            %td.number= @stats[:pastes][:burnable]

  %div
    .element.element--card
      %h2.element__title= t('activerecord.models.motion', count: 2)
      .element__content
        %table
          %tr
            %td= t('.motions.total')
            %td.number= @stats[:motions][:total]
          %tr
            %td= t('.motions.closed')
            %td.number= @stats[:motions][:closed]
          %tr
            %td= t('.motions.open')
            %td.number= @stats[:motions][:open]
          %tr
            %td= t('.motions.comments')
            %td.number= @stats[:motions][:total_comments]
        = column_chart @stats[:motions][:graph_data], colors: ['#353945', '#888'], fontColor: 'red'

  %div
    .element.element--card
      %h2.element__title= t('activerecord.models.link', count: 2)
      .element__content
        %table
          %tr
            %td= t('.links.total')
            %td.number= @stats[:links][:total]
          %tr
            %td= t('.links.public')
            %td.number= @stats[:links][:public]
          %tr
            %td= t('.links.member')
            %td.number= @stats[:links][:member]
          %tr
            %td= t('.links.private')
            %td.number= @stats[:links][:private]
        = column_chart @stats[:links][:graph_data], colors: ['#353945', '#888']

  %div
    .element.element--card
      %h2.element__title= t('activerecord.models.dead_man_switch', count: 2)
      .element__content
        %table
          %tr
            %td= t('.dms.total')
            %td.number= @stats[:dms]

  %div
    .element.element--card
      %h2.element__title= t('activerecord.models.item', count: 2)
      .element__content
        %table
          %tr
            %td= t('.links.total')
            %td.number= @stats[:items][:total]

  %div
    .element.element--card
      %h2.element__title= t('activerecord.models.fortune', count: 2)
      .element__content
        %table
          %tr
            %td= t('.links.total')
            %td.number= @stats[:fortunes][:total]
-# haml-lint:enable ViewLength
