.grid-2.grid--half
  .element.element--panel
    %h2.element__title= t('.title')
    .element__content
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: 'email', required: true
        .field
          = f.label :password
          = f.password_field :password, autocomplete: 'current-password', required: true
        - if devise_mapping.rememberable?
          .field
            = f.label :remember_me do
              = f.check_box :remember_me
              = t('.remember_me')

        = f.submit t('.log_in'), class: 'block creative'

  %div
    = render 'devise/shared/links'
