- @page_title = t('.title')

.grid-2.grid--half
  .element.element--panel
    %h2.element__title= t('devise.invitations.edit.header')
    .element__content
      = form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f|
        = render 'devise/shared/error_messages', resource: resource
        = f.hidden_field :invitation_token, readonly: true
        .field
          = f.label :name
          = f.text_field :name
        .field
          = f.label :locale
          = f.select :locale, locales_options
          .field-help= t('member.cenobites.form.help_locale')
        - if f.object.class.require_password_on_accepting
          .field
            = f.label :password
            = f.password_field :password
          .field
            = f.label :password_confirmation
            = f.password_field :password_confirmation

        %p= t('.customization_notice')

        = f.submit t('devise.invitations.edit.submit_button'), class: 'creative block'
  %div
    = render 'devise/shared/links'
