// Base
@use "base/variables";
@use "base/colors";
@use "base/mixins";
@use "base/placeholders";
@use "base/fonts";
@use "base/reset";
@use "base/helpers";
@use "base/root_vars";

// HTML elements
@use "html/blockquote";
@use "html/button";
@use "html/code";
@use "html/content";
@use "html/diff";
@use "html/dl";
@use "html/figure";
@use "html/form";
@use "html/img";
@use "html/input";
@use "html/layout";
@use "html/links";
@use "html/table";
@use "html/titles";
@use "html/ul";

// Custom components
@use "components/alert";
@use "components/cenobite";
@use "components/chat";
@use "components/content_layout";
@use "components/datetime_picker";
@use "components/destroy_button";
@use "components/drop_zone";
@use "components/dropdown";
@use "components/effect_glitch";
@use "components/element";
@use "components/element_card";
@use "components/element_event";
@use "components/element_panel";
@use "components/element_paste";
@use "components/element_rss_item";
@use "components/field";
@use "components/form_actions";
@use "components/grid";
@use "components/icon";
@use "components/logo";
@use "components/markdown_content";
@use "components/menu";
@use "components/modal";
@use "components/page";
@use "components/pagination";
@use "components/score";
@use "components/tab";
@use "components/thin_layout";

// Custom libs
@use "highlight.js/scss/zenburn";
@use "codemirror/lib/codemirror";
@use "lib/codemirror" as cm_override;
@use "lib/vuebar";

.translation_missing {
  color: red;
  font-style: italic;
}
