@use "sass:color";
@use "./base/mixins" as m;
@use "highlight.js/scss/grayscale";

$spacer-tiny: 0.25rem;
$spacer-small: 0.5rem;
$spacer-default: 1rem;
$menu-width: 15rem;

$background-color: whitesmoke;
$text-color: #776552;
$border-color: color.adjust(#776552, $alpha: -0.7);
$stand-out-background: white;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: $spacer-default;
  background-color: $background-color;
  color: $text-color;
  font-weight: 200;
}

p {
  &:not(:last-child) {
    margin-bottom: $spacer-small;
  }
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: $spacer-default 0;

  &:first-child {
    margin-top: 0;
  }
}

h4 {
  font-weight: 600;
  margin: $spacer-default 0;

  &:first-child {
    margin-top: 0;
  }
}

header {
  font-size: 3em;
  margin-bottom: $spacer-default;
}

code {
  background-color: $stand-out-background;
  padding: 0 $spacer-tiny;
}

.button-group {
  border: 1px solid $border-color;
}

.guide {
  &__menu {
    @include m.respond-to(medium-up) {
      > section {
        position: fixed;
      }
    }

    &__buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: $menu-width;
      border: 1px solid $border-color;
      margin-bottom: $spacer-default;
      background-color: $stand-out-background;

      > a {
        text-align: center;
        padding: $spacer-small;
        text-decoration: none;
        color: $text-color;

        &:hover {
          background-color: rgb(0 0 0 / 20%);
        }

        &.active {
          background-color: rgb(0 0 0 / 10%);
        }
      }
    }

    &__main,
    &__submenu {
      width: $menu-width;
      display: flex;
      flex-direction: column;
    }

    &__submenu {
      font-size: 0.9em;
      border-top: 1px solid $border-color;
      margin-top: $spacer-default;
      padding-top: $spacer-small;
    }
  }

  &__content {
    font-weight: normal;
  }

  @include m.respond-to(medium-up) {
    display: grid;
    grid-template-columns: $menu-width auto;
    grid-column-gap: $spacer-default;
  }
}

.renderer {
  border: 1px solid $border-color;
  padding: $spacer-default;
  background-color: $stand-out-background;
  margin-top: $spacer-default;

  &__actions {
    margin: $spacer-small 0;
  }

  &__preview {
    width: 100%;
    min-height: 20px;
    border: none;
    margin: 0;
  }

  &__source {
    visibility: visible;
    max-height: 400px;
    overflow: auto;
    transition: all ease-out 0.5s, visibility ease-out 0.6s;
  }
}

.note {
  margin: $spacer-small 0;
  opacity: 0.6;

  &::before {
    display: block;
    content: 'Note:';
    font-weight: bold;
  }
}
