@use 'sass:color';
@use 'base/colors' as c;

// Light theme
// ================================================
$theme_base_color: rgb(255 255 255);

$theme_bg_color: rgb(245 246 247);
$theme_fg_color: rgb(92 97 108);

$theme_link_color: color.adjust(c.$color_selected_bg, $lightness: -10%);

$theme_borders_color: color.adjust($theme_bg_color, $lightness: -30%);
$theme_shadow_color: color.adjust($theme_borders_color, $alpha: -0.7);

// 2x2 black/transparent pixels
$overlay-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH5AQVDycHnLuSogAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAARSURBVAjXY2BgYPjPgAT+AwAPAwH/g4TEFAAAAABJRU5ErkJggg==');

// Additional state
$color_insensitive: color.adjust($theme_fg_color, $alpha: -0.45);
$color_insensitive_inverse: color.mix($theme_bg_color, $theme_base_color, 40%);

$theme_header_bg: rgb(186 195 207);

$theme_button_bg: color.adjust($theme_bg_color, $lightness: 2%);

// All Panels
$theme_panel_fg: rgb(53 57 69);
$theme_panel_bg: rgb(231 232 235);

:root {

  // Base
  --base-background: #{$theme_bg_color};
  --base-color: #{$theme_fg_color};
  --base-inverse-background: #{$theme_fg_color};
  --base-inverse-color: #{$theme_bg_color};

  // Overlays
  --overlay-image: #{$overlay-image};

  // Additional states
  --state-mute: #{$color_insensitive};
  --state-mute-inverse: #{$color_insensitive_inverse};

  // Logos
  --logo-color: #{color.adjust($theme_fg_color, $lightness: 40%)};

  // Borders
  --border-color: #{$theme_borders_color};
  --shadow-color: #{$theme_shadow_color};

  // Buttons
  --button-base-background: #{$theme_button_bg};

  // Panels
  --panel-bg: #{$theme_panel_bg};
  --panel-fg: #{$theme_panel_fg};

  // Code
  --code-background: var(--state-mute-inverse);
  --code-text: var(--state-mute);

  // Links
  --link-color: #{$theme_link_color};
  --link-color-hover: #{color.adjust($theme_link_color, $lightness: -20%)};
  --link-inverse-color: #{$theme_base_color};
  --link-inverse-color-hover: #{color.adjust($theme_link_color, $lightness: -20%)};

  // Forms
  --input-background: #{$theme_base_color};
  --input-active-background: rgb(255 253 247);

  // Titles
  --stand-out-color: rgb(0 0 0);

  // Elements
  --element-background: #{$theme_base_color};
  --element-title-background: #{$theme_header_bg};
  --element-title-color: var(--stand-out-color);
  --element-subtitle-background: #{$theme_panel_bg};
  --element-subtitle-color: $theme_panel_fg;
  --element-footer-background: #{$theme_panel_bg};
  --element-footer-color: #{$theme_panel_fg};
}
