<template>
  <form :class="inModal ? 'modal__widget' : 'thin-layout'" @submit.prevent="save">
    <div v-if="inModal" class="modal__title">
      {{ room ? $t('js.chat.rooms.form.edit_room') : $t('js.chat.rooms.form.new_room') }}
    </div>
    <div :class="{modal__content: inModal}">
      <api-error :errors="errors" />

      <div class="field">
        <label :for="`chat_room_${formId}_name`">
          {{ $t('js.chat.rooms.form.name') }}
        </label>
        <input :id="`chat_room_${formId}_name`"
               v-model="inputs.chatRoom.name"
               type="text"
               required
               name="name">
      </div>
      <div class="field">
        <label :for="`chat_room_${formId}_description`">
          {{ $t('js.chat.rooms.form.description') }}
        </label>
        <textarea :id="`chat_room_${formId}_description`"
                  v-model="inputs.chatRoom.description"
                  name="description" />
      </div>

      <template v-if="!$props.room">
        <div class="field">
          <input :id="`chat_room_${formId}_auto_join`"
                 v-model="inputs.chatParticipant.auto_join"
                 type="checkbox"
                 name="auto_join">
          <label :for="`chat_room_${formId}_auto_join`">
            {{ $t('js.chat.rooms.form.auto_join') }}
          </label>
        </div>

        <div class="field">
          <label :for="`chat_room_${formId}_user_name`">
            {{ $t('js.chat.rooms.form.user_name') }}
          </label>
          <input :id="`chat_room_${formId}_user_name`"
                 v-model="inputs.chatParticipant.name"
                 type="text"
                 required
                 name="user_name">
        </div>
      </template>
    </div>
    <div class="modal__actions">
      <button role="button" type="reset" @click="cancel">
        {{ $t('generic.cancel') }}
      </button>
      <button role="button" type="submit" class="creative" :disabled="!formIsValid">
        {{ $t('generic.save') }}
      </button>
    </div>
  </form>
</template>

<script>
import randomString from '../../../../helpers/random_string'
import ErrorMixin from '../../../mixins/errors'
import ApiError from '../../_api_error.vue'

function defaultChatRoom () {
  return {
    id: null,
    name: '',
    description: '',
  }
}

function defaultParticipant () {
  return {
    name: randomString(8),
    auto_join: true,
  }
}

export default {
  name: 'RoomsForm',
  components: { ApiError },
  mixins: [ErrorMixin],
  props: {
    inModal: { required: false, type: Boolean, default: false },
    room: { required: false, type: [Object, null], default: null },
  },
  data () {
    return {
      inputs: {
        chatRoom: defaultChatRoom(),
        chatParticipant: defaultParticipant(),
      },
      formId: randomString(),
    }
  },
  computed: {
    formIsValid () {
      return this.inputs.chatParticipant.name && this.inputs.chatRoom.name
    },
  },
  methods: {
    resetForm () {
      this.errors = false
      this.inputs.chatRoom = defaultChatRoom()
      this.inputs.chatParticipant = defaultParticipant()
    },
    save () {
      if (!this.formIsValid) return
      const payload = {
        chat_room: this.inputs.chatRoom,
        chat_participant: this.inputs.chatParticipant,
      }

      this.$store.dispatch('saveRoom', payload)
        .then(() => {
          this.resetForm()
          this.$emit('close')
        })
        .catch((response) => { this.errorHandler(response) })
    },
    cancel () {
      this.$emit('close')
      this.resetForm()
    },
  },
  watch: {
    room (newVal, oldVal) {
      if (newVal === oldVal || !newVal) return

      this.inputs.chatRoom = {
        id: newVal.id,
        name: newVal.name,
        description: newVal.description,
      }
    },
  },
}
</script>
