<template>
  <div class="chat-room" :class="cssClasses">
    <button role="link" class="chat-room__link" @click="enterRoom">
      <span class="icon mute">{{ isAcquaintance ? '⨰' : '#' }} </span>
      <span>
        {{ unread > 0 ? `(${unread})` : '' }}
        {{ isAcquaintance && acquaintance ? acquaintance.cenobite.name : chatRoom.name }}
      </span>
    </button>
    <div v-if="isOwner && !isAcquaintance" class="actions">
      <button type="button" @click="edit">✎</button>
      <button type="button" class="destructive" @click="destroy">&times;</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChatRoom',
  props: {
    chatRoom: { required: true, type: Object },
  },
  computed: {
    connection () { return this.$store.getters.roomConnection(this.$props.chatRoom.id) },
    unread () { return this.chatParticipant ? this.chatParticipant.unread_count : 0 },
    activeRoom () { return this.$store.getters.activeRoom },
    isActive () { return this.activeRoom && this.activeRoom.id === this.$props.chatRoom.id },
    cssClasses () {
      return {
        'chat-room--acquaintance': this.isAcquaintance,
        'chat-room--connected': this.connection && this.connection.connected,
        'chat-room--disconnected': this.connection && !this.connection.connected,
        active: this.isActive,
      }
    },
    isOwner () { return this.$store.getters.cenobiteId === this.$props.chatRoom.cenobite_id },
    isAcquaintance () { return this.chatRoom.acquaintance_id !== null },
    acquaintance () { return this.$store.getters.acquaintance(this.chatRoom.acquaintance_id) },
    chatParticipant () { return this.$store.getters.chatParticipantFor(this.$props.chatRoom.id) },
  },
  methods: {
    enterRoom () {
      this.$store.dispatch('enterRoom', this.$props.chatRoom.id)
    },
    destroy () {
      if (confirm(this.$t('generic.are_you_sure'))) {
        this.$store.dispatch('destroyRoom', this.$props.chatRoom.id)
      }
    },
    edit () {
      this.$emit('edit')
    },
  },
}
</script>
