<% @page_title = 'Journal de changements' %>

## 2020/10/28

- Création de la page _Favoris_ qui liste les éléments mis en favoris sur le
  site et permet de les "dé-favoriser" facilement.
- Changement de l'affichage de la page d'accueil: les sections sont maintenant
  sur 3 colonnes au lieu de 3 lignes.
- Nouvelle option pour votre vie privée: vous pouvez maintenant choisir de
  montrer/masquer votre adresse email à vos connaissances. L'option est
  désactivée par défaut, si vous souhaitez gardez le comportement précédent,
  vous devrez la changer dans vos préférences.
- Le _bottin_. C'est la liste des cénobites qui acceptent d'être listés et
  contactés par d'autres membres. La fonctionnalité est en _opt-in_ et s'active
  en _choisissant d'être visible pour les autres membres_, dans vos préférences.
  Dans le bottin, vous pourrez facilement créer des _demandes de connaissances_
  avec les autres cénobites, ce qui vous permettra de discuter en direct avec eux
  dans le chat et d'accéder à leur inventaire d'objets.
- Création du _système d'évènements_ : vous pouvez maintenant créer des évènements,
  qui peuvent être privés ou visible par les membres. **Les évènements ne sont
  pas anonymes.**
  - Vous pouvez participer à un évènement (les vôtres, ceux des autres qui sont
    visible).
  - Vous pouvez commenter les évènements.

Les notifications par email pour les évènements viendront bientôt.

## 2020/10/14

- Changements dans les demandes de connaissances :
  - tant qu'un compte n'est pas confirmé, aucun mail de "demande de connaissance"
    ne sera envoyé
  - quand un nouveau venu confirme son compte, la "demande de connaissance" de la
    personne qui l'a invité sera automatiquement acceptée (s'il y en a)

## 2020/09/24

- Création de deux nouveaux thèmes épurés, n'hésitez pas à les tester en
  changeant vos préférences !

## 2020/09/21

- Pour les motions non anonymes, le nom de la dernière personne a avoir commenté
  apparaît dans la liste des motions.
- Ordonne par nom les tags des flux RSS.
- Ordonne par nom les tags des liens.

## 2020/09/20

- Travail sur les styles : suppression d'éléments non utilisés, création d'un
  élément "principal" duquel sont dérivés d'autres styles. Un boulot fastidieux
  menant à un gain de... 1,4k sur la taille du CSS final. Les changements
  devraient être visible sans pour autant changer le site drastiquement.
- Correction de l'ordre des tags pour les liens et les articles.
- Les URLS pour les liens _doivent_ commencer par `http`, `https`, `ftp`,
  `sftp`, `geo:`. Les autres validations ont été supprimées.
- Création de style pour l'index des fortunes.
- Création de style pour l'index des leviers de l'homme mort.

## 2020/09/01

- Améliore la lisibilité des liens sur chromium.

## 2020/08/29

- Changement d'affichage de la liste des motions, précedement difficile à utiliser sur mobile.

## 2020/08/26

- Éditeur de commentaires: les lignes trop longues sont maintenant tronquées par un retours à la ligne.
- Le nombre de messages de chat non lus est affiché dans le menu principal.

## 2020/08/22

- Changement de la visibilité des motions selon la date de dernière activité.
- Les motions "fermées" sont maintenant rayées.

Correctifs:
- Flux Atom : Utilisation du résumé lorsqu'il n'y a pas de contenu sur les articles.

## 2020/08/21

- Éditeurs de texte: les lignes trop longues sont maintenant tronquées par un retours à la ligne.

## 2020/08/16

- Support du changement d'adresse email et de mot de passe.

## 2020/08/12

- Création d'un lecteur de flux RSS partagé avec ces possibilités:
  - Ajout de flux Atom/RSS avec des tags pour les organiser
  - Affichage de l'article ou d'une description courte
  - Vote pour les différents articles
  - Possibilité de mettre un article en favoris
  - Filtre des article par origin ou tag
  - Tri des articles par score ou date de publication
- Améliorations de l'interface
  - Voter ne recharge plus la page. Pratique dans les liens, par exemple.
  - Les dates sont maintenant plus lisibles
  - Tri des tags dans la liste des liens
  - Amélioration de la lisibilité des panneaux latéraux

## 2020/08/11

- Voter ne recharge plus la page. Pratique dans les liens, par exemple.

## 2020/06/23

- Support de la coloration syntaxique dans les éditeurs. Quand vous écrivez une motion, un collage, une fortune ou un commentaire, le texte sera colorié
  - Note : pour que cela fonctionne dans les collages, il vous faudra selectionner la bonne "extension" (ex : `md` pour du markdown)

## 2020/06/22

- Améliorations de l'interface
  - Augmentation de la taille des formulaires de motion/collage/commentaire/fortune
  - Correction de certains champs non marqués comme "requis"
  - Changement de l'icône du site lorsque de nouveaux messages apparaissent dans le chat
  - Correction des liens permettant d'afficher les éléments sur les formulaires d'édition
  - Ajout de liens permettant de supprimer les éléments sur les formulaires d'édition
- Création du journal de changements

## 2020/06/11 : Motions non-anonyme

- Les motions peuvent maintenant être créées de manière _non anonyme_ : le nom des différents participants est affiché, au lieu d'un code

## 2020/05/27 : Chat - Messages privés

- Les utilisateurs peuvent maintenant avoir des discussions privées avec leurs connaissances

## 2020/05/14 : Chat

- Amélioration de la structure du chat
- Support de l'auto-completion des pseudos dans le chat
- Support de l'upload de fichier dans le chat
- Limitation du nombre de message gardés au lieu d'une expiration temporelle
- Affichage des jours dans le chat

## 2020/05/02 : Favoris

- Création d'un système de favoris
  - Les liens peuvent être "mis en favoris"

## 2020/04/30 : Chat

- Création du chat
- Amélioration de l'affichage des erreurs sur le site

## 2020/04/23 : Améliorations

- Changements sur les styles
- Changements sur la disposition des éléments dans les pages
- Correction des traductions
- ...

## 2020/04/18 : Commentaires

- Les commentaires apparaissent automatiquement lorsqu'ils sont créés

Autres :

- Création de logos animés

## 2020/04/04 : Fortunes

- Création d'un système de _fortunes_
  -  Les fortunes sont votables

Autres :

- Ajout de pagination sur les motions
- Amélioration de l'affichage des scores

## 2020/29/03 : Objets

- Création du système de gestion d'objets:
  - Les objets sont visibles par les connaissances seulement
  - Les objets peuvent être marqués comme "prétés" à une connaissance
- Amélioration du système de "connaissances"
  - Si un utilisateur n'est pas inscrit sur le site, une invitation lui est envoyée lorsqu'une demande de connaissance est faite
  - Les utilisateurs ont maintenant la possibilité de renvoyer une invitation non acceptée
  - Les utilisateurs peuvent annuler une invitation d'inscription au site

## 2020/23/03 : Connaissances

- Création du système de connaissances en vue du système d'objets
  - Possibilité d'_inviter_ des connaissances

Autres :

- Optimisation : réduction du JS à télécharger de... 800kb

## 2020/17/03

- Les utilisateurs peuvent maitenant choisir un nom dans leurs préférences
- Création de la "vue 3D" et ajout de l'option dans les preférences

## 2020/09/03 : Motions

- Inversion de l'ordre des commentaires

## 2020/25/02

- Création du thème "light" et ajout d'une préférence pour l'utilisateur
- Traduction du site en français
- Utilisation d'un _sel_ pour obfusquer les utilisateurs dans les motions et commentaires
- Améliorations de l'ui:
  - Préférences utilisateur
  - Affichage des motions
  - Affichage des liens
  - ...
- Les liens sont maintenant votables
- Possibilité de pré-remplir les liens en utilisant un "bookmarklet"

## 2020/10/02

- Création du système de "dernier changement notable" pour les motions:
  - La liste des motions est maintenant plus pertinente et lisible
- Création de la page de statistiques
- Améliorations sur l'UI

## 2020/01/02 : Tags

- Création du système de tags sur les liens
- Améliorations sur l'UI

## 2020/01/02 : Liens

- Création du système de liens avec un niveau de visibilité

## 2020/02/26

- Création d'un système de souscription
  - Les utilisateurs peuvent _souscrire_ aux motions
  - Les utilisateurs sont notifiés par email lorsqu'un commentaire est créé sur une motion à laquelle ils ont souscrit
- Création de préférences utilisateur
  - Possiblilité d'être notifié par email lorsqu'une nouvelle motion est créée (_opt in_)
- Support du téléversement d'images dans les motions et commentaires
- Améliorations de l'interface

## 2020/02/16 : Motions : améliorations

- Création du système de vote
- Ajout du support de la syntaxe Markdown pour les motions et commentaires
- Ajout de la coloration syntaxique des blocs de code dans les motions et commentaires

Autres :

- Création d'une icône pour le site

## 2020/02/01 : Motions anonymes

- Création du système de motions anonymes
- Création du système de commentaires anonymes
- Diverses améliorations système

## 2019/23/12 : Premiers services

- Création du système de leviers de l'homme mort
- Création du système de collages
- Création du style du site

## 2019/15/12 : Développement initial

- Mise en place de la gestion d'erreur de navigation
- Mise en place de la gestion de droits
- Amélioration de la configuration des tests automatisés

## 2019/14/12 : Création initiale

- Mise en place du système d'utilisateurs
- Mise en place de tests système
- Mise en place du système multi-langue
- Mise en place de tests pour l'API
