<% @page_title = 'Change log' %>

## 2020/10/28

- Create the _Favorites_ page to list items you starred in the website, and
  "unfavorite" them easily.
- Changed display of the home page: links sections are now on 3 columns instead
  of 3 rows.
- New privacy option: you may now choose to show/hide your email address to your
  acquaintances. The option deactivated by default, you will have to manually
  enable it in your preferences if you want to keep the old behavior.
- The _bottin_. It's the list of cenobites accepting to be listed and contacter
  by other members. It's an _opt-in_ feature, available by _choosing to be
  visible by other members_ in your preferences. In the bottin, you can easily
  create _acquaintance requests_ to other cenobites, leading to direct chat with
  them, and an access to their objects inventory.
- Creation of the _events system_: you can now create events, they can be private
  or for other members. **Events are not anonymous.**
  - You can attend to an event (yours, or others if they are visible).
  - You can comment on an event

Email notifications for events will come soon.

## 2020/10/14

- Changes in acquaintances requests:
  - as long as an account has not been confirmed, no acquaintances requests emails
    is sent
  - when someone confirms its account, pending acquaintance request from its
    inviter will be automatically accepted (if any)

## 2020/09/24

- Create two new clean themes. Change your preferences to test them!

## 2020/09/21

- For non-anonymous motions, the name of the last commenter now appears on the
  motions list.
- Order RSS feeds tags by name.
- Order Links tags by name.

## 2020/09/20

- Rework styles. Clean unused ones, create a main element from which
  the others inherits. Tedious work, leading to a decrease of... 1.4k in CSS
  size. Changes should be visible but not intrusive.
- Fix tag order in Links and Articles panels.
- URLs for Links _must_ start by par `http`, `https`, `ftp`,
  `sftp`, `geo:`. Other validations have been removed.
- Style fortunes index so it's readable.
- Style dead man switches index.

## 2020/09/01

- Improve links readability on chromium.

## 2020/08/29

- Improvement of the motions index, previously hard to use on mobile

## 2020/08/26

- Enable wordwrap in comment editor.
- Display unread chat messages count in main menu.

## 2020/08/22

- Change visibility of motions based on their last activity date.
- Strike through closed motions.

Fix:
- Atom feeds: use summary when there is no description for articles.

## 2020/08/21

- Enable wordwrap in text editors. No more horizontal scrolling.

## 2020/08/16

- Add ability to change password and email address.

## 2020/08/12

- Add a shared RSS feed reader with these possibilities:
  - Add Atom/RSS feeds with tags to categorize them
  - Preview article when possible
  - Upvote articles and mark
  - Mark articles as favorite
  - Filter articles by feed or tag
  - Order articles by score or publication date
- Interface improvements
  - Voting don't reload the page anymore. Really helping in links list.
  - Dates are now more readable
  - Sort tags in links list
  - Improve readability in side panels

## 2020/08/11


- Voting don't reload the page anymore. Really helping in links list.

## 2020/06/23

- Add syntax highlighting in editors : when you type something in motions, pastes, fortunes or comments, the text will be colored.
  - Note: for this to work well in pastes, you have to set the "extension" according to the content you write (e.g. : `md` for markdown)

## 2020/06/22

- Interface improvements
  - Increase form sizes for motion/paste/comment/fortune
  - Fix some form fields not marked as "required"
  - Change of the website icon when new message pops in chat
  - Fix links to show the element on edit forms
  - Add a link to destroy element on edit forms
- Creation of this change log

## 2020/06/11 : Non-anonymous motions

- Motions can now be created in a _non-anonymous_ manner: the name of participants will be displayed instead of a code

## 2020/05/27 : Private chat messages

- Users can now discuss privately with their acquaintances

## 2020/05/14 : Chat

- Improvements on chat internal structure
- Add auto-complete for pseudos in chat
- Add support for file upload in chat
- Limit the chat messages kept in database based on an amount of messages instead of a time expiration
- Display days in chat

## 2020/05/02 : Favorites

- Create a favorite system
  - Links can be favorited

## 2020/04/30 : Chat

- Chat creation
- Improvement of the error displays system

## 2020/04/23 : Improvements

- Look and feel improvements
- Change page layouts
- Translations fixes and improvements
- ...

## 2020/04/18 : Comments

- Comments appear when they are created (no manual page reload)

Other :

- Add animated logos

## 2020/04/04 : Fortunes

- Creation of the _fortune_ system
  -  Fortunes are votable

Other :

- Add pagination on motions
- Improve score display

## 2020/29/03 : Objets

- Creation of items management system :
  - Items can be seen by acquaintances only
  - Items can be marked as "lent" to an acquaintance
- Improvement of "acquaintaces" system
  - Send site invite if new acquaintance is not yet registered
  - Users may send back an invite that has not been accepted
  - Users can cancel an invite to register on the website

## 2020/23/03 : Connaissances

- Creation of the acquaintances system to prepare future items management
  - Ability to _invite_ acquaintances

Other :

- Decrease JS size by 800kb

## 2020/17/03

- Users can now choose a name in their preferences
- Create a 3D view and add a preference for the user

## 2020/09/03 : Motions

- Invert comments order

## 2020/25/02

- Add a light theme, and a preference for the user
- French translations
- Use a _salt_ to obfuscate users in motions and comments
- UI improvements
  - User preferences
  - Motions display
  - Links display
  - ...
- Links are now votable
- Ability to pre-fill links using a _bookmarklet_

## 2020/10/02

- Add support for "last notable change" system on motions
  - Motions list is more readable
- Create the _stats_ page
- UI improvements

## 2020/01/02 : Tags

- Add support for tags on links
- UI improvements

## 2020/01/02 : Links

- Creation of links system with visibility level

## 2020/02/26

- Creation of subscription system
  - Users can _subscribe_ to motions
  - Users are notified by email when a comment is created on a motion they subscribed to
- Creation of user preferences
  - Possibility of being notified by email when a new motion is created (-opt in-)
- Support of images upload in motions and comments
- Improvements of interface

## 2020/02/16 : Motions : improvements

- Creation of voting system
- Adding support of Markdown syntax for motions and commentaires
- Adding support for code block syntax highlighting in motions and comments

Others :

- Creation of an icon for the site

## 2020/02/01 : Anonymous motions

- Creation of the anonymous motions system
- Creation of anonymous comments system
- Various system improvements

## 2019/23/12 : First services

- Creation of dead man switches
- Creation of pastes system
- Creation of the site look and feel

## 2019/15/12 : Initial development

- Implementation of browsing mistake management
- Implementation of rights management
- Improvement of automated tests configuration

## 2019/14/12 : Initial creation

- Implementation of users system
- Implementation of system tests
- Implementation of multilanguage system
- Implementation of tests for API
