#page-content
  .markdown-content#page-content-text
    = render partial: @page, formats: [:md]

= vite_javascript_tag 'markdown'
:javascript
  document.addEventListener('DOMContentLoaded', () => {
    renderMD($_('page-content'), $_('page-content-text'))
  })
