- @page_title = t('.title')

- add_modal t('.manage_subscriptions'), id: 'subscriptions_help', variant: 'info'

- content_for :page_actions do
  = show_modal_button t('generic.help'), id: 'subscriptions_help'

- if @subscriptions.count.zero?
  .alert.alert--empty= t('.no_content')
- else
  %table.table--items
    %thead
      %tr
        %th= t('activerecord.attributes.subscription.entity_type')
        %th= t('activerecord.attributes.subscription.entity')

        %th

    %tbody
      - @subscriptions.each do |subscription|
        %tr
          %td{ 'data-label' => t('activerecord.attributes.subscription.entity_type') }
            = subscription.entity_type

          %td{ 'data-label' => t('activerecord.attributes.subscription.entity') }
            = link_to subscription.entity.title, polymorphic_path([:member, subscription.entity])

          %td.actions{ 'data-label' => t('generic.actions') }
            = link_to t('generic.destroy'),
                      member_subscription_path(subscription),
                      method: :delete,
                      data: { confirm: t('generic.are_you_sure') },
                      role: 'button',
                      class: 'destructive'
