- if %w[md mdown markdown].include? paste.extension
  %div{ id: "paste-#{paste.id}-content" }
    .markdown-content{ id: "paste-#{paste.id}-raw" }= paste.content
  = vite_javascript_tag 'markdown'
  -# haml-lint:disable LineLength
  :javascript
    document.addEventListener('DOMContentLoaded', () => {
      renderMD($_('#{"paste-#{paste.id}-content"}'), $_('#{"paste-#{paste.id}-raw"}'))
    })
  -# haml-lint:enable LineLength
- else
  %pre{ id: "paste-#{paste.id}-code" }
    = paste.content
  = vite_javascript_tag 'highlight'
  :javascript
    document.addEventListener('DOMContentLoaded', () => {
      highlight('#{"paste-#{paste.id}-code"}', '#{escape_javascript(paste.extension)}')
    })
