- @page_title = t('.title', name: "#{@paste.name}.#{@paste.extension}")

%p
  %b= t('generic.definition', value: t('activerecord.attributes.paste.created_at'))
  = medium_datetime @paste.created_at

- if @paste.burn || @paste.password_digest
  -# haml-lint:disable LineLength
  = form_tag({ url: '#' },
             onsubmit: "revealPaste(event, '#{@paste.id}', 'paste-password', 'paste-content', 'paste-form', 'paste-feedback')",
             class: 'thin-layout',
             'data-target' => 'paste-form') do
    -# haml-lint:enable LineLength
    %noscript
      .alert.alert--alert= t('generic.js_required')
    - if @paste.password_digest
      %div{ 'data-target' => 'paste-feedback' }
      .field
        = label_tag :password, t('.password')
        = password_field_tag :password, nil, 'data-target' => 'paste-password', required: true

    .form-actions
      - if @paste.burn
        = t('.burn_warning')
      %button{ type: 'submit' }= t('.reveal')
  %pre{ 'data-target' => 'paste-content' }

- else
  = render 'content', paste: @paste

= vite_javascript_tag 'show_paste'
