%p
  Ceci est un message automatique qui vous a été envoyé car un "levier de l'homme
  mort" a été activé : la personne qui l'a mis en place voulait que vous le
  receviez dans le cas où il/elle ne se manifestait pas dans un temps donné.
