%p
  This is an automated message sent to you because a dead man switch has been
  triggered: the person who set it up wanted you to receive it in case she/he was
  not able to manifest her/his presence in a given amount of time.
