%p Use this in tables to align numbers to the right
.number 10

%h2.has-actions
  Title
  .actions
    %button Action 1
    %button Action 2

%p.censored
  Some sensitive content

%p.closed Closed things

%p.mute This is not really important

%p.text--alert Read this carefully

%p.collapsed This is hidden. Use JS to reveal it

%p
  %span.unread 2
  Notifications. Don't make them stand out too much, we're not a casino.
