= render 'member/chat/logo'

.chat#chat{ '@mouseup' => 'chatClickHandler' }
  %chat-panel
  %chat-status
  %chat-messages
  %chat-form

  .modal.active{ 'v-if'=> '!activeRoom' }
    .modal__widget
      .modal__title {{ $t('js.chat.status.select_room') }}
      .modal__content
        %chat-rooms

  .modal.modal--warning{ ':class' => '{active: errors}' }
    .modal__widget
      .modal__content
        = t('.initialization_error')
        %api-error-list{ ':errors' => 'errors' }
      .modal__actions
        = link_to t('.complain'), new_member_motion_path, role: 'button'
        %button{ '@click' => 'initialize' }= t('.retry')

= vite_javascript_tag 'markdown'
= vite_javascript_tag 'entrypoints/apps/chat.js'
:javascript
  document.addEventListener('DOMContentLoaded', () => {
    ChatView(#{current_cenobite.id})
  })
