- url = motion.id ? member_motion_path : member_motions_path
= form_for motion, url: url, html: { class: 'thin-layout' } do |f|
  - if motion.errors.any?
    .alert.alert--alert
      %p= t('.errors', amount_str: pluralize(motion.errors.count, 'error'))
      %ul
        - motion.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title, required: true
  .field
    = f.label :content
    = f.text_area :content, class: 'field--medium-text', required: true
    .field-help= markdown_help_notice
  - if motion.id
    .field
      = f.label :closed
      = f.check_box :closed
      .field-help= t('.closed_help')
  - else
    .field
      = f.label :anonymous
      = f.check_box :anonymous
      .field-help= t('.anonymous_help')
  .field.field--file
    = f.file_field :picture, accept: 'image/*'
    .drop-zone-wrapper#picture-drop-zone
      .drop-zone
        = f.label :picture do
          %a.button= t('.picture_button')
          %span#picture-drop-zone-notice
        .field-help= t('.picture_help', formats: Motion::PICTURE_MIMES.join(', '))

  .form-actions
    = f.submit t('generic.save'), class: 'recorder'

= vite_javascript_tag 'codemirror'
= cm_js('motion_content', 'md')
= vite_javascript_tag 'drop_zone'
= dropzone_js zone_id: 'picture-drop-zone',
              notice_id: 'picture-drop-zone-notice',
              field_id: 'motion_picture',
              allowed_mimes: Motion::PICTURE_MIMES
