- @page_title = t('.title')

- content_for :page_actions do
  = link_to t('generic.back'), :member_motions, role: 'button'
  = link_to t('generic.show'), member_motion_path(@motion), role: 'button'
  = link_to t('generic.destroy'),
            member_motion_path(@motion),
            method: :delete,
            data: { confirm: t('generic.are_you_sure') },
            role: 'button',
            class: 'destructive'

= render 'form', motion: @motion
