- @page_title = params[:closed] ? t('.title_closed') : t('.title_open')

- content_for :page_actions do
  = link_to t('.new'), new_member_motion_path, role: 'button', class: 'creative'

.motions
  .thin-layout
    -# = render 'logo'
    - if @motions.count.zero?
      .alert.alert--empty= t('.no_content')
    - else
      .element.element--panel
        .element__content
          = t('generic.sort_by')
          = sort_link t('activerecord.attributes.motion.title'), :title, keep_params: [:closed]
          = sort_link t('.last_activity'), :notable_change_at, keep_params: [:closed]
          = sort_link t('activerecord.attributes.motion.score'), :score, keep_params: [:closed]
      - @motions.each do |motion|
        - css_class = entry_age_class motion.notable_change_at, additional: (motion.closed ? 'closed' : '')
        .element.motion-item{ class: css_class }
          .element__title
            %h3
              - if motion.picture.attached?
                [pic]
              = link_to motion.title, member_motion_path(motion)
            -# Wrapper so the score don't grow in height on small devices
            .element__title__item{ title: t('generic.score') }
              = color_score motion
            .element__title__item{ title: t('generic.comments') } »#{motion.comments.count}
            .element__title__item
              = render 'layouts/actions_dropdown',
                         entity: motion,
                         edit_url: edit_member_motion_path(motion),
                         destroy_url: member_motion_path(motion)
          .element__subtitle
            = t('.last_activity')
            - if motion.comments.last
              - if motion.anonymous
                = t('generic.ago_by_html', time: time_ago_in_words(motion.notable_change_at),
                                           cenobite_tag: cenobite_name(motion.comments.last, parent_id: motion.id))
              - else
                = t('generic.ago_by_html', time: time_ago_in_words(motion.notable_change_at),
                                           cenobite_tag: motion.comments.last.cenobite.name)

            - else
              = t('generic.ago', time: time_ago_in_words(motion.notable_change_at))

      = paginate @motions, window: 2
