- @page_title = t('.title', title: @motion.title)

- content_for :page_actions do
  = link_to t('generic.back'), member_motions_path, role: 'button'

  - if policy([:member, @motion]).edit?
    = link_to t('generic.edit'), edit_member_motion_path(@motion), role: 'button'
  - if policy([:member, @motion]).destroy?
    = link_to t('generic.destroy'),
              member_motion_path,
              method: :delete,
              data: { confirm: t('generic.are_you_sure') },
              role: 'button',
              class: 'destructive'

.content-layout
  %aside.content-layout__panel
    %section.element.element--panel
      %dl.element__content
        %dt= t('generic.definition', value: t('activerecord.attributes.motion.created_at'))
        %dd= t('generic.ago', time: time_ago_in_words(@motion.created_at))

        %dt= t('generic.definition', value: t('activerecord.attributes.motion.updated_at'))
        %dd= t('generic.ago', time: time_ago_in_words(@motion.updated_at))

        %dt= t('generic.definition', value: t('activerecord.attributes.motion.closed'))
        %dd= yes_no @motion.closed

        %dt= t('generic.definition', value: t('activerecord.attributes.motion.cenobite'))
        %dd= cenobite_name @motion, anonymous: @motion.anonymous

        %dt= t('generic.definition', value: t('activerecord.attributes.motion.score'))
        %dd= color_score @motion, show_zeroes: true

    %section.element.element--panel
      .element__content.grid-2
        = downvote_link @motion, css_class: 'block'
        = upvote_link @motion, css_class: 'block'
    %section.element.element--panel
      .element__content
        - if @motion.subscribed? current_cenobite
          %p= t('.unsubscribe_help')
          = button_to t('.unsubscribe'), unsubscribe_member_motion_path(@motion),
                                          method: :post,
                                          role: 'button',
                                          class: 'block'
        - else
          %p= t('.subscribe_help')
          = button_to t('.subscribe'), subscribe_member_motion_path(@motion),
                                        method: :post,
                                        role: 'button',
                                        class: 'block'

  .content-layout__content
    %article
      - if @motion.picture.attached?
        %figure{ data: { type: 'image' } }
          = image_tag picture_url(@motion.picture, :large)
      .motion#motion-content
        .markdown-content#motion-content-text= @motion.content

    %noscript
      .alert.alert--alert= t('member.comments.js_needed')
    = vite_javascript_tag 'markdown'
    :javascript
      document.addEventListener('DOMContentLoaded', () => {
        renderMD($_('motion-content'), $_('motion-content-text'))
        })

    = render 'member/comments/comments', entity: @motion

= vite_javascript_tag 'toggles'
