- css_class ||= ''

- if (policy([:member, entity]).edit? && edit_url) || (policy([:member, entity]).destroy? && destroy_url)
  .dropdown{ class: css_class }
    %button ▼
    .dropdown__menu__outline
      .dropdown__menu__content
        - if policy([:member, entity]).edit? && edit_url
          = link_to t('generic.edit'), edit_url, role: 'button'
        - if policy([:member, entity]).destroy? && destroy_url
          = link_to t('generic.destroy'),
                    destroy_url,
                    method: :delete,
                    data: { confirm: t('generic.are_you_sure') },
                    role: 'button',
                    class: 'destructive'
