:ruby
  title ||= nil
  css_class ||= nil

- content_for :modals do
  .modal{ id: id, class: css_class }
    .modal__widget
      - if title
        .modal__title= title
      .modal__content
        = content
      .modal__actions
        %button{ role: 'button', onclick: "closeModal('#{id}')" }= t('generic.close')
