- page_title = @page_title
!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ name: 'viewport',
           content: 'width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'ie=edge' }
    %link{ rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png' }
    %link{ rel: 'icon', type: 'image/png', sizes: '32x32', href: '/favicon-32x32.png' }
    %link{ rel: 'icon', type: 'image/png', sizes: '16x16', href: '/favicon-16x16.png' }
    %link{ rel: 'icon', type: 'image/x-icon', sizes: '16x16 32x32 48x48', href: '/favicon.ico' }
    %link{ rel: 'manifest', href: '/site.webmanifest' }
    %link{ rel: 'mask-icon', href: '/safari-pinned-tab.svg', color: '#586cb1' }
    %meta{ name: 'msapplication-TileColor', content: '#383c4a' }
    %meta{ name: 'theme-color', content: '#ffffff' }

    %title= page_title || 'Hellraiser.io'
    = csrf_meta_tags
    = csp_meta_tag
    -# Vite client
    = vite_client_tag
    -# Javascript
    = vite_javascript_tag "entrypoints/locales/#{I18n.locale}.js"
    = vite_javascript_tag 'entrypoints/application.js'
    -# Style
    = vite_stylesheet_tag 'entrypoints/styles/application.scss', media: 'all'
    = vite_stylesheet_tag "entrypoints/styles/#{application_theme}.scss", media: 'all'
  %body
    %nav.main-menu
      .main-menu__main-zone
        = active_link_to t('.home'), :root, active: :exclusive
      .main-menu__links.main-menu__links--expandable
        %button.main-menu__trigger #{t('.common')} ▼
        .main-menu__links__outline
          .main-menu__links__content
            - if current_cenobite
              = active_link_to t('.motions'), :member_motions
              = active_link_to :member_chat do
                = t('.chat')
                - if current_cenobite.unread_chat_messages.positive? && !chat_controller?
                  %span.unread *#{current_cenobite.unread_chat_messages}
              = active_link_to t('.events'), :member_events
              = active_link_to t('.fortune'), :random_member_fortunes
              = active_link_to t('.articles'), :member_rss_items
            = active_link_to t('.links'), :links
            - if current_cenobite && policy([:member, Cenobite]).index?
              = active_link_to t('.bottin'), :member_cenobites

      - if current_cenobite
        .main-menu__links.main-menu__links--expandable
          %button.main-menu__trigger #{t('.private')} ▼
          .main-menu__links__outline
            .main-menu__links__content
              = active_link_to t('.dead_man_switches'), :member_dead_man_switches
              = active_link_to t('.pastes'), :member_pastes
              = active_link_to t('.items'), :member_items
        .main-menu__links
          %button.main-menu__trigger #{t('.you')} ▼
          .main-menu__links__outline
            .main-menu__links__content
              = active_link_to t('.acquaintances'), :member_acquaintances
              = active_link_to t('.preferences'), :edit_member_preferences
              = active_link_to t('.likes'), :member_likes
              = active_link_to t('.subscriptions'), :member_subscriptions
              = link_to t('devise.sessions.sign_out'), :destroy_cenobite_session, method: :delete
      - else
        = active_link_to t('devise.sessions.sign_in'), :new_cenobite_session

    - if page_title || content_for?(:page_actions)
      .page__header
        - if page_title
          %h1= page_title
        - if content_for? :page_actions
          .page__actions
            = content_for :page_actions

    .page__content
      = render 'layouts/flash_messages'
      = yield

  - if content_for? :modals
    = vite_javascript_tag 'modals'
    = content_for :modals

  - if current_cenobite&.use_3d_view
    = vite_javascript_tag '3d_view'
